[2020-08-20 19:53] sudhanshuprakash commented on #1383
Okay. So what exactly should I search to resolve this issue?

[2020-08-24 14:41] hwulfmeyer commented on #1381
Did you check that the folder is definitely the correct one when you call the function to save the screenshot? Sounds like the problem is simply an errously made "name-swap" for some reason.

[2020-08-25 13:19] Upma-10 opened #1385 "Unable to wait for a reply while using actions class in Selenium webdriver."
## Description
I am trying to automate whatsapp web. I use actions class in Selenium webdriver in Java. I am able to click on click and write the message and send to chat using action class. But, actions class performs all actions one after the other.  I need to wait for the reply to come for the sent message.

## Environment

* Desktop OS/version : Windows 10

* Real device or emulator/simulator:

[2020-08-26 20:57] sandeep-looker commented on #1351
Same here, using Gradle:

Could not resolve com.github.appium:java-client:158f183526

Possible solution:
 - Declare repository providing the artifact, see the documentation at https://docs.gradle.org/current/userguide/declaring_repositories.html

[2020-08-27 00:29] alyshakt opened #1386 "InvalidElementStateException on SecureTextField is not ready for a text input on iOS/XCUITest"
## Description
Just recently unable to enter text into a XCUIElementTypeSecureTextField on iOS as I consistently get `InvalidElementStateException: Error Domain=com.facebook.WebDriverAgent Code=1 "'"passwordTextField" SecureTextField' is not ready for a text input. Neither the accessibility element itself nor its accessible descendants have the input focus`

I have already tried different identifi

[2020-08-31 10:45] piotrekcz commented on #1021
In my case below exclude in gradle file helped
    implementation ('io.appium:java-client:7.3.0'){
        exclude group: 'commons-logging', module: 'commons-logging'
        exclude group: 'org.seleniumhq.selenium', module: 'selenium-api'
    }
I hope it will be useful.

[2020-09-02 12:18] Khimboy commented on #577
@vikramvi
Downloaded the sample POC (https://github.com/vikramvi/AppiumSerenityPOC)
 you have mentioned but was not able to run and encountered problem below :
`
[main] ERROR net.thucydides.core.webdriver.WebDriverFacade - FAILED TO CREATE NEW WEBDRIVER_DRIVER INSTANCE class io.appium.java_client.AppiumDriver: Could not instantiate new WebDriver instance of type class io.appium.java_client.AppiumD

[2020-09-04 00:29] ohkingdom commented on #1365
I'm trying to get started with Appium in Android Studio and am also facing the same issues. Multiple hours of searching have yielded no results :(

[2020-09-04 15:00] GeorgeXCV commented on #1386
This isn't specific to the Java client. Seeing the same issue on a JavaScript project, also old regression test that has been passing fine for a long time until recently.

**Error:**

**Logs:**
[code]

[2020-09-04 15:21] GeorgeXCV commented on #1386
Downgrading to Appium 1.17.0 has resolved the issue for me. Can we move this issue over to the main repo? @mykola-mokhnach

[2020-09-04 16:47] mykola-mokhnach commented on #1386
@GeorgeXCV Please attach the page source output. It could be the page has multiple elements with duplicated identifiers

[2020-09-04 17:10] mykola-mokhnach commented on #1386
Sorry, I cannot help nothing without the details. Also, you won't be able to use older Appium versions while Apple does new iOS releases.

[2020-09-04 17:45] GeorgeXCV commented on #1386
What details? I have never heard of page source output in the context of an iOS Application. Logs show one element is found. Downgrading is what fixed the issue, I believe its a bug with Appium.

[2020-09-06 10:11] asing451 opened #1388 "Exception in thread "main" org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: pkg: /data/local/tmp/appium_cache/fe8bd862cc4e7d6821b7a3bae1652dfdb700f8ed.apk"
Please help, I'm getting error for below code

**Code to reproduce:**

import java.net.MalformedURLException;
import java.net.URL;

import org.openqa.selenium.WebElement;
import org.openqa.selenium.remote.DesiredCapabilities;

import io.appium.java_client.AppiumDriver;

public class Registration_and_Login {

	static AppiumDriver<WebElement> driver;

	public static void main(String[] args) {
		try

[2020-09-07 06:53] NirBY commented on #1386
Having same issue:
- Appium V1.18.1
- Real Device - iPhone 8, IOS 13.7
- Selector used - MobileBy.iOSNsPredicateString("type == 'XCUIElementTypeTextField' AND value == 'Phone'")

Page Source including"mobile: source" - [20200906084105_872.txt](https://github.com/appium/java-client/files/5181438/20200906084105_872.txt)

Appium Log - [appiumServeriPhone8.log](https://github.com/appium/java-client/fi

[2020-09-07 07:31] mykola-mokhnach commented on #1386
@NirBY Try [W3C actions](https://appiumpro.com/editions/46-sending-arbitrary-keystrokes-with-the-actions-api) to send text as a possible workaround. You could also replace local WDA source with https://github.com/appium/WebDriverAgent/pull/379. I have disabled focus check there, so it makes sense to check if that helps.

[2020-09-07 08:55] msk-dgl commented on #1386
appium/WebDriverAgent#379 This works. I have tested with my test app and I am able to type to StaticTextField.

[2020-09-07 12:48] SrinivasanTarget commented on #1351
Fixed [here](c8cee6ec6fca2872757c1c79ddb0fd65c34ad6ce)

[2020-09-07 12:48] #1351 closed

[2020-09-08 05:45] NirBY commented on #1386
@mykola-mokhnach used [WebDriverAgent 11.7](https://github.com/appium/WebDriverAgent/releases/download/v2.20.4/webdriveragent-xcode_11.7.zip) since I have xcode 11.7 (I have just copy files into /usr/local/lib/node_modules/appium/node_modules/appium-webdriveragent).
It didnt worked, Appium log - [appiumServeriPhone8.log.txt](https://github.com/appium/java-client/files/5186288/appiumServeriPhone8.l

[2020-09-08 12:34] TransmitTomerDavid opened #1390 "Webauthn command routes not found by Appium's WebDriver"
## Description

Executing a custom HTTP command from Appium throws 404 for a given route, but works on ChromeDriver

## Environment

* Kotlin 14 on Java 11
* Java client build 7.3.0
* Appium server 7.3.0
* Desktop OS/version macOS Catalina v10.15.6
* Node.js 12.18.3
* Mobile platform/version under test: Pixel XL, Android 10.0
* Real device or emulator/simulator: Emulator, Android Studio AVD

## De

[2020-09-10 05:54] NirBY commented on #1386
Thank you @mykola-mokhnach.  W3C actions worked for me. while waiting for the release of the new WebDriverAgent.

[2020-09-15 11:42] simon-bertlin commented on #1021
@piotrekcz Do note that this also excludes several features from the Java client. While this solves this error it is not a solution.

[2020-09-15 11:46] piotrekcz commented on #1021
Yes that is true. I've tried to find other better solution but i think is impossible. It have to be fixed in lib.

[2020-09-17 05:49] sudhanshuprakash commented on #1383
@mykola-mokhnach is there any way to launch my appium test on dialect W3C instead of dialect OSS. Because I am getting this error when the app is launching on dialect OSS.

[2020-09-17 10:18] IrfanMattikop opened #1394 "Automation framework not launching the emulator"
## Description

Please describe the issue. If it is a bug, please briefly describe the steps to reproduce and the actual vs expected behavior.
If there is a feature that you would like to see added to the Appium Java client, please describe the necessity of this feature and the way that it should work.

## Environment

* Java client build version or git revision if you use some snapshot:
* Appium

[2020-09-17 10:33] IrfanMattikop commented on #1394
While putting same capabilities on my desktop application of Appium it works as it launches application on emulator

[2020-09-17 17:32] sudhanshuprakash commented on #1383
Hi @mykola-mokhnach . Any suggestions on how to launch my appium application on dialect w3c?

[2020-09-18 21:20] varthikeyan commented on #499
I am getting below error in "service.start()". Someone please help?

(node:1400) Warning: To load an ES module, set "type": "module" in the package.json or use the .mjs extension.
C:\Users\_username_\AppData\Roaming\npm\node_modules\appium\lib\main.js:4
import { init as logsinkInit } from './logsink';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at wrapSafe (internal/modul

[2020-09-19 09:07] sudhanshuprakash opened #1395 "zoom in and zoom out not working on dialect OSS."
## Description

I am trying to implement zoom in and zoom out in my application. Now when I try to do it in my unit test it is working as expected. But when I try it in my integration test it gives an error. The only difference I can find in the two is that when the app is being launched in unit test it works on dialect W3C and when I am working on integration test it works on dialect OSS.

## Env

[2020-09-19 11:03] mykola-mokhnach commented on #1395
This is expected. Actions API is only defined in W3C

[2020-09-19 11:24] sudhanshuprakash commented on #1395
Can you please tell me any alternates for zoom in if actions is not defined in dialect OSS. Or is there any way on which I can only launch my app only on dialect W3C by setting the desired capabilities?

[2020-09-20 06:30] sudhanshuprakash commented on #1395
Hey @mykola-mokhnach . Can you please tell me a workaround so that I can implement zoom ina and zoom out in my code while I am working on dialect OSS. Will like to close this issue.

[2020-09-20 06:49] mykola-mokhnach commented on #1395
I don't know if there is a workaround

[2020-09-20 07:24] sudhanshuprakash commented on #1395
Ok, @mykola-mokhnach . Can you tell me is there any way in which I can make sure that the app that I am launching in appium is getting launched always in dialect W3C. Or if someone else knows whom you can assign this to?

[2020-09-20 10:35] sudhanshuprakash commented on #1395
@mykola-mokhnach .This is the final test on which I am stuck. Would truly appreciate if can get help on this.

[2020-09-20 10:37] #1383 closed

[2020-09-20 11:04] mykola-mokhnach commented on #1395
Try to ask at [Appium forum](discuss.appium.io)

[2020-09-20 13:06] mani537 commented on #1218
To Resolve this Error i have upgraded Appium Version
https://youtu.be/FTODdczjfDc

[2020-09-20 13:35] pranjali420 opened #1396 "Exception in thread "main" org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Original error: Unsupported or unrecognized SSL message"
## Description

Exception in thread "main" org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Original error: Unsupported or unrecognized SSL message
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'User.local', ip: 'fe80:0:0:0:1864:3b50:bdfb:3f54%en0', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '1

[2020-09-20 15:54] mykola-mokhnach commented on #1396
Update the client to the recent version

[2020-09-20 17:03] mani537 commented on #903
The below video was helpful in resolving issue
https://youtu.be/FTODdczjfDc

[2020-09-21 04:42] pranjali420 commented on #1396
I have update the java client to 7.3.0 still not working, getting same error log.

[2020-09-22 05:37] pranjali420 commented on #1396
Working properly thanks.

[2020-09-22 05:38] pranjali420 commented on #1396
Working properly now thanks.

[2020-09-22 05:38] #1396 closed

[2020-09-23 22:54] jineshqa commented on #1310
@shibupanda you are right...it requires OS specific driver to work.

[2020-09-23 22:54] #1310 closed

[2020-09-28 03:38] sudhanshuprakash commented on #1395
This is expected behavior as actions class is only defined for dialect W3C and for zoom we have to find a different way on dialect OSS.

[2020-09-28 03:38] #1395 closed

[2020-10-05 08:49] geeethub opened #1401 "java.lang.AssertionError: expected [*****] but found [∗∗∗∗∗]"
## The problem
In my app after tapping on a specific area certain values are hidden (*****).In my test case I have to check whether after tapping the values are getting hidden or not.
I am trying to assert the asterisk strings but the assertion is failing.
I tried string normalisation, trim , toString but still facing the same issue.
I also tried to do convert latter string to superscript but I am

[2020-10-12 06:55] geeethub commented on #1401
any update on this??

[2020-11-12 23:05] RomanShmandrovskyi opened #1411 "Driver command findElements not wait for implicit wait on iOS real devices"
## Description
When call `driver.findElements` on iOS real device for not existed element it return empty list immediately without implicit wait.

## Environment

* Java client version: latest (7.3.0)
* Appium server version: latest (1.18.3)
* Desktop OS/version: MacOS Catalina 10.15.7
* Node.js version: 12.18.3
* Mobile platform/version: iOS 14.1
* Real device or emulator/simulator: real

## Deta

[2020-11-13 10:08] #1411 closed

[2020-11-14 18:53] omymaelhwary opened #1412 "can't generate zip-with-dependencies.zip file on target folder(maven)"
## The problem

i am trying to generate the zip file in the target folder but i can't.
maven build success (on my project folder -> mvn clean package -DskipTests=true) and jar file & tests.jar file also was generated
but didn’t generate zip-with-dependencies.zip file only jars files... what is wrong here? plz help…

## Details

kindly find the below pom.xml & zip.xml file

pom.xml:

`<?xml version

[2020-11-19 16:19] yavgel opened #1415 "['java-client', version: '7.4.0'] error: package org.openqa.selenium.support.ui does not exist import org.openqa.selenium.support.ui.WebDriverWait;"
- just updated my 'java-client' version, to version: '7.4.0' (Gradle)
- build

having the next error:

![image](https://user-images.githubusercontent.com/8123409/99693228-6c41bb80-2a8b-11eb-8f48-3316cf213e45.png)

with version: '7.3.0' - all is OK

[2020-11-19 22:07] headsvk commented on #1415
Yes I'm also experiencing this issue with many classes. There must be something wrong with the latest jar package.

[2020-11-25 08:32] andres-choco commented on #1415
And not only those, several libraries failed to import when updating to java-client 7.4.0 , also including `org.openqa.selenium.remote.DesiredCapabilities`

[2020-11-27 04:13] ltpquang opened #1416 "'Cannot call non W3C standard command while in W3C mode' when getAvailableLogTypes"
## Description

The following exception is thrown sometimes when I tried to call `getAvailableLogTypes()`.

[code]

Should #1242 fix this?

## Environment

* Java client build version or git revision if you use some snapshot: 7.3.0
* Appium server version or git revision if you use some snapshot: 1.18.3
* Desktop OS/version used to run Appium if necessary: Ubuntu 18.04
* Node.js version: 15.2.1
*

[2020-11-29 06:31] omkarnathsingh commented on #1416
https://github.com/appium/java-client/issues/1242#issuecomment-539075905

Have you put this capability? Need to set w3c as false.

[2020-11-29 06:56] SrinivasanTarget commented on #1415
@andres-choco @headsvk @yavgel thanks for the report. Will definitely look at it today.

[2020-11-29 23:34] mani19297 commented on #668
@amodmahajan2016  thankyou , i changed JAVA SE 1.7 TO JAVA SE 1.8 .Now driver.findElementsByAndroidUIAutomator showing
![Screenshot (187)](https://user-images.githubusercontent.com/71871071/100556601-73f23300-32c9-11eb-9468-e9420d934ae0.png)

[2020-11-30 06:02] SrinivasanTarget commented on #1415
@headsvk @yavgel @andres-choco please add the below dependency explicitly as a temporary solution to solve this problem till we release a patch version. I'm checking on this and will add more details here soon.

[code]

[2020-11-30 08:17] #1415 closed

[2020-12-01 11:29] yavgel commented on #1415
@SrinivasanTarget  - related issues mentioned in this bug still exists in `v7.4.0` and `v7.4.1` - when your fixes will be accessible in public? thanks

[2020-12-01 11:33] yavgel commented on #1415
@SrinivasanTarget  - it does not help for `v7.4.0` and for `v7.4.1`
issue is still relevant

[2020-12-02 13:10] Annu1-cmd commented on #700
Tried this still not working kindly help

[2020-12-02 17:44] hareeshnkp commented on #770
java.lang.IllegalArgumentException: Can not set io.appium.java_client.MobileElement field  to to org.openqa.selenium.remote.RemoteWebElement$$EnhancerByCGLIB$$d27c0df4 when running test in AWS device farm . any one please help .

[2020-12-02 19:12] w3ggy commented on #770
@hareeshnkp
I have the same problem.
Locally it works fine but on AWS Device Farm it doesn't work at all. Fails with

I researched all related issues on the whole Internet and tried a lot of solutions but it doesn't help and seems impossible to solve without AWS Support. Looks like environment issue (driver version of something else)

[2020-12-02 20:39] valfirst commented on #1415
@yavgel could you please provide more details?

[2020-12-03 09:10] valfirst commented on #700
@Annu1-cmd could you please provide details?

[2020-12-03 09:31] Annu1-cmd commented on #700
@valfirst I am using eclipse ide for java developers 4.6.0
Appium server version 1.13
Java version 1.8.0_271
TestNg 6.10
Node js  v12.18.3
OS of  pc windows 10
Mobile platform android 10

[2020-12-03 09:37] valfirst commented on #700
@Annu1-cmd sorry, that's not enough, could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2020-12-03 09:38] Annu1-cmd commented on #700
Should I share the code sample too?

[2020-12-03 09:50] valfirst commented on #700
@Annu1-cmd the project, the steps to run, the error details and etc., in other words everything that could be helpful to reproduce the problem

[2020-12-03 09:54] Annu1-cmd commented on #700
import java.net.URL;
import java.util.concurrent.TimeUnit;

import io.appium.java_client.AppiumDriver;
import io.appium.java_client.MobileElement;
import io.appium.java_client.remote.MobileCapabilityType;
import io.appium.java_client.remote.MobilePlatform;
import org.junit.Test;
import org.openqa.selenium.By;
import org.openqa.selenium.remote.DesiredCapabilities;

public class Grocery60 {

	public

[2020-12-03 10:04] valfirst commented on #700
@Annu1-cmd it's still not enough, please, follow guidelines carefully: [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/)

[2020-12-10 00:51] Kaamini1 opened #1419 "Error- io.appium.java_client.remote.AppiumCommandExecutor$1 lambda$0"
**## Environment**

* Java client build version: 7.2.0
* Appium server version: v1.18.3
* Mobile platform/version under test: Pixel_3_API_29
* Real device or emulator/simulator: emulator

**## Details**
Pom dependencies-
<dependency>
    <groupId>io.appium</groupId>
    <artifactId>java-client</artifactId>
    <version>7.2.0</version>
</dependency>
  	<dependency>
  		<groupId>org.seleniumhq.selen

[2020-12-10 00:59] Kaamini1 commented on #1419
#1251 #1182 #1205

[2020-12-11 11:06] valfirst commented on #1419
- If you use any modern build tool (Maven, Gradle, etc.), please remove custom Selenium dependencies as Appium java client already includes them.
 - If you build the classpath manually or using custom solution please check this comment https://github.com/appium/java-client/issues/1273#issuecomment-559773917 regarding dependencies compatibility

[2020-12-15 09:49] linyayu commented on #965
Why hasn't anyone solved it!!

[2020-12-15 09:58] jenniferhuang commented on #965
which java client version?

[2020-12-18 12:27] boris779 commented on #1044
+1 would really like to see that.

[2020-12-22 13:10] #774 closed

[2020-12-22 13:10] #965 closed

[2020-12-22 13:10] #1247 closed

[2021-01-01 17:01] faizaaslam1 commented on #770
Anyone able to resolve this error? I am facing the same issue.  seems like there's some issue with @AndroidfindBy its working fine with @findBy annotation. I don't know why.

[2021-01-01 19:40] faizaaslam1 commented on #770
Ok I got myself sorted, this worked for me: I wasn't passing driver correctly.
public firebaseScreen(AndroidDriver driverFromStep) {
		this.driver=driverFromStep;
		PageFactory.initElements(new AppiumFieldDecorator(driverFromStep,Duration.ofSeconds(20)),this);
	}
Also refer to this link: https://blog.testproject.io/2018/07/31/page-object-model-appium-java-android/
its really helpful.

[2021-01-11 08:43] ganjarpanji opened #1426 "multiple locators not work for @AndroidFindAll"
` @AndroidFindAll(value = [AndroidBy(id = "button_tooltip", priority = 1), AndroidBy(id = "text_view_tooltip_ok", priority = 2)])`
i defined element as above annotation, but when the ui displayed the second priority element, the driver not able to found it.

[2021-01-18 12:31] sudhanshuprakash opened #1430 "Getting Socket Hang Up error"
Appium version (or git revision) that exhibits the issue: 1.18.0
Last Appium version that did not exhibit the issue (if applicable):
Desktop OS/version used to run Appium:10
Node.js version (unless using Appium.app|exe):v12.14.0
Npm or Yarn package manager:
Mobile platform/version under test:7.1.1
Real device or emulator/simulator: Real Device
Appium CLI or Appium.app|exe: Appium.exe

## Code To R

[2021-01-19 13:13] shamsher786 opened #1431 "Not able to insatiate the AndroidDriver for mobile Autamation."
## The problem

I'm trying to launch the appium server but somehow it's not working now.
Earlier it used to working.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.20.0
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium: Window 10
* Node.js version (unless using Appium.app|exe):
* Npm or Yarn package manager

[2021-01-19 22:50] WoloxAmquinte commented on #770
Hello, in my case, i find that I have a problem with the initialization of driver and this error init driver with null. The problem is that the PageFactory.initElemnts don't show the real error. Verify if the driver is not null before call the PageFactory.initElemnts

[2021-01-20 07:02] xhu2016 opened #1432 "Appium cannot accces JAVA_HOME location (folder does exist but Appium cannot find it)"
Error message:" Original error: The JAVA_HOME location ' /Library/Java/JavaVirtualMachines/jdk-9.0.4.jdk/Contents/Home' must exist"
Appium version: Appium-mac-1.19.1
Java verion: 9.0.4
Machine: Mac OS Catalina. Version 10.15.7.

I manually set the JAVA_HOME variable in Appium configuration. The above folder exists and can be accessed on terminal via the exact path. I also tried  a variation "/usr/

[2021-01-20 08:29] shamsher786 commented on #1431
Any update about this issue.
Thanks

[2021-01-20 09:40] valfirst commented on #1431
@shamsher786 first of all I recommend to upgrade your dependencies to the latest versions

[2021-01-20 10:38] shamsher786 commented on #1431
Hi @valfirst ,
I have updated all my dependency in POM.xml .
After that now I'm facing this below issue.

Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: Neither ANDROID_HOME nor ANDROID_SDK_ROOT environment variable was exported. Read https://developer.android.c

[2021-01-20 13:29] shamsher786 commented on #1431
Thank you @valfirst
worked for me now.

setup the Android sdk path and java home path in environment variable.
https://appiumpro.com/editions/91-getting-started-with-appium-for-android-on-windows

updated all the dependency in pom.xml file

        <dependency>
    		<groupId>io.appium</groupId>
    		<artifactId>java-client</artifactId>
    		<version>7.3.0</version>
		</dependency>

        <dep

[2021-01-20 21:47] lartemyev opened #1433 "It's not possible to extend from MobileElement"
## Description

When I try to extend from the MobileElement class, got a compilation error like reported here: https://discuss.appium.io/t/how-to-extend-mobileelement/21693
Do we have any way to extend from MobileElement?

## Environment

* Java client build version: **1.8.0_271**
* Appium server version: **java-client (v7.4.1), Appium v1.20.0**
* Desktop OS/version: **Windows 10 x64**
* Node.js v

[2021-01-21 10:30] #1431 closed

[2021-01-22 02:40] yosrixp commented on #1021
I came cross the same exact issue and I was able to resolve the dependencies duplication by excluding selenium-api from io.appium:java-client and defined selenium-java as compileOnly scope. Here is my build.gradle deps below.I have posted the answer on StackOverflow. .. check it out https://stackoverflow.com/questions/63089304/duplicate-classes-in-android-studio-when-try-study-appium/65837545#6583

[2021-01-25 14:57] zero03 commented on #1021
@yosrixp , I tried your solution but I  encountered this:

java.lang.NoClassDefFoundError: Failed resolution of: Lorg/openqa/selenium/MutableCapabilities;
        at java.lang.Class.newInstance(Native Method)
        at android.app.AppComponentFactory.instantiateActivity(AppComponentFactory.java:95)
        at android.support.v4.app.CoreComponentFactory.instantiateActivity(CoreComponentFactory.jav

[2021-01-25 21:28] yosrixp commented on #1021
Hi @zero03
Actually i was helping one of my team mate on compiling the code without an issue.. she didn't verify yet if all things works fine at runtime..

however i looked into dependency:tree and i notice selenium-api get remove completely and because of that you got this exception..

i have workaround and it might work for you .

Add this dependency again after io.appium:java-client:7.3.0 dep d

[2021-01-29 15:41] piotrgomola commented on #1426
Actually I had a similar problem, in my case I was using Kotlin. My previous code:
[code]

I received error that lateinit var was not initialized. I looked into appium but the findElement request were all 200, and the element was found. I found out that the problem was that `List` that is used in Kotlin is not being parsed correctly, as it's a part of `package kotlin.collections` which is immutabl

[2021-02-01 02:58] ganjarpanji commented on #1426
@piotrgomola AFAIK you could try using `ArrayList` on kotlin, that should solve the issue.

[2021-02-03 02:52] Kwaiyu commented on #1365
@jarib @hugs @shs96c
ask for help plz.

[2021-02-03 06:21] airc-ccc opened #1436 "java.lang.NullPointerException: null value in entry: lastScrollData=null"
## The problem
I am java beginner, use Appium test my App
## Environment

* Appium version: 1.20.2
* Mac mini, Mac OS BigSur, 11.2:
* Node.js version v15.5.1:
* npm version 7.3.0:
* Mobile platform/version under test:Android 5.1.1
* Real device or emulator/simulator Vivo X7:
* Appium CLI or Appium.app|exe: This appium app `About Appium`: App version: 1.20.0, Electron: 7.2.4, Node.js: 12.8.1

## De

[2021-02-03 15:08] bipin-k opened #1437 "AppiumServerHasNotBeenStartedLocallyException"
Getting issue with starting appium server with following logs, please help!

[31mio.appium.java_client.service.local.AppiumServerHasNotBeenStartedLocallyException: The local appium server has not been started. The given Node.js executable: /usr/local/bin/node Arguments: [/usr/local/lib/node_modules/appium/build/lib/main.js, --port, 14089, --address, 0.0.0.0, --log, --bootstrap-port, 52713, --sessi

[2021-02-04 12:09] sangitaa999 commented on #1436
Hi I am facing the exact same error.
Kindly let me know what was the solution.

[2021-02-04 12:19] valfirst commented on #1436
could you please provide an [SSCCE (Short, Self Contained, Correct (Compilable), Example)](http://sscce.org/) ?

[2021-02-04 13:24] sangitaa999 commented on #1436
Error java.lang.NullPointerException: null value in entry: lastScrollData=null
On line Number:  driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"),c);

____________

 c.setCapability("platformVersion", "10");
	 c.setCapability("deviceName", "emulator-5556");
	 c.setCapability("platformName", "Android");
	 c.setCapability("noReset", "True");
	 c.setCapability("appPackage", "com.ioni

[2021-02-05 07:40] airc-ccc commented on #1436
I rewrote the code and it was fine, But I don't know why does it happen, I don't know the reason.

[2021-02-05 07:49] #1436 closed

[2021-02-07 13:22] LiorLPerfecto commented on #1242
Using Android emulator with:
pixel 4
Android 11
Chromdriver 83

getting error: Cannot call non W3C standard command while in W3C mode
is there a fix for that ?

Not happening on android 10

[2021-02-09 12:19] puresk opened #1440 "mac2 driver instead of mac driver?"
Hi

I took a look at this: [Appium Docs](http://appium.io/docs/en/drivers/mac/index.html) and found:
"_Appium has beta support for automation of OS X desktop applications. Development of this driver happens at the appium-mac-driver, and relies on a native OS X binary called AppiumForMac._"

But when i open either of project i see "_Please consider switching to appium-mac2-driver for over macOS 10.

[2021-02-09 12:19] mykola-mokhnach commented on #1440
https://github.com/appium/java-client/pull/1439

[2021-02-17 17:26] fida10 opened #1444 "Appium IOS tests running when server started manually but not when server is started via AppiumDriverLocalService"
## The problem

Attempting to run Appium automation scripts on iOS (simulator) on a Mac Mini (M1 chip, if that's relevant). When I run the tests, they work just fine when the Appium server is started manually (typing "appium" into the terminal and starting it that way). However, when I attempt to start the appium server programmatically, the application under test fails to launch, with the followi

[2021-02-18 02:47] tyaff opened #1443 "Page Factory for Windows elements?"
## Description

I am trying to do a page factory initialization for Windows 10 elements. However, when I get to the page factory section it will fail. Here is Part of the code I am trying to write:

    @WindowsBy ( xpath = "/Window/Window/Button[1]")
    private WindowsElement callButton;

    public WindowsDialPage(WindowsDriver<WindowsElement> driver){
        PageFactory.initElements(driver, t

[2021-02-18 04:54] mykola-mokhnach commented on #1444
This is how service builder locates the main script path: https://github.com/appium/java-client/blob/ff10d910eae1706d4e0b4888979b9e4ffc91e35d/src/main/java/io/appium/java_client/service/local/AppiumServiceBuilder.java#L141

Make sure it returns a correct path on your env

[2021-02-18 05:59] fida10 commented on #1444
I was able to solve the issue. The fix:

Went to: ~/.npm-packages/lib/node_modules/appium/node_modules/appium-webdriveragent and opened "WebDriverAgent.xcodeproj" in Xcode (12.4), then went into "Build Settings" and changed all the "Build Active Architecture Only" settings to "no", like so:

![Screen Shot 2021-02-18 at 12 50 51 AM](https://user-images.githubusercontent.com/3886263/108311698-71de98

[2021-02-18 16:27] #1444 closed

[2021-02-24 06:44] jongyu commented on #1362
You need to specify the systemPort when building the driver
![image](https://user-images.githubusercontent.com/26176468/108958985-b94ab480-76ae-11eb-82e3-c62f6987eb58.png)

[2021-02-24 12:22] QAthulhu commented on #1362
Thanks @jongyu , unfortunately I'm working on a different team/project now. But this is good to know for future info

[2021-02-24 12:22] #1362 closed

[2021-03-03 03:52] nyaw commented on #1381
@iamporus did you manage to progress or still stuck with the same problem?

[2021-03-04 21:15] mmanikandan88 commented on #1368
@mykola-mokhnach  - can you please tell me which java client version is compatible with selenium 4 ?

[2021-03-04 21:25] valfirst commented on #1368
@mmanikandan88 please take a look at https://github.com/appium/java-client/issues/1273#issuecomment-559773917

[2021-03-10 14:48] mythsunwind opened #1448 "java-client release with Mac2Driver"
## Description

I need a java-client version with the new Mac2Driver support. I can currently build it myself, but i was not able to get it via jitpack.io (see details below). There was no release since November last year. Will there be a new release soon?

## Issue with jitpack.io

I added the following to my pom.xml as described in the README:

[code]

But this results in:

[code]

[2021-03-10 17:38] SrinivasanTarget commented on #1448
@mythsunwind I forget to release it last weekend. Will definitely do it before this Friday and update here.

[2021-03-13 11:34] SrinivasanTarget commented on #1448
@mythsunwind Java Client `7.5.0` is now released with Appium `Mac2Driver`

[2021-03-15 09:33] mythsunwind commented on #1448
Thank you @SrinivasanTarget

[2021-03-15 09:33] #1448 closed

[2021-03-16 13:49] game8149 opened #1450 "is getPerformanceData() working?"
## Description

Hi, actually i can´t find getPerformanceData method from driver. I'm triying all classes and interfaces to instantiate and get that method, there isn't.

Did you remove that method?

[GetPerformanceData](http://appium.io/docs/en/commands/device/performance-data/get-performance-data/#example-usage)

## Environment

* Java client build version or git revision if you use some snapshot

[2021-03-16 17:04] KazuCocoa commented on #1450
https://github.com/appium/java-client/search?q=getPerformanceData Seems there?

[2021-03-19 17:34] fida10 opened #1451 "Attempting to launch + run test cases via parallel instances on Android Emulator"
## Description

Attempting to run parallel testing of Android test cases but test cases are only being executed on one emulator.

## Environment

* Java client build version or git revision if you use some snapshot: 7.3.0
* Desktop OS/version used to run Appium if necessary: Windows 10
* Mobile platform/version under test: **Android**
* Real device or emulator/simulator: **emulator**

## Details

[2021-03-22 14:24] #1451 closed

[2021-03-24 04:05] naveenchandra91 opened #1455 "Rename org.openqa.selenium package due to split package issue"
## Description

We are having split package issue due to the package org.openqa.selenium package. Please rename the package or provide a good way to get rid of the split package issue.

## Environment

* Java client 7.5.0

![image](https://user-images.githubusercontent.com/20183760/112253210-4835f700-8c84-11eb-826f-7781a3bc9ddd.png)

[2021-03-24 14:49] TheOnlyRoshan commented on #1258
@pxr89 @zsamora @ebycloudins @Abhishekgarg727 @jarib I am stuck for more than a week because of this issue. If you guys have come up with a solution, please let me know.
Thanks a lot!

[2021-04-02 10:19] TheOnlyRoshan commented on #1258
@pxr89  @zsamora @ebycloudins @Abhishekgarg727 @jarib found the solution here - https://www.youtube.com/watch?v=sAWDy3UHSZY

[2021-04-05 07:49] janonymus opened #1458 "PageFactory initalization not working in maven test"
## Description

When I create my sample test code, using Pagefactory, running my tests from the tesrunner ( cucumber) or from testng.xml are working as expected.

Then I try to run the testng.xml through maven ( maven test / maven verify)
I get an error on the PageFactory.initElements(new AppiumFieldDecorator(driver), this); line

Exception:
java.lang.RuntimeException: java.lang.NoSuchMethodExcept

[2021-04-05 15:11] tarun3kumar commented on #1197
Had same issue and updated selenoum-server tp following and error disapeared -

`

            <groupId>org.seleniumhq.selenium</groupId>

            <artifactId>selenium-server</artifactId>

            <version>3.141.59</version>

`

[2021-04-06 07:10] janonymus commented on #1458
it's a bit embarrassing, (because i remembered I did this before)
After doing an mvn clean, and an mvn compile again,

Then the issue disappeared. something probably got stuck somewhere and needed a clean again..

[2021-04-06 07:10] #1458 closed

[2021-04-06 09:07] Shrividya commented on #1437
Even I'm facing the same issue.
Any suggestions on this?

[2021-04-07 12:46] deepng opened #1461 "findNodeInCurrentFileSystem fails at command.destroy()"
## The problem

Looks like Appium is looking for a tmp file to destroy, but is not finding it while trying to start the server - `rm: /tmp/deepak.start.74839`

## Environment

* Appium version (or git revision) that exhibits the issue: 1.20.2
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium:m Mac OS X 11.2.3
* Node.js version (unless usi

[2021-04-07 17:28] mykola-mokhnach commented on #1461
Make sure you use the most recent java client version

[2021-04-11 10:55] alanmukh12 opened #1462 "Appium - NoSuchMethodException on PageFactory.initElements(new AppiumFieldDecorator(driver), this);"
## Description

I am seeing a NoSuchMethodException on  PageFactory.initElements(new AppiumFieldDecorator(driver), this);

Stack Trace:
java.lang.RuntimeException: java.lang.NoSuchMethodException: jdk.proxy2.$Proxy8.proxyClassLookup()

	at io.appium.java_client.pagefactory.bys.builder.AppiumByBuilder.prepareAnnotationMethods(AppiumByBuilder.java:85)
	at io.appium.java_client.pagefactory.bys.builde

[2021-04-11 12:18] alanmukh12 commented on #1462
ok I figured this out. When I changed the Project SDK to 1.8, it started working

[2021-04-11 12:18] #1462 closed

[2021-04-11 14:05] PawandeepKaur2405 commented on #1258
@pxr89 Is the issue resolved?

[2021-04-20 18:03] dnicholas2001 commented on #1455
This is a blocker for any Java project using modules!

[2021-04-20 18:15] dnicholas2001 commented on #1086
#1455 Might be related?

[2021-04-20 18:30] dnicholas2001 commented on #1021
Any update on this? Anyway to make `java-client` compatible with Java 9 modules? Might be related to #1455

[2021-04-23 15:04] ajschwieterman opened #1465 "Getting java.lang.NoSuchMethodException when loading PageFactory elements"
## The problem

I am trying to initialize the MobileElements of a screen using the PageFactory, but I get the following exception:

[code]

I think it is looking for a MobileElement search method called `proxyClassLookup` which doesn't exist.

## Environment

* Appium version (or git revision) that exhibits the issue: v1.20.2
* Last Appium version that did not exhibit the issue (if applicable):
*

[2021-04-23 20:18] ajschwieterman commented on #1455
Any update on this issue?

[2021-04-23 20:21] ajschwieterman commented on #1455
I think this might be related to the issue I recently created.  #1465

[2021-04-23 20:22] dnicholas2001 commented on #1455
There might be a solution using `maven-shade` plugin to combine *both* appium and selenium-api into a single JAR. Have been successful in clearing the compile and runtime errors, especially for `ModuleResolutionException`. However, haven't figured out a way to publish the maven shade JAR file.

Pulling in the standalone maven project will also pull in the dependencies, but, we don't want the depen

[2021-04-26 14:29] ajschwieterman commented on #1465
I was using JDK v16, which was using the `jdk.proxy` class instead of the `com.sun.proxy` class.  I switched back to JDK v15.0.2, and it solved the problem!

[2021-04-26 14:29] #1465 closed

[2021-04-27 13:44] naveenchandra91 commented on #1455
@dnicholas2001 : Just combining the Jars wont help. I did think about that. However when I went through the source I got to know that even though they are the same package the contents of the classes are modified to suit Appium needs. hence combining Jars might just overwrite selenium compiled classes with Appium or other way round. Hard to predict that.

The proper solution would be to use differ

[2021-04-27 19:58] dnicholas2001 commented on #1455
@naveenchandra91 Good point, thanks for sharing, hadn't considered that.

I wonder if Selenium 4 will solve this issue?

[2021-05-01 11:59] mahlatse-git opened #1467 "Appium runtime error"
I get this error when i run my android framework using port 8080, "it is impossible to create a new session because ' createsession'  which takes httpclient, inputstream and long was not found or it is not accessible"

 Please anyone what might be the issue?

[2021-05-03 20:06] ajschwieterman opened #1470 "Switch from cglib to byte-buddy"
## Description

After launching the first instance of the Appium driver, I get the following warning:

[code]

It seems like the best solution to avoid this warning would be to replace `cglib` with `byte-buddy` based on this [issue](https://github.com/dmulloy2/ProtocolLib/issues/947).

## Environment

* Java client build version or git revision if you use some snapshot: v7.5.0
* Java version: v15.

[2021-05-04 13:09] chanchalsoni123 commented on #1263
I AM also facing the same issue, but why this is till open, no one has solution for this yet?

[2021-05-19 09:50] DmitryMishtal commented on #1440
@mykola-mokhnach

Hello Mykola,

Seems like something wrong with Mac2 driver (or i've made a mistake?), but if i search element through Mac2Driver<Mac2Element>, i cannot cast found element into Mac2Element and getting ClassCastException (in debug i can see RemoteWebElement was found)

For example, code:

[code]

is throwing:

[code]

[2021-05-19 22:57] HaxThePlanet commented on #1258
This fixed "Duplicate class org.openqa.selenium.SearchContext" for me:

TLDR: open java-client jar, remove those classes.

https://www.youtube.com/watch?v=sAWDy3UHSZY

[2021-05-21 11:11] pabloleal1 opened #1475 "SnapshotMaxDepth, how to set."
Hello,

Using Appium desktop with the following capability   "settings[snapshotMaxDepth]": "65" I'm able to locate all the elements present on my app, however, I dont know how to set snapshotMaxDepth = 65 on my test.

I've trying to set as follow but I'm getting an error
Driver = Appium Driver
<img width="374" alt="Sin título" src="https://user-images.githubusercontent.com/25209957/119128278-bfde9

[2021-05-24 08:53] pabloleal1 commented on #1475
@KazuCocoa thank you ever so much!

[2021-05-24 18:50] prasanta-biswas commented on #1100
Still facing this issue in appium java client and 7.5.1. Any plan to fix this?

Although excluding cglib from java client and manually adding cglib 3.2.5 solved the issue.

[2021-05-24 19:38] #1475 closed

[2021-05-24 22:21] bearxc opened #1476 "Can not specify default-capabilities on Windows"
appium java client 7.5.1 on windows platform

appiume server:1.21.0,

AppiumServiceBuilder serviceBuilder = new AppiumServiceBuilder();

......

DesiredCapabilities caps = new DesiredCapabilities();

caps.setCapability("noSign", true);

serviceBuilder.withCapabilities(caps);

AppiumDriverLocalService server = AppiumDriverLocalService.buildService(serviceBuilder);

server.start();

appium: error: a

[2021-05-25 06:25] mykola-mokhnach commented on #1476
Check https://github.com/appium/java-client/pull/1454

[2021-05-25 17:14] bearxc commented on #1476
yes,  workaround works fine
caps.setCapability("\"noReset\"", "\"true\"");

[2021-05-27 11:32] jinmoo21 opened #1477 "io.appium.java_client.service.local.InvalidServerInstanceException: The main Appium script does not exist"
## Description
Launching custom driver that extends AppiumDriver, it raises InvalidServerInstanceException.

## Environment
* Java client build version: 7.5.1
* Appium version: 1.21.0
* Desktop OS/version: Mac OS Big Sur
* Node.js version: 16.1.0
* Mobile platform/version under test: Android 10.0
* Real device: Galaxy S9

## Code To Reproduce Issue
[code]

## Exception Stacktraces
[code]

## Link

[2021-05-27 11:41] jinmoo21 commented on #1477
issue closed. it was my mistake :)

[2021-05-27 11:41] #1477 closed

[2021-06-03 07:39] Pewliedie opened #1481 "java.lang.ClassCastException: when trying to call method getVisualization().length"
## Description

I'm trying to use OccurrenceMatchingResult using openCV. When I'm calling method  getVisualization().length
the error appears

`java.lang.ClassCastException: class com.google.common.collect.Maps$TransformedEntriesMap cannot be cast to class java.lang.String (com.google.common.collect.Maps$TransformedEntriesMap is in unnamed module of loader 'app'; java.lang.String is in module java

[2021-06-03 07:50] mykola-mokhnach commented on #1481
- Make sure you use the most recent Appium server version (preferably appium@beta)
- Please provide the actual server log as well

[2021-06-03 09:02] carreinbert commented on #1381
I get the same issue: while testing on multiple Android devices in parallel, the screenshots between those devices are mixed.

- Appium Java client 7.5.1
- Testing on real devices

[2021-06-03 12:32] Pewliedie commented on #1481
here is log [appiumLog.txt](https://github.com/appium/java-client/files/6591614/appiumLog.txt)
updated to the latest version Appium, The problem is still reproducible

[2021-06-03 12:35] mykola-mokhnach commented on #1481
It should be resolved in appium@beta

[2021-06-03 12:52] Pewliedie commented on #1481
Yes it is, the problem is solved by npm install -g appium@beta.
Thank you!

[2021-06-03 12:52] #1481 closed

[2021-06-06 05:55] Kajugul commented on #949
set your android driver like this 'private AndroidDriver<WebElement> driver = null;'
and degrade java-client to 7.4.1.
your issue will be resolved.

[2021-06-08 12:54] fantpmas commented on #1381
Any update on this? Having the same issue.

[2021-06-10 00:09] MobileTester opened #1482 "Mac2Driver - JavaClient - How to perform scroll or swipe action"
Using Mac2Driver with Java Client to automate Mac Desktop application.
In one of the test steps, need to perform a scroll action before clicking on the element. Checked the documentation, but did not find a way to implement the scroll using Java client. Any inputs for the same will be much helpful.

## Environment

* Java client build version  - 7.5.1
* Appium server version  - 1.21.0
* Desktop OS

[2021-06-20 07:18] Iamashishnaik commented on #1285
even i face the same issue ,let me know if you find any answer:)

[2021-06-23 12:46] YenikeRaghuRam opened #1488 "java.lang.IllegalArgumentException: No enum constant io.appium.java_client.Setting.customSnapshotTimeout"
## The problem

Unable to update Setting "customSnapshotTimeout"

## Environment

* Appium version (or git revision) that exhibits the issue:1.21.0
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium:macOS 11.4
* Node.js version (unless using Appium.app|exe):
* Npm or Yarn package manager:
* Mobile platform/version under test:14.6 iPad
* Re

[2021-06-24 10:40] prasannaThanu opened #1489 "Im getting org.openqa.selenium.UnsupportedCommandException: actions , exception when executing in BrowserStack environment."
## Description
Im getting org.openqa.selenium.UnsupportedCommandException: actions , exception when executing in BrowserStack  environment for IOS devices . But while executing in local machine for IOS simulator same thing is working as expected

## Environment

* Java client build version or git revision if you use some snapshot: 7.5.1
* Appium server version or git revision if you use some snaps

[2021-06-29 14:16] prasannaThanu commented on #1489
@mykola-mokhnach could U plz help me on this

[2021-06-29 14:31] mykola-mokhnach commented on #1489
Unfortunately I cannot. Consider contacting BS customer support.

[2021-06-29 20:42] VictorS8 commented on #1279
If you still with this error, let me know which java version you are using on your IDE, because I was passing thought-out it and changing to java 1.8 on Intellij made work again

https://stackoverflow.com/questions/45718145/intellij-errorjava-java-lang-exceptionininitializererror/45718481

[2021-07-01 15:23] pabloleal1 opened #1491 "Not possible to double click on element"
After trying to set the appium method for double click:
     Actions action = new Actions(driver);
            action.moveTo(element);
            action.doubleClick();
            action.perform();
I'm getting the next error
<img width="281" alt="Sin título" src="https://user-images.githubusercontent.com/25209957/124149281-b9115a00-da90-11eb-936f-f0d998223ff6.png">

For our project, we are using

[2021-07-02 23:53] jlipps commented on #1491
I don't think this class is the current w3c standard actions class. @SrinivasanTarget can you provide guidance here?

[2021-07-03 02:45] SrinivasanTarget commented on #1491
@pabloleal1 you can refer to double click or any gesture example here https://www.github.com/saikrishna321/VodQaAdvancedAppium/tree/master/src%2Ftest%2Fjava%2Fcom%2Fappium%2Fgesture%2FGestureTest.java

[2021-07-14 05:39] kskbibliophile opened #1493 "Exception in main thread"
## The problem

Why there is an exceprion while using appium driver **"### Exception in thread "main" java.lang.ExceptionInInitializerError"**.
Caused by: **### java.lang.IllegalArgumentException: Unknown HttpClient factory netty**
 I'm just trying to open native calculator app

 java version "13.0.2"

## Details

Here is my code
package appium_test;

import java.net.MalformedURLException;
import

[2021-07-19 09:11] rpiwko commented on #770
For people getting this exception on AWS while everything works OK locally... What helped me was to try different combinations of client and server versions, e.g. these setups work fine when project executed against AWS:
1. server: v1.18.3 (Oct 27, 2020), client: v7.2.0 (Aug 27, 2019)
2. server: v1.15.1 (Oct 13, 2019), client: v7.2.0 (Aug 27, 2019)

Above solution requires using custom environment

[2021-07-22 10:11] YenikeRaghuRam opened #1498 "PushFile Method is not shown in java client for both android and iOS drivers"
## Description

PushFile Method is not shown in java client for both android and iOS drivers

## Environment

* Java client build version or git revision if you use some snapshot: 7.5.1
* Appium server version or git revision if you use some snapshot: 1.21.0
* Desktop OS/version used to run Appium if necessary:macOS BigSur
* Node.js version (unless using Appium.app|exe) or Appium CLI or Appium.app

[2021-07-25 11:21] chuklov opened #1499 "Please advice on the issue Could not initialize class io.appium.java_client.remote.AppiumCommandExecutor"
## The problem

After upgrading to Appium 1.21.0 I have an issue
Could not initialize class io.appium.java_client.remote.AppiumCommandExecutor

## Environment

* Appium version (or git revision) that exhibits the issue: 1.21.0
* Last Appium version that did not exhibit the issue (if applicable): 1.18.3
* Desktop OS/version used to run Appium: 1.20.2
* Node.js version (unless using Appium.app|exe):

[2021-07-27 07:04] ashokkumarg commented on #1221
@HoLeAnh Did you find the solution?

[2021-07-27 14:50] singh-swati28 commented on #1232
@KazuCocoa , any suggestion how can I pass below chromeOptions in Android:
var args = new ChromeOptions();
            {
                args.AddArguments("--use-fake-ui-for-media-stream");
                args.AddArguments("--use-fake-device-for-media-stream");
                args.AddArguments("--use-file-for-fake-video-capture=E:\\sample.y4m");
            };

These are working in desktop web b

[2021-07-27 19:16] KazuCocoa commented on #1232
Could you attach the full appium log, please?

I guess you passed the below option, but it did not work on chromedriver for Android. (Btw, the error seems by chromedriver. Nothing can do in Appium side)

[2021-07-30 04:51] mohamed8681 opened #1502 "can not record video on real device iOS on my mac m1"
## The problem

when try to record video in real device iOS
then i reinstall also ffmpeg by
brew install ffmpeg

the video is recorded by corrupted 0 byte
it appeared issue
**unknown server-side error occurred while processing the command. Original error: ‘ffmpeg’ binary is not found in PATH. Install it using ‘brew install ffmpeg’. Check https://www.ffmpeg.org/download.html 1 for more details**.

[2021-07-30 08:43] mohamed8681 commented on #1502
Thanks for great support
i put the path as original in env

env.put(“PATH”, config .getProperty(“PATH”));

and finally it is working

can you ask you another question >> if i must do all steps of WebDriverAgent even few days because i surprised that it is deleted from my device and the appium test script did not work so i idid all steps again https://github.com/appium/appium-xcuitest-driver/blob/m

[2021-08-02 21:24] ma540x opened #1503 "contains"
## Description

Please describe the issue. If it is a bug, please briefly describe the steps to reproduce and the actual vs expected behavior.
If there is a feature that you would like to see added to the Appium Java client, please describe the necessity of this feature and the way that it should work.

## Environment

* Java client build version or git revision if you use some snapshot:
* Appium

[2021-08-02 21:32] #1503 closed

[2021-08-05 03:27] RehanProgrammer opened #1504 "io.appium.java_client.service.local.AppiumServerHasNotBeenStartedLocallyException: The local appium server has not been started. The given Node.js executable: /usr/local/bin/node Arguments: [/usr/local/lib/node_modules/appium/build/lib/main.js"
## Description

HI, Im facing this issue of starting appium server programatically. I have gone through many other github threads about this same issue but to no luck.

## Environment
    Appium version: 1.21.0 (latest)
   Node: v12.19.0

## Details
I am calling the service on rest template. I tried many ways of starting an appium server programmatically but non worked. Please help

## Code To Rep

[2021-08-05 04:14] KazuCocoa commented on #1504
What's the output when you run the command manually?

[2021-08-05 04:22] KazuCocoa commented on #1504
Perhaps loglevel info/debug helps at first.

[2021-08-05 13:40] RehanProgrammer commented on #1504
when i run the command "node /usr/local/lib/node_modules/appium/build/lib/main.js", appium starts on terminal. My node executable path is /usr/local/bin/node

[2021-08-05 15:12] RehanProgrammer commented on #1504
Also my appium is installed globally via "npm i -g appium". On terminal, i can start the appium by running "appium".  I am using jdk 11 in this case. I have also given read, write, execute permission to both directories

[2021-08-06 07:05] KazuCocoa commented on #1504
What about running the server like tests https://github.com/appium/java-client/blob/0e05078d0ae8e4bebb80080790712e933e2ea666/src/test/java/io/appium/java_client/android/BaseAndroidTest.java#L40 ?

[2021-08-06 07:39] RehanProgrammer commented on #1504
I would like to start appium programmatically on a specific port. Is there anyway i can do that like the example above. I am developing an application which needs to start appium

[2021-08-11 13:20] hanging-with-my-gnomies commented on #888
Hello, do you found a solution?

[2021-08-16 01:25] gaganchawla commented on #1450
I am facing the same issue, it says Cannot resolve getPerformanceData()

[2021-08-16 09:13] Karthikvt143 opened #1505 "Error: Cannot verify the signature of '/Applications/Appium.app/Contents/Resources/app/node_modules/appium/node_modules/appium-uiautomator2-server/apks/appium-uiautomator2-server-v4.21.1.apk'. Original error: The JAVA_HOME location '$(/usr/libexec/java_home -v 1.8)' must exist"
Error: Cannot verify the signature of '/Applications/Appium.app/Contents/Resources/app/node_modules/appium/node_modules/appium-uiautomator2-server/apks/appium-uiautomator2-server-v4.21.1.apk'. Original error: The JAVA_HOME location '$(/usr/libexec/java_home -v 1.8)' must exist

Below are the appium logs logged while executing code:

Appium v1.21.0 creating new AndroidUiautomator2Driver (v1.65.0) s

[2021-08-16 09:20] mykola-mokhnach commented on #1505
https://github.com/appium/java-client/blob/master/docs/environment.md

[2021-08-16 09:39] Karthikvt143 commented on #1505
Thanks, the resolved!! the above exception occured when using appium UI, I downloaded appium from brew and started using from terminal

[2021-08-17 11:10] Karthikvt143 commented on #1505
above exception reflecting when using appium gui, can anyone say how to resolve it

[2021-08-25 04:48] nocomply78 commented on #1273
@mykola-mokhnach, @SrinivasanTarget , @KazuCocoa
Are there any plans to support beta versions of Selenium - perhaps in beta versions of Appium? (there's at least one improvement in 4.0.0-beta-4 that I would like to make use of in my test framework)

[2021-08-30 15:06] pabloleal1 commented on #1491
Hi all,

We are still getting the same error.

Any help would be appreciated!

[2021-08-31 16:20] saikrishna321 commented on #1491
@pabloleal1 What error are u getting?

[2021-09-01 08:34] pabloleal1 commented on #1491
Hi @saikrishna321,

We were getting the same error as shown above however we solved using the methods for appium 1.21.0

Thanks!

[2021-09-01 13:23] #1491 closed

[2021-09-03 04:46] tandt53 opened #1509 "Driver wait 10 seconds to find element, even implicit wait is not set"
## Description

I do not set implicit wait, but driver keep wait until element found.

## Environment

* Java client: v7.5.1
* Appium server: 1.21.0
* Mobile platform/version under test: Android
* Real device or emulator/simulator: emulator

## Details

Application: has 1 button and 1 textview.
- TextView: id `txtTen`. It is default set to visibility=gone in android xml file.
- Button: id `btnTen`

[2021-09-03 05:27] mykola-mokhnach commented on #1509
https://github.com/appium/appium/issues/14594

[2021-09-03 08:01] StephanB75 opened #1510 "java.lang.ClassCastException: com.google.common.collect.Maps$TransformedEntriesMap cannot be cast to java.lang.String"
## Description

I use the image comparison feature of appium and since last update of appium, saving the comparison result picture when a failure occure is broken and throws an exception.
It throws the ecception on this function

res.storeVisualization(failViz);

I have checked the code in github and it looks like that in the class "ComparisonResult.java" line 63
a map is casted to String.

[2021-09-03 08:03] tandt53 commented on #1509
I added settings `driver.setSetting(Setting.WAIT_FOR_IDLE_TIMEOUT, 1);` but the issue still there

[2021-09-03 08:20] mykola-mokhnach commented on #1510
There's a known bug there. Try appium@beta or appium@rc instead

[2021-09-03 08:31] StephanB75 commented on #1510
Thanks, do you know if that will be also fixed than in appium 2.0 which will hopefully be released in next weeks ?

[2021-09-03 08:33] mykola-mokhnach commented on #1510
In v2.0 this code has been moved to a separate plugin and the recent version of it should have the fix

[2021-09-07 20:33] casualisyourhope commented on #770
Hello! I think I have a solution. i've found that the driver = null when i've executed class (which contain PageFactory.initElemnts). So i've executed class after when the driver has not already been = 0

[2021-09-19 14:00] tandt53 commented on #1509
Issue caused by my application. I fixed it.

[2021-09-19 14:00] #1509 closed

[2021-09-20 08:14] RSuyal opened #1515 "[Need Immediate Help] Script is getting terminated as soon as Page Object class is initialized while executing Test script through Eclipse for Android testing using Java+Eclipse+Maven+Appium+Enulator."
## The problem

Script is getting terminated as soon as Page Object class is initialized while executing Test script through Eclipse.
Earlier every this was ok, only after once I used UiAutomator2 as Automation Name this issue started. Now I have again replaced Automation Name back to Appium but every time I initiate Page Object Class the program terminates and all test fails.

## Environment

* A

[2021-09-20 11:39] RSuyal commented on #1515
@KazuCocoa Any Idea for the default location of "uia2" logs on Windows.

Just to make the issue clear.. I would like to tell that all works fine if I am not using page factory to locate the elements, only when I initialize page factory then there only the test terminates and test case is shown as failed.

Also if any one is available to connect via google meet to fix this.. Please comment here.

[2021-09-22 17:51] igorgiumellizup opened #1519 "Bug: Password elements returning empty text on Android 6"
## Description

Hi. I have an app that has password elements (EditText widget) and I noticed that on Android 6, the text property is retuning empty even when we type something on it or when it comes with placeholder. I testes on Android 8 and 11, and it works, that is, the text returns the correct value,

## Environment

Java 14
Appium client 7.5.1
Appium server 1.21.0
Android emulator running And

[2021-09-23 07:26] KazuCocoa commented on #1515
I'm not familiar with Java client usage. https://discuss.appium.io/ may help to ask questions.

[2021-09-24 15:56] baselalali opened #1520 "Unable to automate Chrome version because it is too old for this version of Chromedriver."
## Description

I am executing test with chrome driver webview. The test is fine for android version older than 10, but for other version an wried error is displayed.

## Details
[code]

Any help?

[2021-09-27 11:23] anilgak opened #1521 "getting error message when trying to install an app in adroid studios trought appium server."
## The problem

getting error message when trying to install an app in android studios trought Appium server.

## Environment

Used Tools : Selenium, Android studios, JAva version 11, appium 1.22.

*********************************************Error message************************************************************
*******************************************************************
error message:

[2021-09-28 07:54] hytaoist commented on #1092
Thank you also. it worked also for me @dokmetas.

[2021-09-29 10:16] srenu09 opened #1522 "Unable to launch ios app using appium"
## The problem
Unable to create a new remote session. Original error: unexpected end of stream on Connection{127.0.0.1:4723, proxy=DIRECT hostAddress=/127.0.0.1:4723 cipherSuite=none protocol=http/1.1}
## Environment

*In real iPhone SE
* Unable to launch my mobile app

## Error Details
org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Original error: unexpecte

[2021-10-06 06:43] SpencerMelo opened #1525 "How to disable/supress the following logs: AppiumCommandExecutor and Detected dialect: W3C"
## Description
First, it's not a bug.

Currently, due to the amount of tests I run in parallel (20+) there is one log that keep spamming and I have no idea on how to disable it, I tried different things as we do in Selenium, but I had no success in Appium.

Throwing things into dev/null, changing log level and etc, but not a single success.

I don't know if it's already possible, but can we disabl

[2021-10-08 10:00] RSuyal commented on #1515
@mykola-mokhnach Can you please check these logs as I tried to run a project that I created in past which use to run correctly but now it's failing.. There must be something from server side.. Can you please help:

**APPIUM Server Logs**:

[HTTP] Waiting until the server is closed
[HTTP] Received server close event
[Appium] Welcome to Appium v1.21.0
[Appium] Non-default server args:
[Appium]   ses

[2021-10-08 10:11] RSuyal commented on #1515
@KazuCocoa There are no changes made in the script and same script is running on other system without any error... what I an observe is we are not getting locators from server side, and this is where program breaks.

If you can do something about this it will be a great help..
Thanks!

[2021-10-11 12:10] yogi0067 commented on #1286
Please Start user Appium Server.
Go to Commnd line and  type appium, i will automatically use port 4723.

[2021-10-12 15:10] BOYKHMER opened #1529 "// Maven users can add this dependency to project's POM <dependency> <groupId>io.appium</groupId> <artifactId>java-client</artifactId> <version>7.0.0</version> </dependency>"

[2021-10-13 02:19] #1529 closed

[2021-10-17 12:09] PramodKumarYadav opened #1532 "Bug: Two extra spaces in capability "systemPort ," makes it bug prone when trying to fetch value for this key. I was fetching this value for "systemPort" without spaces and got null. With space, got right result."
## The problem

Appium capability "systemPort  " has extra spaces in the end. I was trying to fetch this capability based on the key "systemPort " without spaces and was getting null. On careful analysis I saw there were extra spaces after text "systemPort  " and with adding those, I could fetch system port.

Below is an example.
`[INFO] 2021-10-17 13:26:27,260 AvailableDevices: all available capa

[2021-10-20 09:50] nhhphuong opened #1536 "Appium displays an error "org/openqa/selenium/remote/internal/JsonToWebElementConverter" when I used Selenium 4.0 official release with all versions of java-client"
## Description

java.lang.NoClassDefFoundError: org/openqa/selenium/remote/internal/JsonToWebElementConverter
	at common.ContextSteps.setUp(ContextSteps.java:86)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	a

[2021-10-21 02:19] #1273 closed

[2021-10-24 21:12] SACHINHJIBHAKATE opened #1544 "Page Object Model Issue - Appium failing to locate elements on Android App - Exception in thread "main" java.lang.NullPointerException: Cannot invoke "org.openqa.selenium.WebElement.click() -- ELEMENT returned by the Page Object Class is NULL"
**The Problem:**
------------------------------------------------------------------------------------------------------------------------------------------
Page Object Model Issue:
Appium failing to locate elements on Android App - java.lang.NullPointerException
ELEMENT returned by the Page Object Class is "NULL" - therefore click() action is returning a NullPointerException
----------------------

[2021-10-25 12:18] SACHINHJIBHAKATE opened #1547 "Page Object Model Issue - Appium failing to locate elements on Android App - Exception in thread "main" java.lang.NullPointerException: Cannot invoke "org.openqa.selenium.WebElement.click() -- ELEMENT returned by the Page Object Class is NULL"
**The Problem:**
------------------------------------------------------------------------------------------------------------------------------------------
Page Object Model Issue:
Appium failing to locate elements on Android App - java.lang.NullPointerException
ELEMENT returned by the Page Object Class is "NULL" - therefore click() action is returning a NullPointerException
----------------------

[2021-10-25 13:59] #1547 closed, assigned to nobody

[2021-10-25 21:19] KazuCocoa opened #1549 "Deprecate TouchAction and MultiTouchAction"
Root issue: https://github.com/appium/appium/issues/16009

MultiTouchAction https://github.com/appium/java-client/blob/0e05078d0ae8e4bebb80080790712e933e2ea666/src/main/java/io/appium/java_client/MultiTouchAction.java
TouchAction  https://github.com/appium/java-client/blob/0e05078d0ae8e4bebb80080790712e933e2ea666/src/main/java/io/appium/java_client/TouchAction.java

[2021-10-31 15:32] sudharsan-selvaraj commented on #1544
@SACHINHJIBHAKATE , you are using incorrect overloaded method for `PageFactory.initElements()`. The second argument should be `this` (instance of the page class) instead of `HomePage.class`.

[2021-11-01 11:35] ayuryev opened #1575 "Getting java.lang.NoSuchMethodException when loading PageFactory elements in Java16+"
## Description

Failed to switch to Java 17 due to issue with running Appium tests:

[code]

Java 16 also failed. Java 15 is OK.

## Environment

* Java client build version or git revision if you use some snapshot: 17
* Appium server version or git revision if you use some snapshot: 1.22.0
* Desktop OS/version used to run Appium if necessary: MacOs Big Sur 11.6
* Node.js version (unless using App

[2021-11-02 08:23] SACHINHJIBHAKATE commented on #1544
@sudharsan-selvaraj - spot on. it has worked. I read it in one of the forums, so was using 'FormsPage.class' instead of 'this. All good now.

Old: PageFactory.initElements(new AppiumFieldDecorator(driver),FormsPage.class);
Updated (correct way): PageFactory.initElements(new AppiumFieldDecorator(driver),this);

I would really like to thank you for your support.

Closing this issue.

[2021-11-02 08:23] #1544 closed

[2021-11-03 09:58] #494 closed

[2021-11-03 09:59] #550 closed

[2021-11-03 13:16] darkfrog26 opened #1579 "BrowserStack unable to create new session with Appium 8 Beta"
## Description

Attempting to upgrade to Selenium 4 and Appium 8 Beta seems to break BrowserStack. Local testing works great, but when I attempt to establish a session with BrowserStack with the following capabilities:

[code]

I get this stack trace:

[code]

## Environment

* Java client build version or git revision if you use some snapshot: 8.0.0-beta
* Appium server version or git revision if

[2021-11-03 13:24] mykola-mokhnach commented on #1579
Have you tried to contact their customer support?

[2021-11-03 13:27] valfirst commented on #1579
@darkfrog26 it seems you are using capabilities for legacy protocol, check the configurator: https://www.browserstack.com/automate/capabilities?tag=selenium-4

[2021-11-03 13:49] codingcycle opened #1580 "Unsupported or unrecognized SSL message"
I am trying to connect to emulator via appium server but while running the code it is throwing the below error. Someone please help to provide the solution.

Exception in thread "main" org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Original error: Unsupported or unrecognized SSL message
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-

[2021-11-03 13:55] darkfrog26 commented on #1579
@mykola-mokhnach yes, I have, but they haven't been very helpful thus far.
@valfirst I just realized this and that solved the problem. Thanks for the quick response!

[2021-11-03 13:55] #1579 closed

[2021-11-03 14:09] mykola-mokhnach commented on #1575
Thanks for checking this @ayuryev
Feel free to push a PR.

[2021-11-03 14:14] ayuryev commented on #1575
UPD2: but then new issue appears - since Java 9 there is more strict rules for encapsulation and especially in Java 17 it is not possible to access encapsulated modules from other libraries (AFAIK). It becomes an issue here in Appium Java Client with `cglib`:
[code]
It makes Appium incompatible with Java 17 by the moment.

[2021-11-03 14:17] ayuryev commented on #1575
@mykola-mokhnach cglib (and probably other reflection issues) has to be resolved first I guess. Otherwise it will be hollow fix - it will not make Appium work for Java 17

[2021-11-03 15:37] riniangreani commented on #577
Hi all, I had this problem before. I figured it out by using AppiumFieldDecorator in initElements parameter. I hope this helps someone.  e.g.
PageFactory.initElements(new AppiumFieldDecorator(driver), this);

[2021-11-03 17:11] KazuCocoa commented on #1580
I guess java client cannot handle the ssl.

Btw, did the below message indicate your local environment? Then, I guess the time was wrong.

[2021-11-03 18:48] jlipps commented on #1580
Yes, what is your test code connection details?

[2021-11-04 07:07] sanoj-s commented on #1361
@mykola-mokhnach getting the same error,

Exception in thread "main" java.lang.AbstractMethodError: Receiver class io.appium.java_client.service.local.AppiumServiceBuilder does not define or inherit an implementation of the resolved method 'abstract java.util.List createArgs()' of abstract class org.openqa.selenium.remote.service.DriverService$Builder.
	at org.openqa.selenium.remote.service.Driver

[2021-11-04 07:10] valfirst commented on #1361
Selenium 4 is supported starting from `8.0.0-beta` version.

[2021-11-04 10:25] codingcycle commented on #1580
Hi Jlipps,

Below is my test code

`package mobiletest;

import java.net.MalformedURLException;
import java.net.URL;
import java.util.concurrent.TimeUnit;

import org.openqa.selenium.remote.DesiredCapabilities;

import io.appium.java_client.android.AndroidDriver;
import io.appium.java_client.android.AndroidElement;
import io.appium.java_client.remote.MobileCapabilityType;

public class Base {

	pu

[2021-11-04 10:39] codingcycle commented on #1580
It started connecting to server after I changed it from https to http. Thanks a lot.

[2021-11-04 10:39] #1580 closed

[2021-11-04 13:48] ayuryev commented on #1575
https://github.com/cglib/cglib/issues/191 - known issue
However workaround exists and it works for me - https://dev.to/jjbrt/how-to-make-reflection-fully-work-on-jdk-16-and-later-ihp
@mykola-mokhnach Could you please add me to the list of contributors? Currently I'm not able to push the changes
[code]

[2021-11-04 13:51] mykola-mokhnach commented on #1575
Please create a fork of this project and then you'd be able to create a PR from that fork. This is a safer approach.

[2021-11-04 13:53] mykola-mokhnach commented on #1575
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2021-11-05 09:21] ravireddy07 commented on #1239
Anyone got the solution..?
I'm able to lanuch one app, but not the other app.... getting This error.

`org.openqa.selenium.UnsupportedCommandException: Method is not implemented`

[2021-11-05 15:17] ayuryev commented on #1575
Fixed

[2021-11-05 15:17] #1575 closed

[2021-11-05 18:51] jlipps commented on #1580
Yes, you never want to use https with localhost unless you've set up your own ssl locally.

[2021-11-06 11:32] dipakkumar1225 opened #1585 "java.lang.NoClassDefFoundError: org/openqa/selenium/remote/internal/JsonToWebElementConverter when used selenium 4.0"
## The problem
Getting error org/openqa/selenium/remote/internal/JsonToWebElementConverter, when I added selenium 4.0

[code]

## Environment

* Appium version (or git revision) that exhibits the issue:
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium: Windows 10
* Node.js version (unless using Appium.app|exe): v14.18.0
* Npm or Yarn pac

[2021-11-06 11:32] #1585 closed

[2021-11-06 11:33] mykola-mokhnach commented on #1525
This log has been removed since the beta version of the client as it only supports W3C

[2021-11-07 10:56] Trigtrig opened #1586 "[Question] Is there a roadmap/release plan for Appium 8?"
Hello everyone,

Is there a roadmap regarding Appium 8? Or possible release candidates like with Selenium 4 this year? I am very interested in some changes I just saw in Appium 8 beta. Especially the changes in the WebDriver inheritance (no MobileDriver anymore).

Best regards
Trig

[2021-11-07 16:22] SrinivasanTarget commented on #1586
@Trigtrig we are looking for feedbacks on the beta version to tune the stable version better. Feel free to try out beta and let us know. You can expect few more beta version before the final one.

[2021-11-09 06:49] skhandekar1 opened #1587 "Unable to run simple parallel test with appium using selenium grid"
## The problem

I am running a simple demo test to test out parallel testing with appium, selenium grid and testNG. I am getting a session not known error.

## Environment
Appium 6.1.0
selenium-server and selenium-java - 3.141.59
testng - 7.4.0

## Details
My test is as follows:

[code]

The following error is seen:

[code]

[2021-11-09 23:20] FaheemAkhtar commented on #1312
@sanjeedsawant @hpsaini was you able to get this resolved. I am facing the same issue.

[2021-11-10 00:44] KazuCocoa commented on #1587
Can I make sure these two devices run on different machine, or they run on a host but has different capabilities addressed in https://appium.io/docs/en/advanced-concepts/parallel-tests/ ?

if no, I want to ensure capabilities addressed in https://appium.io/docs/en/advanced-concepts/parallel-tests/ should be unique per device.

[2021-11-10 02:33] skhandekar1 commented on #1587
They are two different tablets. I am providing capabilities as follows:

		DesiredCapabilities caps = new DesiredCapabilities();
		try {
			System.out.println("Execution started test1");
		 	caps.setCapability("platformName", "Android");
			caps.setCapability("deviceName", "R52N20ALVDN");
			caps.setCapability("platformVersion", "10");
			caps.setCapability("udid", "R52N20ALVDN");
			caps.setCapab

[2021-11-10 02:51] KazuCocoa commented on #1587
Then, could you share the logcat of `R52N20ALVDN` as GIST?

[2021-11-10 03:05] skhandekar1 commented on #1587
Sorry what does GIST mean:|

[2021-11-10 03:32] skhandekar1 commented on #1587
I have the logcat in pdf, but not sure how to attach it to GIST or here. Any other way i can share the pdf with you?

[2021-11-10 03:39] skhandekar1 commented on #1587
[R52N20ALVDN.docx](https://github.com/appium/java-client/files/7509638/R52N20ALVDN.docx)

[2021-11-10 03:39] skhandekar1 commented on #1587
I couldnt attach file to GIST. Tried both docx and pdf. So attaching it here.

[2021-11-10 07:39] KazuCocoa commented on #1587
sorry, in this case, could you attach it as plain text?

[2021-11-10 14:30] itaibh opened #1588 "inconsistent scroll simulation"
## Description

When using the following code, each time the scroll goes roughly to the same place but not exactly, and there is no way to know exactly how much the element was scrolled:

[code]

On BrowserStack I see the correct request arrives:
[code]

but still each time I run that code on a fresh instance I get a bit different result.

## Environment

* Appium version 1.21.0 (on BrowserStack)

[2021-11-10 15:14] valfirst commented on #1588
@itaibh why do you think it's an issue in Appium Java client?

[2021-11-10 15:16] itaibh commented on #1588
I don't, it's an issue with Appium server. If I created this issue in the wrong place please let me know.

[2021-11-10 15:17] itaibh commented on #1588
Perhaps not even with Appium server but then I don't know what comes closer to the device.

[2021-11-10 15:28] skhandekar1 commented on #1587
I can't seem to paste the text. Any other way i can share the pdf file with you? My email address is katdareshruti@yahoo.com

[2021-11-10 16:51] mykola-mokhnach commented on #1588
I would say this behaviour is expected. Basically, what this code is doing, it emulates user touches. And usually these are not 100% precise, because these have inertia. You could also try `mobile:` gestures to see if that helps. These are basically shortcuts to actions, just refined by Google and supplied with optimal parameters for each particular gesture type: https://github.com/appium/appium/b

[2021-11-11 06:30] itaibh commented on #1588
A follow up question if you may: I need to capture the entire element, so I need to stitch several screenshots together. Is there a way to either eliminate the inertia somehow or to know exactly how much the element is scrolled in a W3C compliant way? Remember I want native scrollable element.

[2021-11-11 06:41] mykola-mokhnach commented on #1588
In theory it must be decreased proportionally to the velocity value (e.g. less velocity -> less inertia).

[2021-11-11 06:53] itaibh commented on #1588
I tried higher duration values and I still get inconsistent results... what about the other part of my question? is there a way to know where the element is placed after scroll?

[2021-11-11 07:25] mykola-mokhnach commented on #1588
Not sure what exactly you want to achieve. Yes, it is possible to fetch element's location

[2021-11-11 07:32] itaibh commented on #1588
As I said before, I want to be able to get a full screenshot of an entire element, including obscured parts that need to be scrolled to. For that I need either an API that returns that screenshot (less preferable in cases of RecyclerView) or to know how much was actually scrolled (this can be achieved by knowing the element's position relative to a given point before and after scroll).
Until now I

[2021-11-11 07:41] KazuCocoa commented on #1587
Then, what about running two parallel sessions as https://github.com/appium/java-client/issues/1587#issuecomment-964726199 without the grid?

[2021-11-11 07:42] mykola-mokhnach commented on #1588
Try to find the element each time after an action is done. It could be it is cached by the accessibility and thus the same coordinates are returned.

Have you also tried the gestures above, like https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/android/android-mobile-gestures.md#mobile-scrollgesture ?

[2021-11-11 07:59] itaibh commented on #1588
No, not yet.

[2021-11-11 08:03] Norphy commented on #1021
So actually I have a different problem but due to the same cause in this issue:

I have both Selenium and Appium dependencies because I am running tests on both Mobile and Web and on the same Webapp (Same screens) so I reuse the screens. Now the issue appeared when I updated Selenium to 4.0.0 and when I attempted to use methods that were only in the updated selenium, like for example WebElement.ge

[2021-11-11 08:34] itaibh commented on #1588
It seems this method throws an exception:

[code]

[code]

[2021-11-11 08:42] mykola-mokhnach commented on #1588
Make sure you are using the most recent server version

[2021-11-11 08:48] itaibh commented on #1588
It didn't get to the server, the exception was thrown from the Java upon calling the `execute` command. The server is BrowserStack. The Java bindings are 8.0.0-beta.

[2021-11-11 08:49] valfirst commented on #1455
Please try `8.0.0-beta` (it's based on Selenium 4)

[2021-11-11 08:51] valfirst commented on #1021
Please try `8.0.0-beta` (it's based on Selenium 4).
As for the documentation you can rely on [the migration guide](https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md).

[2021-11-11 10:36] Norphy commented on #1021
@valfirst Thanks a lot, that's the documentation I was looking for!

[2021-11-11 15:10] skhandekar1 commented on #1587
That is where I am confused. How do we run this without the grid and if parallel sessions can be run without the grid, then why do we have grid in the first place?

[2021-11-11 18:29] KazuCocoa commented on #1587
You can send the two capabilities to a single appium server. Appium server can handle multiple sessions.
Or you can also run an appium server per session instead.
This is to investigate the cause if the grid might be related.

I think you have decided to use a grid on your environment to manage your automation (mixed with selenium and appium?). I haven't used grid, so i have no good idea if the ca

[2021-11-11 18:42] skhandekar1 commented on #1587
Thank you for your help. I'll check this and let you know

[2021-11-16 12:02] s-chathuranga-j opened #1592 "Unable to Initiate Session with WinAppDriver"
## Description

I'm using WinAppDriver with a Java Framework. When I run the test the following log is displayed:
[code]

## Environment

* Java version: 11
* Appium Java Client version: 8.0.0-beta
* Desktop OS/version: Windows 11
* Selenium version: 4.0.0

## Details
Following is the code used to initiate the session:

[code]

But if I run the same code with the above capabilities using Appium Ja

[2021-11-16 13:29] mykola-mokhnach commented on #1592
Please provide the full server log

[2021-11-16 13:31] mykola-mokhnach commented on #1592
Also:

https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#strict-w3c-specification-compatibility

[2021-11-16 14:03] s-chathuranga-j commented on #1592
Code I have written:

[code]

Error log:

[code]

WinAppDriver server log:

`POST /session HTTP/1.1                                                                                                  Accept: */*                                                                                                             Content-Length: 267

[2021-11-16 14:36] mykola-mokhnach commented on #1592
Could you please provide the full Appium server log?

The code to build capabilities seems to look fine. The issue is rather WinAppDriver itself, that does not understand capabilities in W3C format. We'd probably need to do some fixes there in order to understand these capabilities properly

[2021-11-16 14:49] mykola-mokhnach commented on #1592
So I double checked that and it looks like you are trying to use java client without Appium (e.g. appium-windows-driver), but rather just directly connect to WinAppDriver. Unfortunately it won't work with version 8.0.0 because WinAppDriver does not support W3C protocol. You could follow https://github.com/microsoft/WinAppDriver/issues/1610 for more updates on that

[2021-11-16 14:49] #1592 closed

[2021-11-17 10:15] margasan commented on #1575
@mykola-mokhnach could you merge this fix into 7.6.x version?
Thank you

[2021-11-17 10:18] mykola-mokhnach commented on #1575
@margasan We currently aim to release version 8 and will only be supporting that one. Consider creating a custom fork if you'd like to continue using v7

[2021-11-17 11:10] AlexanderBaravulia commented on #1575
@mykola-mokhnach Dear Mykola, we've faced with the similar problem on our project, it will be wonderful if it is possible to fix into 7 version. Thank you in advance.

[2021-11-22 14:56] darkfrog26 opened #1596 "On Android: getScreenshotAs returns com.google.common.collect.Maps$TransformedEntriesMap instead of byte array"
## Description

On Android, when I'm attempting to call `getScreenshotAs(OutputType.BYTES)`, under certain situations, it fires:
[code]
This is running against BrowserStack on a Samsung Galaxy S21 Ultra. It appears to be related to switching contexts to Native before.

## Environment

* Java client build version or git revision if you use some snapshot: 8.0.0-beta
* Appium server version or git re

[2021-11-22 15:34] darkfrog26 commented on #1596
I'm able to grab screenshots at earlier stages, but I'm in the process of trying to natively select a file to upload, and after I select and click: `By.xpath(s"//android.widget.FrameLayout[@clickable=\"true\" and @content-desc=\"$firstImage\"]")` in the native context, it can't seem to grab a screenshot.

[2021-11-22 17:11] mykola-mokhnach commented on #1596
Duplicate of https://github.com/appium/java-client/issues/1510

[2021-11-22 17:12] mykola-mokhnach commented on #1596
Duplicate of https://github.com/search?q=org%3Aappium+%22Timed+out+receiving+message+from+renderer%22&type=issues

[2021-11-23 10:27] anoopsimon opened #1597 "Failed to Create Session[Unable to authenticate request] using Appium Java Client 8.0.0-beta in Pefecto Cloud"
## Description

Failed to Create Session using Appium **Java Client 8.0.0-beta** in Pefecto Cloud.
Exception : **_SessionNotCreatedException : Could not Start a new session. Response Code 401 : Unable to authenticate request_.**

## Environment

* Java client build version : **8.0.0-beta**
* Cloud Vendor / Infrastructure: **Perfecto Cloud**
* Mobile platform/version : **Samsung S 21**
* Real devic

[2021-11-23 11:00] mykola-mokhnach commented on #1597
- Please attach the server log
- Have you tried to contact cloud provider's customer support?

[2021-11-25 05:32] BinjalTeksun opened #1600 "Duplicate class io.netty.channel.epoll.AbstractEpollChannel found"
Duplicate class io.netty.channel.epoll.AbstractEpollChannel found

## Environment

Java client build version : 8.0.0-beta

## Details

When i added the latest version dependency and after build or compile my project it's shown duplicate class found in modules jetified

## Exception Stacktraces

Duplicate class io.netty.channel.epoll.AbstractEpollChannel found in modules jetified-netty-transport-na

[2021-11-28 11:17] Trigtrig commented on #1586
ok, thank you :)

[2021-11-28 11:17] #1586 closed

[2021-11-29 08:15] mikepeceros opened #1604 "Unable to switch to webview context in appium 7.6"
## The problem

I'm not able to switch to webview context in an Android device since the chrome driver version is outdated.

## Environment

Appium 7.6.0
I do not have selenium dependency since I know appium already contains selenium 3.141.59

## Details

I'm currently working against Gigafox devices but this looks beyond the platform since the message is clear (the chrome version). I've tried one

[2021-11-29 08:20] mykola-mokhnach commented on #1604
I don't see any issues there. Is there something that prevents you from updating Chromedriver?

[2021-11-29 09:41] ZeeshanArid commented on #1600
@BinjalTeksun
Did you find any solution?

[2021-11-29 17:57] #1505 closed

[2021-11-29 17:59] Karthikvt143 opened #1605 "Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project Test: Compilation failure ->"
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for TestProject:Test:jar:0.0.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 27, column 12
[WARNING]
[WARNING] It is highly recommended to fix these problems because they threaten the stability of your build.

[2021-11-29 18:05] valfirst commented on #1605
@Karthikvt143 I don't see any references to Appium in the provided log and POM

[2021-11-29 18:40] #1604 closed

[2021-11-29 18:42] mikepeceros commented on #1604
This issue lies on the Gigafox platform that my team is working with since its chrome drive is outdated.

[2021-11-30 11:58] BinjalTeksun commented on #1600
Not yet

[2021-12-02 15:37] STC-FaizanMamji commented on #683
Anyone can please help me how to use xpath with @iOSXCUITFindBy
Example:
@iOSXCUITFindBy(xpath = "//XCUIElementTypeButton[@name='Next']")
This is returning error.

Anyone can please help me in this?

[2021-12-08 07:44] itaibh opened #1608 "Error parsing session info from SauceLabs"
## Description

When I run the attached code with Appium version 8.0.0-beta on SauceLabs, in the SauceLabs dashboard I see the test running, I see the device launching and the app starting, so I know the session had started. But then the client fails with this error:

[code]

See full exception log here: https://gist.github.com/itaibh/5cdf5eb606de58299aed0abb4005c0e0

## Environment

I give here s

[2021-12-08 07:48] mykola-mokhnach commented on #1608
I don't think your issue has anything to do with java client. Please report it to Sauce customer support.

[2021-12-08 07:54] itaibh commented on #1608
@mykola-mokhnach The problem is with the parsing of the response. I can't tell what the response is, but from SauceLabs logs it seems to be a valid JSON, so that's why I think this IS a client issue. However, if it's not, then for such a simple test code running on such a known vendor I would think you'll have much more impact solving this with SauceLabs than I would.

[2021-12-08 07:58] mykola-mokhnach commented on #1608
I assume there is some problem while the client fetches the response from their infra. Basically, the error mean then java client was expecting to get a valid JSON as a response to createSession call, but got nothing instead. Also, in Appium logs we can see that the correct response has been generated. So the issue must happen somewhere in between the Appium server and the client lib.

[2021-12-08 08:10] itaibh commented on #1608
I'll try to reproduce this with C# (Appium 5.0.0-beta01). If it happens there too then the issue is most likely at SauceLabs side, but if not then it means the issue is most likely in the Java client side.
In any way, what I wrote about who's having more impact stands, so if we come to a conclusion this is something on SauceLabs side I take it as this is the Appium project responsibility to approa

[2021-12-08 08:12] valfirst commented on #1608
The root cause is SauceLabs returns HTTP `303` with headers like
[code]

Default Selenium HTTP client doesn't follow redirects. I'm not sure whether it should be fixed on SauceLabs side, or Selenium client side, or Appium client side.

[2021-12-08 08:15] valfirst commented on #1608
BTW changing HTTP client to follow redirects fixes the issue.

[2021-12-08 08:22] mykola-mokhnach commented on #1608
This makes sense if it is necessary to wait longer and to avoid connection timeout. @valfirst Do you know how to enable redirects by default for the Selenium's HTTP client.

[2021-12-08 08:25] itaibh commented on #1608
It works in C#, meaning it's a java client issue.

[2021-12-08 08:30] itaibh commented on #1608
@valfirst How can I do that?

[2021-12-08 08:42] mykola-mokhnach commented on #1608
AFAIK HTTP client creation options are [hardcoded](https://github.com/SeleniumHQ/selenium/blob/cbb2796d653a7c552e5c8d7f72ff59425ec373d7/java/src/org/openqa/selenium/remote/http/netty/NettyClient.java#L81) inside Selenium lib and I don't see any simple way to change these. Perhaps we could only add an ugly hack to https://github.com/appium/java-client/blob/158615250499b5a3c251a38928c7d4771d3f281e/s

[2021-12-08 08:45] valfirst commented on #1608
for now there is no way to enable following redirects in Selenium HTTP client, I've checked my assumption via debug: just changed the client

[2021-12-08 08:45] mykola-mokhnach commented on #1608
Linked the original Selenium's bug. Not sure if it is going to be solved soon though

[2021-12-08 09:03] stevemurphy47 commented on #1021
I don't even know if the maintaining team is even smart or not. They release java-client 8.0.0-beta but that piece of shite missing MobileElement, which is important to the Appium code since that thing uses MobileElement.
So I have to downgrade the version of java-client, but still, some idiots with a monkey brain think that it was a good idea to copy classes from Selenium and paste those into Jav

[2021-12-08 09:30] SrinivasanTarget commented on #1021
@stevemurphy47 First thing **mind your own language** otherwise you will be blocked from commenting in Appium Organisation.

We are not paid for the Open Source work we do.

If you don't know what Appium Inspector/MobileElement is for then i will request you to go through readme/documentations/appiumpro articles, etc.

If the migration guide is not helping you feel free to create an issue and say

[2021-12-08 09:37] stevemurphy47 commented on #1021
@SrinivasanTarget finally you have read my comment. You will not believe how long have I tried to reach you. Even on Twitter.
And about what I have experienced, it's true. I don't know why, I was just importing java-client, no selenium, but still got Duplicate classes from selenium. Have tried many ways to fix it.
But why did you have to remove MobileElement in 8.0.0-beta? Appium Inspector still u

[2021-12-08 09:39] stevemurphy47 commented on #1021
It's hard for me to be calm when the project from the University forces me to use Appium to test Android, time is not on my side, but the library to use it was a mess.

[2021-12-08 09:55] stevemurphy47 commented on #1021
@SrinivasanTarget It's weird, if I act calm and ask you kindly, you will silence me, but when I act like a prick, you show up just to remind me to act kindly. You write in your GitHub account that if I want to reach you, I should you Twitter:
![image](https://user-images.githubusercontent.com/50819935/145187567-7ce5f30b-d294-4aca-a8e2-afcdc81c5e8a.png)

I did, but you don't even answer or anything

[2021-12-08 10:24] SrinivasanTarget commented on #1021
@stevemurphy47 You never thought about apologising for your worst act. Being rude won't help here.

I don't see any notification in twitter regarding this.

In above thread, I already suggested you to go through [migration guide](https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#mobileelement) which is very clear on what has to be done.

[2021-12-08 10:24] #1021 closed

[2021-12-08 10:44] mykola-mokhnach commented on #1608
Selenium lib got a patch there. We'd have to patch its version for java-client as soon as it reaches release state and push a new beta

[2021-12-08 11:25] mykola-mokhnach commented on #1608
@KazuCocoa Could you please confirm that both HTTP clients in Ruby and Python have redirects handling enabled by default?

[2021-12-08 12:08] stevemurphy47 opened #1609 "Duplicate class error from java-client 8.0.0-beta"
## Description

Hi, so I tried to import java-client to Android Studio. When I press debug, it showed me a bunch of errors that I don't know how to fix:

Duplicate class io.netty.channel.epoll.AbstractEpollChannel found in modules netty-transport-native-epoll-4.1.67-linux-x86_64.Final-linux-x86_64 (io.netty:netty-transport-native-epoll:4.1.67.Final) and netty-transport-native-epoll-4.1.67.Final (i

[2021-12-08 14:31] mykola-mokhnach commented on #1609
Hello Steve,

It's nice to meet you. I'm one of these Appium [idiots](https://github.com/appium/java-client/issues/1021#issuecomment-988623962).

Just wanted to wish you good luck with you University project. And don't forget to demonstrate that gorgeous comment to your professor, I'm certainly sure you'll get the highest note.

[2021-12-08 14:44] stevemurphy47 commented on #1609
I am so sorry for everything that I have said to everyone on the dev team.
I was out of control because of frustration after many nights without sleep.
This will not happen again. I am so sorry about my action.

[2021-12-08 17:32] KazuCocoa commented on #1608
Ruby appium client refers to selenium's one. It has https://github.com/SeleniumHQ/selenium/blob/9d9e4c7185cd44aafb18e707a34bcfc851fa9a31/rb/lib/selenium/webdriver/remote/http/default.rb#L104-L109 so Ruby should be ok.
Let me check python soon

[2021-12-08 18:17] KazuCocoa commented on #1608
Python client handles connections via `urllib3`. It sets redirect stuff True by default, so I think python is also ok.

[2021-12-09 07:06] omprakashchavan01 commented on #1575
@mykola-mokhnach Is this available in current 8.0.0 Beta? I see the fix was done on Nov 5, but 8.0.0 Beta was released prior to that. If this is not available yet, when do you think the next Beta with the fix will be available? I'm just looking for a tentative date as I understand you cannot give an exact date.

[2021-12-09 07:12] mykola-mokhnach commented on #1575
We'd like to publish a new beta as soon as there is a new selenium lib patch available. See https://github.com/appium/java-client/issues/1608 for more details

[2021-12-09 07:39] jacksonfrye opened #1610 "How to install java-client properly?"
Hi everyone.
So I tried to install java-client to my Android Studio project like this guide:
![image](https://user-images.githubusercontent.com/95761280/145353338-69d3f84e-f742-4c3e-bfc2-1fba6b379bab.png)

I don't know why Jitpack, but anyway, so I did the same with this line of code in build.gradle(:app):
[code]
and this is how I run my test:
[code]
After I press debug, it began to error with a l

[2021-12-11 16:19] skhandekar1 opened #1611 "Unable to start appium server with Selenium 4"
I am using Selenium 4.1.0 with Appium server 6.1.0.

When programmatically starting Appium server using service builder I get the following error:

TestNG: Procedure 2 .log { display: none;} .stack-trace { display: none;}

`java.lang.AbstractMethodError: org.openqa.selenium.remote.service.DriverService$Builder.createArgs()Ljava/util/List; at org.openqa.selenium.remote.service.DriverService$Builder

[2021-12-11 17:08] mykola-mokhnach commented on #1611
This is expected. Either use the released 8-beta version or the snapshot of the current master branch

[2021-12-11 17:08] #1611 closed

[2021-12-13 02:48] deena-p opened #1612 "Cannot resolve symbol 'MobileElement', 'AndroidElement', and 'IOSElement' in 8.0.0Beta"
## Description

What happened to all the MobileElement type - AndroidElement, IOSElement in 8.0.0Beta

## Environment

* Java client build version  - 8.0.0 Beta

## Details

MobileElement, AndroidElement, and IOSElement are not available in 8.0.0Beta

## Code To Reproduce Issue [ Good To Have ]

Migrate appium from 7.x.x to 8.0.0 Beta.
MobileElement, AndroidElement, and IOSElement are not availabl

[2021-12-13 07:29] valfirst commented on #1612
@deena-p please check https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#mobileelement

[2021-12-13 08:17] deena-p commented on #1612
Thanks @valfirst. It works.

[2021-12-13 08:43] #1612 closed

[2021-12-13 08:45] valfirst commented on #1605
@Karthikvt143 any updates?

[2021-12-14 15:36] madhusudhan-patha commented on #1608
I have come across this issue with Serenity BDD (3.1.1) which has Appium java-client: 8.0.0-beta. Here are some observations.

1. IOS tests are throwing the error, when executed using SauceLabs, as shown in description ( 303 status code, followed by unable to parse the json response). Reported a ticket https://github.com/serenity-bdd/serenity-core/issues/2634.
2. But, Android test scripts got exec

[2021-12-18 21:28] #1608 closed

[2021-12-21 07:41] mykola-mokhnach commented on #1600
Try the solution from https://stackoverflow.com/questions/68362173/adding-log4j1x-and-log4j2x-dependency-causes-duplicate-class-error-during-maven

[2021-12-24 09:21] 819635822 opened #1617 "AppiumDriverLocalService.addLogMessageConsumer(Consumer<String>) supply garbled characters in chinese words , 中文字符乱码"
## Description

`AppiumDriverLocalService` supply garbled characters in chinese words  when call the method `addLogMessageConsumer`

## Environment

* Java client build version or git revision if you use some snapshot:  java-client-v7.5.1.jar
* Appium server version or git revision if you use some snapshot: 1.22.1
* Desktop OS/version used to run Appium if necessary: win10
* Node.js version (unles

[2021-12-24 09:44] 819635822 commented on #1617
I debug this method , and i fixed it.
this is because the method used the wrong way to collect the `byte[]`.
it collect `byte[]` as `char[]` within `StringBuilder.write(char)` and `StringBuilder.toString()` use `String(char[],int,int)` , but the correct way is to use `OutputStream.write(byte)` such as `ByteArrayOutputStream.write(byte)` and `ByteArrayOutputStream.toString()`
[code]
here is a demo

[2021-12-24 12:31] BorisPotapov commented on #1239
I see the same problem.

@ravireddy07 maybe you found something?

[2021-12-24 14:12] ravireddy07 commented on #1239
I didn't remember exactly what fixed this... but, changing the debug build worked for me...

[2021-12-24 14:56] mykola-mokhnach commented on #1617
Thanks for creating the patch. I've added a couple of comments there

[2021-12-26 14:45] omprakashchavan01 commented on #1575
@mykola-mokhnach

So I tested 8.0.0 Beta 2 and I have got the same error with Java JDK 17.0.1 which is the LTS.

Am I missing something here?

Please find the exception log below. I get this exception for Selenium's PageFactory.initElements(driver, this) command;

java.lang.ExceptionInInitializerError
	at io.appium.java_client.pagefactory.utils.ProxyFactory.getEnhancedProxy(ProxyFactory.java:53)

[2021-12-26 17:38] omprakashchavan01 opened #1619 "[8.0.0 Beta 2] PageFactory still not working with Java 17"
@mykola-mokhnach @ayuryev

I tested 8.0.0 Beta 2 which has a fix for #1575 and I have got the same cglib error with Java JDK 17.0.1 which is the LTS.

Am I missing something here?

Please find the exception log below. I get this exception for Selenium's PageFactory.initElements(driver, this) command;

java.lang.ExceptionInInitializerError
at io.appium.java_client.pagefactory.utils.ProxyFactory.get

[2021-12-27 08:16] valfirst commented on #1619
I think it relates to https://github.com/cglib/cglib/issues/191

[2021-12-27 16:57] #1617 closed

[2021-12-28 11:27] omprakashchavan01 commented on #1619
I'm under an impression that #1575 has fixed this issue. If not, I would appreciate if someone can confirm on this.

[2021-12-29 21:13] TylerAff commented on #1619
I am having the same issue

[2021-12-30 09:14] amedvedjev opened #1621 "Java-client 8.0.0-beta2: Android: List<> annotation broken"
## The problem

We have element:
[code]

When we use:
[code]
nothing found

When we use:
[code]
we can find element.

## Environment

* Appium version (or git revision) that exhibits the issue: 8.0.0-beta2
* Last Appium version that did not exhibit the issue (if applicable): 7.6.0
* Mobile platform/version under test: Android
* Real device or emulator/simulator: real device with Android 11.0

## L

[2021-12-30 12:35] amedvedjev commented on #1600
I have no problem with Maven project and using
[code]

[2021-12-30 13:50] mykola-mokhnach commented on #1621
Are you sure your driver class is derived from AppiumDriver and is not instantiated directly from RemoteWebDriver?
Selector override must be avoided by default: https://github.com/appium/java-client/blob/e538394a04acb997e0a837a0527ca63053de9000/src/main/java/io/appium/java_client/remote/AppiumW3CHttpCommandCodec.java#L100

[2021-12-30 14:06] amedvedjev commented on #1621
driver in code is:
[code]

way how I create driver is:
[code]

[2021-12-30 14:41] mykola-mokhnach commented on #1621
I think I know what the cause might be. Please check if https://github.com/appium/java-client/pull/1622/ works for you

[2021-12-30 19:08] myrianv opened #1623 "Appium 1.21.0 throwing Caused by: UnsupportedCommandException: Method is not implemented"
## Description

I'm using SauceLabs iOS simulators. Right after test start I'm getting 405 repond with following error: Method is not implemented

## Environment

* Java 17.0.1
* Appium 1.21.0/1.22/1.20
* iOS 15/14.5:
* simulator
* Selenide 5.25.1

## Details

I was trying different versions of Java such as 16, different versions of iOS on simulators such as 14.5 and different versions of Appium s

[2021-12-30 19:24] #1623 closed

[2021-12-31 05:14] TFGAccount commented on #1597
We are also getting same error message, any solutions for this?

[2022-01-05 07:08] Poonam2212 opened #1625 "java.lang.ClassCastException: tests.DesireCapabilities cannot be cast to org.openqa.selenium.Capabilities"
my code is  :
[code]

i am getting :

[code]

[2022-01-05 07:16] valfirst commented on #1625
@Poonam2212 you have your class `tests.DesireCapabilities` which doesn't implement `org.openqa.selenium.Capabilities`, that's why you see `java.lang.ClassCastException` (you can find more details here, for example: https://stackoverflow.com/questions/907360/explanation-of-classcastexception-in-java )

[2022-01-05 07:16] #1625 closed

[2022-01-05 07:33] Poonam2212 commented on #1625
@valfirst  i don't understand what you say, can you explain me please

[2022-01-05 07:57] valfirst commented on #1625
@Poonam2212

or you can search for any other explanations of `java.lang.ClassCastException`

[2022-01-07 14:06] bpaAtCardlay opened #1626 "[8.0.0-beta2] OPTIONAL_INTENT_ARGUMENTS are only sent as lowercase"
## Description
My team is currently upgrade our usage the appium java client to the new 8.0.0-beta2 version, but in the process of upgrading we are experiencing an issue in regards to sending OPTIONAL_INTENT_ARGUMENTS to the device-under-test.
Prior to the upgrade we didn't have any issue sending "--ez TESTING true" to the android device, however after upgrading to 8.0.0-beta2 this is no longer pa

[2022-01-07 14:20] mykola-mokhnach commented on #1626
the log above looks suspicious to me. v8 only supports w3c sessions, so sending desiredCapabilities should not be happening. Also, the migration [guide](https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#strict-w3c-specification-compatibility) explicitly states that Options descendants should be used instead of the obsolete DesiredCapabilities class

[2022-01-07 14:41] bpaAtCardlay commented on #1626
In regards to the desiredCapabilities, this is only used when not upgrading to 8.0.0-beta2, when we upgrade to 8.0.0-beta2 we are only seeing capabilities being passed through.

We have tried with using the UiAutomator2Options() instead of using capabilities, but are seeing the same results:
`2022-01-07 14:31:59:725 - [HTTP] {"capabilities":{"firstMatch":[{"newCommandTimeout":0,"appium:appActivity

[2022-01-08 07:42] mykola-mokhnach commented on #1626
Unfortunately I cannot reproduce the issue locally.

This is what I get after executing a local test with the following options

[code]

[code]

Maybe try to debug your client code to figure out where exactly the argument case is changed?

[2022-01-08 18:46] skhandekar1 opened #1628 "No such session exception showing up"
## The problem

I am trying to run a test class in a suite. The class that is giving the error is running a data driven test. The beforeMethod in the test runs fine, but for some reason the test fails as soon as it enters the @Test and tries setting a parameter in my Android Mobile test. This problem is consistent and only happens when i run the entire suite of classes. If I run the above mentione

[2022-01-10 09:48] bpaAtCardlay commented on #1626
I am not seeing any conversion on the client side, but in the response of the following call they are changed to lowercase:
AppiumDriver.java - line 225
[code]
Which calls into the RemoteWebDriver:
[code]
Where the response from the executed command also has the lowercase values.

When inspecting the values returned in the response the value of optionalIntentArguments are lowercase but values for

[2022-01-10 11:17] mykola-mokhnach commented on #1626
Then it must be obviously a BS bug. Consider contacting their support

[2022-01-10 11:17] #1626 closed

[2022-01-10 19:43] roshan579 opened #1630 "Multi Touch Actions not working and unable to do curved swipe. can only swipe between 2 coordinates and cannot draw a pattern. (java-client 7.6.0 & selenium 3.149)"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to Appium). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, go to http://discuss.appium.io!

## Environment

* Appium version (or git revision) that exhibits the issue:
* Last Appium version that did not exhibit the issue (i

[2022-01-10 21:34] mykola-mokhnach commented on #1630
TouchActions are deprecated. Consider using W3C actions instead

[2022-01-11 00:11] jlipps commented on #1628
That's too much code for us to adequately review. My advice would be to start stripping away everything except a bare skeleton from that code until you have a minimal reproducible scenario. It will probably make obvious what the issue is in your code.

[2022-01-11 00:28] jlipps commented on #1630
Yes, the way to draw curves is with the Actions API. See https://appiumpro.com/editions/29-automating-complex-gestures-with-the-w3c-actions-api.

[2022-01-11 00:28] #1630 closed

[2022-01-11 05:13] roshan579 commented on #1630
Thank you all. It’s w3c actions which is working better. We can close this
ticket.

Regards,

Roshan

On Tue, 11 Jan 2022 at 4:28 AM Jonathan Lipps ***@***.***>
wrote:

[2022-01-19 08:48] VitaliiPopovEleks commented on #1621
I have a similar issue. When am trying to findElements() I get this error:
An unknown server-side error occurred while processing the command. Original error: java.lang.ClassCastException: java.util.ArrayList$ListItr cannot be cast to org.eclipse.wst.xml.xpath2.processor.internal.types.NodeType

[2022-01-19 09:55] mykola-mokhnach commented on #1621
@VitaliiPopovEleks Check https://github.com/appium/appium/issues/16142

[2022-01-21 15:22] w1sp3r commented on #1619
I am having the same issue also.

[2022-01-23 13:29] prabhurohith opened #1635 "Getting No Such Field Error while initializing Android Driver"
## Description

Trying with Appium 2.0 client and not able to create the session.Running using cucumber and below is the client code for the same.

**Capability Builder Code**
[code]

**Hook Steps / Invoker Code**
[code]

## Environment

* Java client build version or git revision if you use some snapshot:  java version "1.8.0_261"
* Appium server version or git revision if you use some snapshot:

[2022-01-26 13:10] Kishorekumar2789 commented on #949
Hi,
Am Still facing the same issue.

Dependencies:
1. Java-client am using 7.4.1
2. TestNg: 7.4.0

Declared driver as "public AndroidDriver<WebElement> mDriver = null;"

In Page class:
public LoginPage(AndroidDriver<WebElement> driver) {
		this.driver = mDriver;
		PageFactory.initElements(new AppiumFieldDecorator(mDriver), this);
	}

But no luck. Could some one provide workable solution.

[2022-01-26 13:45] prabhurohith commented on #1504
service = new AppiumServiceBuilder()
                    .withIPAddress("127.0.0.1")
                    .usingAnyFreePort()
                    **.withTimeout(Duration.ofSeconds(300))**
                    .build();
            service.start();

Try adding timeout

[2022-01-26 17:20] DzmitryIlyin opened #1636 "Appium v1.22.2: No route found for /wd/status"
## The problem

I'm using java-client 8.0.0-beta2 version. Creating AppiumDriverLocalService according to https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#appiumdriverlocalservice leads to 'No route found for /wd/status' error

## Environment

* Appium version (or git revision) that exhibits the issue: 1.22.2
* Last Appium version that did not exhibit the issue (i

[2022-01-27 12:21] Kishorekumar2789 commented on #1279
I face this issue and this issue was fixed when I added Java JDK path in ecllipse under windows->preference-> installed jres. And selectthe checkbox of JDK.

Test executed successfully

[2022-01-27 14:42] #1621 closed

[2022-01-28 08:57] TSavin commented on #1450
Hello,

Same issue here. Can't resolve it either.

[2022-01-28 13:35] ebonom-mfam commented on #1289
Hey guys, I am experiencing this issue with t xcode 13.1. Does anyone know a solution for this xcode version? @KazuCocoa

[2022-01-28 17:34] KazuCocoa commented on #1289
I don't know if Apple fixed this issue. If still newer xcode has this issue, still they haven't fixed this yet.

[2022-02-07 11:39] hamidmunir opened #1641 "setLocation method is not supported by Appium java client 8.0.0-beta2"
## Description

Hi ,
I am trying to update geolocation with setLocation() in Appium and its  giving me syntax error.
 driver.setLocation(new Location(49, 123, 10));
Although It works fine with Appium java client 7.6.0 and gives no syntax error.
<img width="584" alt="image" src="https://user-images.githubusercontent.com/16507620/152781415-be2cbf04-2fb4-4a9f-9164-c2abcf97eeba.png">

## Environment

[2022-02-07 13:56] mykola-mokhnach commented on #1641
This is expected. Make sure that the actual driver instance implements `io.appium.java_client.remote.SupportsLocation` interface

[2022-02-08 04:53] hamidmunir commented on #1641
Thanks it worked by creating AndroidDriver instead of AppiumDriver

[2022-02-08 04:53] #1641 closed

[2022-02-09 09:48] bhecquet opened #1643 "Cannot decorate AndroidDriver (probably the same for IOSDriver"
## Description

I'm trying to use the decorator mechanism provided by selenium 4.
But following the doc to decorate the android driver, I get the exception

[code]
Full stacktrace is below

As I understand, this is due to the fact that HasAndroidSettings is not public

## Environment

* Java client build version or git revision if you use some snapshot: 8.0.0-beta2
* Appium server version or git r

[2022-02-09 10:57] mykola-mokhnach commented on #1643
Yes, it makes sense to make these interfaces public. Please let us know if there are any other hidden ones that must be published

[2022-02-09 11:09] bhecquet commented on #1643
It seems that only HasAndroidSettings and HasIOSSettings are private

[2022-02-09 11:24] mykola-mokhnach commented on #1643
The patch has been published. You could try the change by fetching the recent build from jitpack as described in https://github.com/appium/java-client#maven

[2022-02-09 11:24] #1643 closed

[2022-02-09 11:52] bhecquet commented on #1643
Thanks!

[2022-02-11 22:32] NirGallner opened #1645 "EventFiringDecorator for AndroidDriver causes java.lang.IllegalStateException (Invisible interface HasAndroidSettings)"
## The problem

When decorating AndroidDriver using EventFiringDecorator, the following error is shown:
java.lang.IllegalStateException: Invisible interface type interface io.appium.java_client.android.HasAndroidSettings for class net.bytebuddy.renamed.java.lang.Object$ByteBuddy$GY8RbTL8

## Environment
Appium server version - v2.0.0-beta.25
Appium client version - 8.0.0-beta2
Selenium version - 4

[2022-02-12 08:17] mykola-mokhnach commented on #1645
Duplicate of https://github.com/appium/java-client/issues/1643

[2022-02-12 08:17] #1645 closed

[2022-02-14 16:31] sfkir commented on #1587
@skhandekar1 Hello! I'm getting the same issue, were you able to resolve it?

[2022-02-15 11:48] bachhavdipak opened #1649 "org.openqa.selenium.SessionNotCreatedException: Could not start a new session. Response code 500. Message: null"
I am trying to run my automation test using java-client:8.0.0 beta version on a experitest cloud platform but while running the test getting the below issue.

Code:
[code]
Error log
[code]

[2022-02-16 09:53] RSV7 commented on #1489
@prasannaThanu have you solved it?

[2022-02-16 18:00] prasannaThanu commented on #1489
Yes, i got that exception because of version mismatch

On Wed, 16 Feb 2022, 3:23 pm Sergey Radkevich, ***@***.***>
wrote:

[2022-02-17 15:56] MukeshHalaPlay commented on #73
Try this steps:

[2022-02-17 16:07] MukeshHalaPlay commented on #73
Try these steps: This might help (Works in my case with same initElement NoSuchMethod Exception)

Open Eclipse>
Windows>
Preferences>
Java>
Installed JREs>
Change the selected JRE to the JDK: (Follow the steps:)
Add the Java folder(C:\Program Files\Java\jdk-11.0.14) as JDK (Installed)
Select that added JDK, then finish and save.

[2022-02-25 03:32] amitkshatriya01 commented on #1619
Is there a workaround for this?

[2022-02-25 15:21] dramos126 opened #1652 "Excessive logging to console after updating to 8.0.0-beta"
Just updated my project to use java-client 8.0.0-beta2 and selenium 4.1.1.

After updating and making the required changes to migrate from java-client 7.5.X I am seeing excessive logs in console
They appear to be server responses / byte arrays?

Any input on how to silence these logs would be greatly appreciated

example of logs:
https://gist.github.com/dramos126/f2594a4c997b30f78d4aad57653f37ab

[2022-02-28 12:42] Sfofandi commented on #700
Hello,
i'm facing the same issue in my MacPro system.

1. I am using eclipse ide Version: 2021-12 (4.22.0)
2. Appium server version 1.22.0
3. java version "17.0.2" 2022-01-18 LTS
4. OS of MacPro Chip1
5. Mobile platform iOS 11 pro

`
import java.net.MalformedURLException;
import java.net.URL;
import org.openqa.selenium.remote.DesiredCapabilities;
import io.appium.java_client.ios.IOSDriver;
import

[2022-03-09 11:26] shagupta92042 opened #1657 "getShadowRoot() method is not working in Appium Webview - The requested resource could not be found, or a request was received using an HTTP method that is not supported by the mapped resource"
## The problem

We are trying to test a hybrid app and we are using webview to test the same . We recently upgraded the appium client from 7.1.0 to 8.0.0 and selenium to 4.1.2 version.
While acccessing the shadow dom element the code is failing on Mobile where as the same code is working fine on Desktop Web automation . In selenium 4 , to access the shadow dom a new method was introduced which is

[2022-03-09 11:30] mykola-mokhnach commented on #1657
The error is expected. The returned object cannot be cast to WebElement, so the above statement should not work.

[2022-03-09 11:35] shagupta92042 commented on #1657
@mykola-mokhnach Yes therefore we are using below new code to access the shadow dom

WebElement shadowDomHostForTradeSettings = (wait.until(ExpectedConditions.visibilityOfElementLocated(By.xpath("//it-trade-tab//it-account-selector//ion-autocomplete"))));
SearchContext shadowRootForTradeSettings = shadowDomHostForTradeSettings.getShadowRoot();

using above code we are getting below error

The requ

[2022-03-09 11:38] mykola-mokhnach commented on #1657
It is hard to say anything without having the full server log

[2022-03-09 11:46] shagupta92042 commented on #1657
https://gist.github.com/shagupta92042/fa4ebd4409afd10cdcfe08ca613edab8

Please check the Appium server logs for the same.

[2022-03-09 13:01] mykola-mokhnach commented on #1657
https://github.com/appium/appium/pull/16538 should resolve the "no route" issue after it is published, although it will only be available in Appium2

[2022-03-10 06:58] rishikhanna1401 opened #1658 "AppiumDriverLocalService on java-client 8.0.0 not working"
While trying to programmatically open appium server using java-client 8.0.0 I see below error msg:

io.appium.java_client.service.local.AppiumServerHasNotBeenStartedLocallyException: The local appium server has not been started. The given Node.js executable: /usr/local/bin/appium Arguments: [/usr/local/lib/node_modules/appium/lib/appium.js, --port, 18384, --address, 0.0.0.0]
Process output: usage:

[2022-03-11 05:27] lilkimo commented on #1619
same issue here

[2022-03-11 06:24] shagupta92042 commented on #1657
Thanks @mykola-mokhnach , Could you please suggest by when latest release will be available for use with this fix ?

[2022-03-11 06:44] mykola-mokhnach commented on #1657
Any following Appium2 version since beta.25

[2022-03-13 08:29] ChristianErdtmann opened #1659 "cannot import io.appium.java_client.MobileElement"
Hello, i trying to use appium for Android Studio.

I have downloaded the java-client-8.0.0.0
from https://appium.io/downloads.html
added it to my lib folder in my project and added it as libary.

I can import other things over the import tag like "io.appium.java_client.MobileCommand"
but if i write "io.appium.java_client." i missing the "MobileElement"

So i dont think that i have done something w

[2022-03-13 12:35] mykola-mokhnach commented on #1659
FYI @KazuCocoa @jlipps: the code generator in Appium Inspector should be updated for compatibility with Java Client v8

[2022-03-13 18:16] KazuCocoa commented on #1659
Yes, the code is not for Java 8 yet.
We had an issue: https://github.com/appium/appium-desktop/issues/1581

[2022-03-14 02:25] saikrishna321 commented on #1659
Kazu, the issue which you pointed is different to what Mykola is asking. We need the inspector the generate Java test code as per Java-client version 8.0.0 changes.

[2022-03-14 03:10] KazuCocoa commented on #1659
ah, i see. I only saw "java 8" word.

We need to update https://github.com/appium/appium-inspector/blob/main/app/renderer/lib/client-frameworks/java.js properly. I've only updated python and ruby, which I knew necessary changes.

[2022-03-14 03:29] robinGupta11392 opened #1660 "AppiumDriverLocalService is not able to start - checkStatus is failing"
## Description

Hi All, I have observed that in Appium 8 we are facing issue while trying to start the Appium server programatically. As per the debug analysis, I could see that the Appium server is starting fine but the checkStatus call is failing because the URL is not formatted properly in case of a basepath. I am using Appium v1.22.0 CLI where I am providing the BasePath flag as "/wd/hub". I n

[2022-03-14 03:51] robinGupta11392 commented on #1660
As a workaround, I am using ".withArgument(GeneralServerFlag.BASEPATH, "/")" and its able to startup now. But with this I had to change the Appium endpoint configuration to "http://127.0.0.1:4723/" and have to remove "/wd/hub" from everywhere. Do note that it don't work with Blank String ("") as the basepath from the java_client lib but on command line it works.

[2022-03-14 05:56] mykola-mokhnach commented on #1660
Thank you for reporting the issue. You are welcome to create a PR with the fix

[2022-03-14 18:54] SrinivasanTarget commented on #1659
Sure will check over weekend

[2022-03-14 19:00] mykola-mokhnach commented on #1659
Should be nothing too complicated. Simply replace occurrences of MobileElement with WebElement. https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md contains more detailed changeless, but I assume only this one really affects the code generator

[2022-03-15 18:17] SyedHuzaifaAkbar commented on #1130
Did you find any solutions to it?

[2022-03-17 10:21] robinGupta11392 commented on #1660
Opened the PR for the fix - https://github.com/appium/java-client/pull/1661, please help to review.

[2022-03-18 21:54] ChristianErdtmann opened #1662 "The constructor TouchAction(AndroidDriver) is undefined"

[2022-03-19 15:29] #1660 closed

[2022-03-21 13:35] prabhurohith commented on #1635
@mykola-mokhnach : Can you please help me with this.Or if you have anyone who has tested on Windows with Appium 2.0 can u share the same

[2022-03-22 07:31] mykola-mokhnach commented on #1635
It looks like a dependency conflict. Perhaps your code imports netty version which is older than the one used by selenium.

[2022-03-22 09:57] prabhurohith commented on #1635
Thanks @mykola-mokhnach , issue was with dependency

[2022-03-22 09:57] #1635 closed

[2022-03-22 12:00] prabhurohith commented on #1628
I was getting this issue but seems issues with dependency , as appium takes selenium dependencies transitively I removed a selenium java pom dependency as appium client had it, worked after that. Not sure if this helps but my 2 cents !!!

[2022-03-22 15:27] cmaganu commented on #1636
Hi!
I'm having the same issue using Appium server 1.22.3 and java-client 8.0.0.
I did some debugging and this happens because of the way `AppiumDriverLocalService.addSuffix(URL url, String suffix)` is implemented: with url=`http://127.0.0.1:4723/wd/hub` and sufix=`/status` the resulting url is `http://127.0.0.1:4723/wd/status`.
Not sure if this is a bug in `addSuffix` or not, but a workaround for

[2022-03-22 19:42] dlanaghen opened #1665 "Appium client hung waiting on socket read when server logs 404"
## Description:

I am writing tests using the Page Object Model pattern.  I love the annotations.  On iOS, I will **occasionally** see my test application hang when one of my annotated elements is referenced and the Appium server has logged a 404 for a stale element.  It seems like it did not respond to the client with the error and the client hangs waiting for a response.

## Environment:
- java-

[2022-03-22 19:57] mykola-mokhnach commented on #1665
It would be nice to get the actual stack of Appium server (e.g. the corresponding Node process) itself when that happens

[2022-03-22 20:03] dlanaghen commented on #1665
Sorry about the server log.  Everything was looking good right up until it had the 404.  And the server is still alive and will respond normally when starting a new test which creates a new driver.

This happens very rarely, but when it does it is annoying.  I have just added the capability setting `commandTimeouts: 24000` to my config in hopes that at least my client will timeout.  But it would b

[2022-03-22 20:06] mykola-mokhnach commented on #1665
I would try then to enable verbose logging for netty, which is the default http client used in selenium and see what it logs. Perhaps, the server does not return what it wants (e.g. some wrong http headers) and thus an endless waiting loop happens.

[2022-03-22 20:07] mykola-mokhnach commented on #1665
Also the local network traffic sniffing might be useful

[2022-03-22 20:08] dlanaghen commented on #1665
I am curious if this is something brand new or have you seen something like this before?

[2022-03-22 20:19] mykola-mokhnach commented on #1665
No, I did not observe such issues before

[2022-03-22 20:52] jlipps commented on #1662
looks like the inspector java generation code needs to be updated? (duplicate of https://github.com/appium/appium-inspector/issues/226?)

[2022-03-23 10:29] krnnarayan opened #1666 "Getting the exception in latest Appium Library for get("logcat") for Android device"
## Description
When we try to get the logs from manage().logs().get("logcat") we are getting 404 errors, till 7.5.1 version this method was working fine, but when we have switched to 8.0.0 Java client this is throwing the error.

## Environment

* Java client build version : Java client library 8.0.0
* Real device or emulator/simulator: Real Device
* Cloud Platform : Sauce Labs
* App : Native App

[2022-03-23 10:31] mykola-mokhnach commented on #1666
Duplicate of https://github.com/appium/appium/issues/16588

[2022-03-23 10:37] krnnarayan commented on #1666
@mykola-mokhnach  we are already using selenium 4.1.2 libraries, will that not help ? Any solutions that we can use, as we have many cases which needs logs for android flows. We have almost fixed all the issues except this one, if you help us with alternate solutions, will help a lot.

[2022-03-23 10:51] mykola-mokhnach commented on #1666
The only way to workaround this issue is to update the server to version 2. Not sure if/when this could be done by Sauce Labs though.
From the client side you could simply call the corresponding (old) API (`/se/log` and `/se/log/types`) directly instead of using the `manage()` interface. See for example https://github.com/appium/java-client/blob/2ad786a24d742c7f0830eb4b72994cee5ba91106/src/main/ja

[2022-03-23 10:55] mykola-mokhnach commented on #1666
Also, it is possible to use `addCommand` helper for this purpose. Check https://github.com/appium/java-client/blob/f1cc1030b21b7303b7ea4bc2687618e2d4fa4291/src/test/java/io/appium/java_client/ios/IOSDriverTest.java#L62 for more examples

[2022-03-23 11:49] StephanB75 opened #1667 "getting error on AppiumServiceBuilder with appium2.0.beta@26"
## Description

The installed drivers could not be loaded. They are installed in the APPIUM_HOME but it look like the latest changes in the appium server regarding driver installation via NPM has broke something within the AppiumServiceBuilder.

## Environment

* Java client build version or git revision if you use some snapshot: 8.0
* Appium server version or git revision if you use some snapshot

[2022-03-23 12:03] krnnarayan commented on #1666
Thanks @mykola-mokhnach  for the quick response, I will try out both the options.

[2022-03-23 12:09] mykola-mokhnach commented on #1667
@boneskull could you please take a look? Could it be the above dependency is missing in some package manifest?

[2022-03-23 12:17] mykola-mokhnach commented on #1667
@StephanB75 You could try to fully reinstall the server as a possible workaround

[2022-03-23 13:27] StephanB75 commented on #1667
i have uninstalled and installed several times the appium node package and the drivers completely.
All the time the drivers could not be loaded because of the above error. Only manually installing the resolve-from package worked. But that for every driver.

[2022-03-23 18:30] boneskull commented on #1667
`resolve-from` could be missing somewhere in appium.. I'll check

[2022-03-23 18:34] boneskull commented on #1667
https://github.com/appium/appium/pull/16643

[2022-03-23 19:01] boneskull commented on #1667
@StephanB75 Try 2.0.0-beta26 which was just published a minute ago

[2022-03-23 19:13] StephanB75 commented on #1667
Big thanks for your super fast response . I will try the fix tomorrow morning and give you feedback

[2022-03-23 19:58] boneskull commented on #1667
sorry, beta27?

[2022-03-24 06:11] StephanB75 commented on #1667
@boneskull Works ! Thank you again :)

[2022-03-24 06:11] #1667 closed

[2022-03-24 08:10] valfirst commented on #692
Fixed by #1555

[2022-03-24 08:10] #692 closed

[2022-03-24 08:12] valfirst commented on #1455
Fixed by #1555

[2022-03-24 08:12] #1455 closed

[2022-03-24 08:15] valfirst commented on #1141
Fixed by #1555

[2022-03-24 08:15] #1141 closed

[2022-03-24 08:17] #1280 closed

[2022-03-24 14:55] jamespizzurro commented on #1658
I'm also seeing this issue. Here's the code that was working prior to upgrading to 8.0.0 using the same version of Appium (1.22.3):

[code]

Appium Server: v1.22.3
Appium Java client: 8.0.0
Xcode: v13.3 (13E113)
npm: v6.14.13
Node: v14.17.0

[2022-03-27 20:40] MrRahulR commented on #1619
I'm still facing the issue with
java-client v8.0.0
Java - v15.0.2
Appium v1.22.2

It doesn't work and still same error as #1575

[code]

[2022-03-28 13:12] jamespizzurro commented on #1658
@rishikhanna1401 The workaround posted by @cmaganu in Issue #1636 fixed this issue for me: https://github.com/appium/java-client/issues/1636#issuecomment-1075324178

[code]

[2022-03-29 10:56] Karthikvt143 opened #1670 "Did not get confirmation UiAutomator2 deleteSession worked; Error was: UnknownError: An unknown server-side error occurred while processing the command. Original error: 'DELETE /' cannot be proxied to UiAutomator2 server because the instrumentation process is not running (probably crashed)"
The server is running
[HTTP] Waiting until the server is closed
[HTTP] Received server close event
[Appium] Welcome to Appium v1.20.2
[Appium] Non-default server args:
[Appium]   relaxedSecurityEnabled: true
[Appium]   allowInsecure: {
[Appium]   }
[Appium]   denyInsecure: {
[Appium]   }
[Appium] Appium REST http interface listener started on 0.0.0.0:4723
[HTTP] --> POST /wd/hub/session
[HTTP] {"d

[2022-03-29 11:57] mykola-mokhnach commented on #1670
Please provide the logcat output as requested in the actual error message

[2022-03-29 12:11] Karthikvt143 commented on #1670
2022-03-29 17:37:30.313 11691-11691/? I/e.myapplicatio: Late-enabling -Xcheck:jni
2022-03-29 17:37:30.811 11691-11691/? E/e.myapplicatio: Unknown bits set in runtime_flags: 0x8000
2022-03-29 17:37:30.817 11691-11691/? W/e.myapplicatio: Unexpected CPU variant for X86 using defaults: x86
2022-03-29 17:37:32.681 11691-11723/com.example.myapplication D/libEGL: Emulator has host GPU support, qemu.gles

[2022-03-29 12:40] mykola-mokhnach commented on #1670
Are you sure it's the correct log snippet taken within the same time range the automation session has been starting?

[2022-03-29 12:55] Karthikvt143 commented on #1670
Yes...

[2022-03-29 12:57] mykola-mokhnach commented on #1670
Then probably something is missing from there. I'd expect some exception stack traces to be present in the log

[2022-03-29 14:52] Karthikvt143 commented on #1670
@mykola-mokhnach will this help you with something

--------- beginning of main
03-29 20:18:04.023  3151  3388 I MicroDetectionWorker: #startMicroDetector [speakerMode: 0]
03-29 20:18:04.025  3151  3388 W ErrorReporter: reportError [type: 211, code: 393244, bug: 0]: errorCode: 393244, engine: 0
03-29 20:18:04.025  3151  3388 I MicroDetector: Keeping mic open: false
03-29 20:18:04.025  3151  3388 I

[2022-03-30 07:50] rishikhanna1401 commented on #1636
Yes it worked.

[2022-03-31 13:26] mykola-mokhnach commented on #1657
Not sure where an error is visible. This particular request has passed as expected

[2022-03-31 13:40] shagupta92042 commented on #1657
@mykola-mokhnach
Please check at 1013 line

[35m[HTTP][39m [37m-->[39m [37mPOST[39m [37m/wd/hub/session/ec9f6a47-d6aa-4f46-836b-8ecfe0768c78/shadow/0.9815731080829553-3/element[39m
[35m[HTTP][39m [90m{"shadowId":"0.9815731080829553-3","using":"css selector","value":".selectize-input.items.full.has-options.has-items"}[39m
**[debug] [35m[HTTP][39m No route found for /wd/hub/session/ec9

[2022-03-31 13:49] mykola-mokhnach commented on #1657
These are different routes. They should be added separately

[2022-03-31 14:01] mykola-mokhnach commented on #1657
I've added a PR. New routes will be available in the next server release

[2022-04-01 07:37] antonparyshev opened #1671 "URGENT! There is vulnerability in Spring Framework dependency. Need to update spring framework version"
Need to update dependency Spring Framework to version 5.3.18 ASAP, because existing version has vulnerability.

Regards,
Anton

[2022-04-01 08:48] #1671 closed

[2022-04-01 09:02] antonparyshev commented on #1671
Could you clarify when new release will be available on mvn repo?

[2022-04-01 09:58] valfirst commented on #1671
@antonparyshev you can use JitPack builds: https://github.com/appium/java-client#how-to-install-latest-java-client-betasnapshots

[2022-04-04 07:47] StephanB75 commented on #1671
@valfirst  has the pull request failed ?
![image](https://user-images.githubusercontent.com/90029825/161497769-dca8a722-4ec5-4b81-8142-e725d6eaae56.png)

[2022-04-04 08:17] valfirst commented on #1671
@StephanB75 some flaky tests are failed, but still you can use JitPack to get the latest build

[2022-04-04 08:44] StephanB75 commented on #1671
@valfirst but the aspectjweaver 1.9.9.1 dependency is not in the latest master. Or is it not necessary ?

[2022-04-04 08:49] Karthikvt143 commented on #1670
can someone help in resolving the above issue, I have uninstalled everything and started installing from scratch but the same error reflecting again and again

[2022-04-04 11:10] valfirst commented on #1671
I've just merged AspectJ dependency, but I don't see much correlation between Spring vulnerability and AspectJ dependency.

[2022-04-04 13:43] cmaganu opened #1678 "`composeVersion` element/option in `toolsVersions` map can NOT be set when using `EspressoBuildConfig` (+ `EspressoOptions`)"
## Description

`composeVersion` was added to the `toolsVersions` map in v2.0.0 of the appium-espresso-driver https://github.com/appium/appium-espresso-driver/pull/760
At the moment this option is not configurable via `EspressoBuildConfig` (+ `EspressoOptions`) to create the desired capabilities
when using the java-client and appium-espresso-driver.

## Environment

* Appium server version or git

[2022-04-07 07:21] anjalisharma-TU commented on #770
Did you get the resolution of this issue?

[2022-04-07 12:17] vivu034 opened #1680 "Getting error - "W3C capabilities should be provided" while migrating to Appium 2.x and java-client driver v4.1.0"
## The problem

I am trying to migrate to Appium 2.0 beta. And using the old java client driver version 4.1.0.  I have tried adding prefix "appium:" to non-standard capabilities but still gives the same error.

## Environment

* Appium version (or git revision) that exhibits the issue: v2.0.0-beta.27
* Last Appium version that did not exhibit the issue (if applicable): v1.22.2
* Desktop OS/version

[2022-04-07 13:10] vivu034 commented on #1680
@mykola-mokhnach So which java client version we should move to in order to support Appium 2.x?

[2022-04-08 08:10] vivu034 opened #1681 "Can't find MobileDriver implementation with latest appium java client version"
## Description

Previously I was using legacy java client driver v4.1.0 and have used MobileDriver interface for instantiating both Android and iOS drivers.
Eg - MobileDriver mobileDriver = new AndroidDriver<AndroidElement>(AppiumServiceProvider.start().getUrl(),
                            capabilities);
mobileDriver = new IOSDriver<>(AppiumServiceProvider.start().getUrl(), capabilities);

And th

[2022-04-08 08:50] valfirst commented on #1681
@vivu034 please find details in the migration guide: https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#appiumdriver

[2022-04-12 04:34] nocomply78 opened #1683 "Unable To Locate Elements In Remote WindowsDriver Using ClassName"
## Description
When trying to locate elements in a Windows app on a remote machine using AppiumBy.className, it appears as though className is not supported by RemoteWebDriver, causing StackOverflowError

Steps To Reproduce:
1. Install Appium v2 on a remote machine, e.g. npm install -g appium@2.0.0-beta.27
2. Install the windows driver for Appium, e.g. appium driver install windows
3. Set up a Sel

[2022-04-12 06:35] mykola-mokhnach commented on #1683
Duplicate of https://github.com/appium/appium/issues/16550

Basically grid 4 limits all non-w3c locator types. Consider reporting this issue to the Grid's issues tracker

[2022-04-12 06:37] mykola-mokhnach commented on #1683
This is a pre-release build and it seems to be quite unstable. Unfortunately Microsoft does not maintain any updates/fixes to it since 2020

[2022-04-12 13:29] StephanB75 opened #1684 "Not able to start appium server programatically"
## Description
I'm linking a problem which was posted in the appium server git.
For me it looked like that changes within the appium2.0beta@28 release broke the starting of the server with the java-client version 8.0.0

As the downgrading to 7.0.0 is not an option due to the spring vulnerability, it would be nice if someone could have a look,
if the java-client has to adept the changes withing the

[2022-04-12 13:36] mykola-mokhnach commented on #1684
not sure how this is related to java client. It is obviously a server bug

[2022-04-12 13:37] StephanB75 commented on #1684
someone mentioned this in the linked issue thread

[2022-04-12 14:11] mykola-mokhnach commented on #1684
I don't observe any java client exceptions in that issue report. Do you experience any issues finding main appium executable locally?

[2022-04-12 14:17] StephanB75 commented on #1684
I also thought it is an server issue, and I don't see such exceptions, but I was not sure because it was mentioned that client version 7 is working

[2022-04-12 14:32] mykola-mokhnach commented on #1684
It's not possible to fix anything without having clear logs/exception traces

[2022-04-12 23:10] nocomply78 commented on #1683
I did notice that 1.2.99 is still not considered stable, and added that info just to help anyone running into that error to find this trail of tickets in the future. It does seem strange that I see the same error after doing a standard install of Appium Server & appium-windows-driver, but it's all just anecdotal anyway :-)

Looking at [appium/appium#16550](https://github.com/appium/appium/issues/1

[2022-04-12 23:10] #1683 closed

[2022-04-13 09:31] alei01 opened #1685 "v2: Failed to start the session if SupportsOrientationOption is set"
## The problem
Failed to start the session if SupportsOrientationOption is set.

Exception:
`2022-04-13 09:12:21:016 - [Appium] Could not parse W3C capabilities: 'orientation' landscape is not included in the list`

## Environment

* Appium version (or git revision) that exhibits the issue: beta-30
* Last Appium version that did not exhibit the issue (if applicable): -
* Desktop OS/version used to

[2022-04-13 10:00] #1684 closed

[2022-04-13 10:01] StephanB75 commented on #1684
fixed with appium server version 2.0beta@30

[2022-04-13 10:54] alei01 commented on #1685
@mykola-mokhnach tried the next:
[code]

and got the next exception:
[code]

[2022-04-13 11:43] mykola-mokhnach commented on #1685
Weird, it works for me locally. Could you please provide the full log?

[2022-04-13 11:52] alei01 commented on #1685
Here you go [Appium server log](https://gist.github.com/alei01/d4219b90e909334a4f35490dc462a9f8)

[2022-04-13 12:07] mykola-mokhnach commented on #1685
I really don't have any idea why it does not work for you. `orientation` is defined to [strictly](https://github.com/appium/appium/blob/ee9584829cdcc1e94ba5e2d675ae78ddb23296a4/packages/base-driver/lib/basedriver/desired-caps.js#L29) equal one of ['LANDSCAPE', 'PORTRAIT']

@jlipps @boneskull maybe you know more?

[2022-04-13 19:21] jlipps commented on #1685
I can't repro using the same appium and xcuitest driver versions. the only thing I can think is maybe the string "PORTRAIT" being used here isn't in the ASCII character set? either that or some kind of interaction effect with the other capabilities. @alei01 can you reproduce with a totally basic set of capabilities?

[2022-04-15 05:57] alei01 commented on #1685
I've cleared all project caches and the issue is not reproducing now.
The bug could be closed as fixed.

[2022-04-15 05:57] #1685 closed

[2022-04-15 12:57] krnnarayan commented on #1666
Hi @mykola-mokhnach , can you please help me with this error ? not sure if I am doing something wrong here.

![image](https://user-images.githubusercontent.com/31200550/163573400-15d6b83c-0a03-458e-a884-caae7235948b.png)

Can i get some swagger or documentation which can help me with the format which i need to send to driver.add command method

[2022-04-17 14:00] plakha commented on #1239
@ravireddy07 Can you elaborate what you mean by changing the debug build?
If anyone got around this, can one update?

[2022-04-17 14:48] ravireddy07 commented on #1239
There is something wrong with my build I guess, when I tried it on a new build, It worked for me.

[2022-04-19 06:58] anoopsimon commented on #1597
This issue has been fixed in Java Client version 8.0.0 .Hence closing the bug

[2022-04-19 06:58] #1597 closed

[2022-04-20 07:44] azetor commented on #1671
When this update will be released?

[2022-04-21 21:52] helenren opened #1689 "in W3C, there are similar support as HasSessionDetails in JWP"
## Description

In our test, we use HasSessionDetails to get some information related to the tested device, like device screen size and density for Android. While, when we switch from JSONWP to W3C, noticed that  HasSessionDetails is JWP only. Wondering, is there any similar support in W3C that we can utilize?

## Environment

* Java client build version or git revision if you use some snapshot: 7

[2022-04-21 22:33] KazuCocoa commented on #1689
Yes, it is not in W3C for now. A proposal to https://github.com/w3c/webdriver is needed.

As a workaround, you can define the endpoint with https://github.com/appium/java-client/blob/de3ded4d2c149cfa8ccf94d0618afd7b7e79e560/src/main/java/io/appium/java_client/AppiumDriver.java#L200 for now to appium.

[2022-04-22 13:38] sonali9293 opened #1690 "session not created on sauce labs for iOS using Selenium 4"
## The problem

When using the below config, the session is not getting created and is throwing Null Pointer exception 'because the return value of "java.lang.ThreadLocal.get()" is null'

## Environment
Appium version: 1.17.1
Appium (java-client): 8.0.0
Selenium 4.1.1

## Details
N/A

## Link to Appium logs
Attached Doc of log

## Code To Reproduce Issue [ Good To Have ]
Here is the code for refer

[2022-04-22 13:44] mykola-mokhnach commented on #1690
This looks like an issue with the local automation script.

[2022-04-22 13:46] sonali9293 commented on #1690
Could you tell me what changes would be needed? @mykola-mokhnach

[2022-04-22 15:19] titusfortner commented on #1690
@sonali9293 do you have a link to the test on Sauce that is failing?

We had a bug in beta version of Selenium 4 that would cause a problem like this when Sauce sent a redirect command (how it keeps the session open while it takes a while for a session to start), but that would be fixed for 4.1 for sure.

[2022-04-22 16:25] sonali9293 commented on #1690
I am not sure if you would be able to access it as it is under a group [().](https://app.saucelabs.com/tests/3183feefa0024ca3ab02d283b81b419c) but I have attached the logs for reference. I have attached the video too.

https://user-images.githubusercontent.com/83301919/164755528-ebb4cf05-b4a1-45cc-b353-888616cfba40.mp4

[2022-04-22 20:36] MalpaBajpai commented on #1592
Hello Team , I am trying to  automated notepad using WinAppDriver however I am getting an error ,
Please have a look and let me know what wrong I am doing here
Test :-
		DesiredCapabilities cap	= new DesiredCapabilities();
		cap.setCapability("ms:experimental-webdriver", true);
		cap.setCapability("app","C:\\Windows\\System32\\notepad.exe");
		cap.setCapability("plateformName", "Windows");
		cap.s

[2022-04-22 21:32] titusfortner commented on #1690
ok, @diemol just informed me that we only partially fixed it in the beta and we fully fixed it in 4.1.2, so upgrade your local Selenium and it should work.

[2022-04-23 06:26] sonali9293 commented on #1690
This helped. It is not initializing the driver for iOS correctly. But, seems like none of the latest selenium added features such as NewWindow, getScreenshotAs, or even relative locator is compatible wit IOS.
As we earlier discussed @titusfortner on this same, we have raised an issue for this and guess it is still in progress ( [https://github.com/appium/appium/issues/16749](url) ). How long do yo

[2022-04-23 15:25] titusfortner commented on #1690
Relative locator should work, it's just Javascript execution underneath. The others are new endpoints and the various drivers need to add them as well, from what I understand.

[2022-04-23 15:28] titusfortner commented on #1690
Ah here: https://github.com/appium/appium/issues/16749#issuecomment-1107437686

This might be chrome only, though.

[2022-04-23 15:28] #1690 closed

[2022-04-23 17:10] KazuCocoa commented on #1592
[code]

this format is W3C format as https://github.com/appium/java-client/issues/1592#issuecomment-970347439 . Selenium v4 based client like appium client v8 sends only the W3C one, but WinAppDriver does not handle it until they support the format. One workaround is you need to use appium java client v7 for them.

[2022-04-23 17:28] MalpaBajpai commented on #1592
Thank You @KazuCocoa for your reply .
As you mentioned I with appium Java Client v7 but nothing is happening.

POM.xml:-
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>CucumberSelenium</groupId>

[2022-04-25 21:38] MalpaBajpai commented on #1592
@mykola-mokhnach  My code is running fine with Selenium version 3 and Appium java client V7 could you please provide sample code for appium v8 and selenium v4 ?

[2022-04-26 01:01] KazuCocoa commented on #1592
The WinAppDriver requires selenium v3 based client for now since Selenium v4 requires W3C spec protocol that is not supported by WinAppDriver yet.

[2022-04-26 05:02] MalpaBajpai commented on #1592
@KazuCocoa  Thank You for your response
Much appreciated 😊

[2022-04-26 12:59] vasilyvoitenko commented on #1489
@prasannaThanu could you please specify what kind of version mismatch? I'm getting the same exception with BS.

[2022-04-28 02:22] JonathanOrtegon-L opened #1692 "Method is not implemented at XCUITestDriver.closeWindow"
## Description

I'm doing a migration from Appium 7.3 to 8.0, but I have problems with closing the app without terminating the driver session with driver.close(), but the error occurs on execution

` {"value":{"error":"unknown method","message":"Method is not implemented","stacktrace":"NotImplementedError: Method is not implemented\n    at XCUITestDriver.closeWindow (/Applications/Appium.app/Conte

[2022-05-01 08:16] KazuCocoa commented on #1692
Do you want to use `terminateApp`?

[2022-05-03 20:34] natisimonet commented on #1361
Hi! i have the same problem using maven. Any one can give me a tip to how to solve it?
thanks!

[2022-05-17 07:53] joyjagan11 commented on #668
![image](https://user-images.githubusercontent.com/69839515/168759069-76028e5b-9e7c-4eb1-91b7-a710aa972c46.png)

am also facing here

[2022-05-20 06:55] vaibhav2903 opened #1693 "Update apps to latest version for compatibility for higher version of Mobile OS"
Currently, The tests use applications (like apkdemos and intent)which are very old for android. The applications need to be updated to the latest version so that it can be tested on later versions of android.

Please describe the issue. If it is a bug, please briefly describe the steps to reproduce and the actual vs expected behavior.
If there is a feature that you would like to see added to the A

[2022-05-27 12:20] ChinmayPandaZee opened #1694 "cannot be cast to class io.appium.java_client.android.AndroidDriver while using EventFiringDecorator"
## Description

I'm trying to use the decorator mechanism provided by selenium 4.
But following the doc to decorate the android driver, I get the exception

java.lang.ClassCastException: class jdk.proxy2.$Proxy22 cannot be cast to class io.appium.java_client.android.AndroidDriver (jdk.proxy2.$Proxy22 is in module jdk.proxy2 of loader 'app'; io.appium.java_client.android.AndroidDriver is in unnamed

[2022-05-27 12:21] ChinmayPandaZee commented on #1694
It is simillar to Cannot decorate AndroidDriver (probably the same for IOSDriver #1643 @mykola-mokhnach @SrinivasanTarget

[2022-05-27 12:24] mykola-mokhnach commented on #1694
this is fixed in master although not yet published

[2022-05-27 12:47] ChinmayPandaZee commented on #1694
Is there any workaround for the time being?

I am getting below exception which need to be handled from listeners.
org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original error: 'POST /element' cannot be proxied to UiAutomator2 server because the instrumentation process is not running (probably crashed). Check the server log and/or the l

[2022-05-29 06:34] luckhiem opened #1695 "Unable to init Appium driver Caused by: java.lang.ClassNotFoundException: org.openqa.selenium.remote.AcceptedW3CCapabilityKeys"
## Description

Unable to init Appium driver Caused by: java.lang.ClassNotFoundException: org.openqa.selenium.remote.AcceptedW3CCapabilityKeys.

## Environment

* Java client build version or git revision if you use some snapshot: java 11
* Appium server version or git revision if you use some snapshot: 1.22.3
* Desktop OS/version used to run Appium if necessary: com.apple.MobileAddressBook
* Node

[2022-05-29 08:12] mykola-mokhnach commented on #1695
This error is expected as Selenium got some breaking changes in v4.2.0
https://github.com/appium/java-client/pull/1696 should add the necessary compatibility fixes

[2022-05-29 11:31] kenzym04 commented on #700
Don't use the latest java_client, use java_client 7.6.0 and your problem will be gone

[2022-05-31 08:30] valfirst commented on #1695
Fixed and released: [`io.appium:java-client:8.1.0`](https://repo1.maven.org/maven2/io/appium/java-client/8.1.0/)

[2022-05-31 08:30] #1695 closed

[2022-05-31 08:30] valfirst commented on #1694
Fixed and released: [`io.appium:java-client:8.1.0`](https://repo1.maven.org/maven2/io/appium/java-client/8.1.0/)

[2022-05-31 09:59] Jakwado opened #1700 "Appium 8.0.0 can not access selenium support package"
## Environment

Java: 15
Appium java-client version: 8.0.0

## Details

![image](https://user-images.githubusercontent.com/30602016/171148079-b947d9e4-300f-4cd0-9d95-a6ef913981f1.png)

I cannot use selenium classes when I pull appium java-client dependency v8.0.0. On the other hand when I pull selenium support as a separate dependency in pom here's what I get:

selenium/remote/AcceptedW3CCapabilit

[2022-05-31 13:54] valfirst commented on #1700
@Jakwado you need to add explicitly selenium-support dependency: `org.seleniumhq.selenium:selenium-support`

[2022-05-31 13:59] valfirst commented on #1700
@Jakwado make sure the version of `selenium-support` dependency is aligned with version of Selenium supported by Appium Java client

[2022-05-31 14:04] Jakwado commented on #1700
This is the dependency I added explicitly:
        <dependency>
            <groupId>org.seleniumhq.selenium</groupId>
            <artifactId>selenium-support</artifactId>
            <version>4.2.0</version>
        </dependency>

It aligns with java-client:8.0.0 dependencies.

[2022-05-31 14:22] Jakwado commented on #1700
What's selenium compatible version then? I tried 4.0.0, 4.12 and even notation you guys you in pom - "[4.0, 5.0)" - none of these work. Any tips?

[2022-05-31 14:26] Jakwado commented on #1700
Okay I went through the topic you sent in your latest message. Upgrading Appium to 8.1 helped. Thanks a lot for your help. Any ETA regarding it's presence on mvnrepository?

[2022-05-31 15:00] valfirst commented on #1700
It's already available: https://github.com/appium/java-client/issues/1695#issuecomment-1141834902

[2022-05-31 15:07] #1700 closed

[2022-06-01 01:11] n00bstr opened #1701 "java.lang.ClassCastException: class org.openqa.selenium.Platform$23 cannot be cast to class java.lang.String (org.openqa.selenium.Platform$23 is in unnamed module of loader 'app'; java.lang.String is in module java.base of loader 'bootstrap')"
## Description

Unable to create both IOSDriver and AndroidDriver after upgrading Selenium to 4.2.0 and Appium to 8.1.0. Error message displayed below:

Where creating iOSDriver:

[code]

When creating AndroidDriver:
[code]

## Notes
- iOSDriver created with Xcuitestoptions
- AndroidDriver created with both DesiredCapabilities and UiAutomator2Options
- Both methods results in the same cannot cast

[2022-06-01 05:48] mykola-mokhnach commented on #1701
Could you please provide an example of the client code?

[2022-06-01 05:57] n00bstr commented on #1701
@mykola-mokhnach Please see below for iOS:

[code]

[code]

[2022-06-01 06:17] mykola-mokhnach commented on #1701
Unfortunately I cannot reproduce this issue. Maybe try to reset maven/gradle caches?

[2022-06-01 06:53] nir-tal-talkspace commented on #1701
it happened to me also
I think it's related to the new selenium version 4.2.1

[2022-06-01 08:06] n00bstr commented on #1701
@mykola-mokhnach Here are things I've tried so far:
- downgrading the Selenium version and also the Appium java-client version, did not help. Keeps referring to Selenium 4.2.0 libraries.
- invalidating caches and restarting the IDE, did not help
- deleting the "target" folder on my Maven project and rebuilding, did not help

Appiumdriver works but cannot use driver-specific methods. Suspect Appium

[2022-06-01 09:43] Jakwado opened #1703 "Problem initializing driver for Appium 8.1 - Platform$22 cannot be cast to class java.lang.String"
## Description

I have problem initializing Appium webDriver after migration to 8.1. Solutions provided in [this ticket](https://discuss.appium.io/t/unable-to-initialize-driver-using-appium-java-8/36038) did not help me. Any support would be appreciated.

## Environment

* Java 15
* Appium 8.1
* Android 11
* Emulator Pixel 4 XL

## Details

My BaseOptions deserialize this json to map:

Here is my

[2022-06-01 09:57] valfirst commented on #1703
Duplicate of #1701

[2022-06-01 09:57] #1703 closed

[2022-06-01 09:59] Jakwado commented on #1701
I tried and it still did not help.

[2022-06-01 10:51] smdelacruz commented on #1701
Having the same issue

[2022-06-01 10:53] rehansulehria commented on #1701
did try to set it using below code but did not work
`        XCUITestOptions xcuiTestOptions = new XCUITestOptions();
xcuiTestOptions.setCapability("platformName", "ios");
`

[2022-06-01 14:54] SrinivasanTarget commented on #1701
@Dan-Maor I will release a patch version tonight or tomorrow surely. Meanwhile, you can try jitpack for your verification using the instructions [here](https://jitpack.io/#appium/java-client/c68d503ff9)

[2022-06-01 23:05] n00bstr commented on #1701
Great tip, @SrinivasanTarget , tried that and have some progress. Please see below:

- Android with DesiredCapabilities works
- Android with UiAutomator2Options, unable to start a new session as there's no vendor prefix (assuming it is the appium: prefix here)
- iOS with XCUITestOptions, unable to start a new session as there's no vendor prefix
- iOS with Desired Capabilities works

[code]

@mykol

[2022-06-02 04:10] mykola-mokhnach commented on #1701
Thanks for the update @n00bstr
I've created another patch to fix the issue related to platformVersion capability. It turns out Selenium lib tries to add workarounds to browser issues, which badly hits our client: https://github.com/SeleniumHQ/selenium/blob/b0057b54cff7991add4299d58de53245f9d9ecf9/java/src/org/openqa/selenium/AcceptedW3CCapabilityKeys.java#L45

[2022-06-02 21:49] lilkimo commented on #1701
didnt work for me, same error message

[2022-06-03 03:44] nirtal85 commented on #1701
@titusfortner @diemol

[2022-06-03 13:25] bencytest opened #1705 "Closed as not an issue"
Closed as not an issue

_Originally posted by @mykola-mokhnach in https://github.com/appium/appium/issues/15261#issuecomment-817086409_

[2022-06-03 23:01] cyberjaime45 commented on #1701
I was getting this issue on my Linux machine but not on my local Mac machine. We used Jenkins with Linux slaves pointing to Saucelabs.

The work around was  to change from:
caps.setCapability("platformName", platform);
to:
caps.setCapability("appium:platformName", platform);

It works with no issues so far.

[2022-06-04 09:53] Rabindra184 opened #1707 "cannot be cast to class io.appium.java_client.android.AndroidDriver (net.bytebuddy.renamed.java.lang.Object$ByteBuddy$8cPvc5VQ is in unnamed module of loader net.bytebuddy.dynamic.loading.ByteArrayClassLoader @18f55704; io.appium.java_client.android.AndroidDriver is in unnamed module of loader 'app'"
## Description

I'm trying to use the decorator mechanism provided by selenium 4.
But following the doc to decorate the android driver, I get the exception

AndroidDriver:  on android (3ce90b0b-4d97-4cbd-8db7-c2aff01de9da).....driver1.....
java.lang.ClassCastException: class net.bytebuddy.renamed.java.lang.Object$ByteBuddy$8cPvc5VQ cannot be cast to class io.appium.java_client.android.AndroidDrive

[2022-06-04 10:23] mykola-mokhnach commented on #1707
Please provide the full stack trace

[2022-06-04 10:27] mykola-mokhnach commented on #1707
Also I'm not quite sure one can case like `driver = (AndroidDriver) new EventFiringDecorator(listener).decorate(driver1);`. EventFiringDecorator is not a subclass of AndroidDriver

[2022-06-04 17:33] Rabindra184 commented on #1707
WebDriver original = new AndroidDriver();
// it is expected that MyListener class implements WebDriverListener
// interface or its descendant
WebDriverListener listener = new MyListener();
WebDriver decorated = new EventFiringDecorator(listener).decorate(original);

[2022-06-04 17:48] Rabindra184 commented on #1694
I think the below line still not working after the fix as well.
AndroidDriver driver = new AndroidDriver(url, driverCapabilities);
driver=(AndroidDriver) new EventFiringDecorator(new MyLIstner()).decorate(driver);
Error:
ava.lang.ClassCastException: class net.bytebuddy.renamed.java.lang.Object$ByteBuddy$ulOI0ra9 cannot be cast to class io.appium.java_client.android.AndroidDriver (net.bytebuddy.ren

[2022-06-06 04:17] ChinmayPandaZee commented on #1694
@Rabindra184  yes, I also observed the same issue after the latest fix. Please look into this.@valfirst @mykola-mokhnach

[2022-06-06 06:21] mykola-mokhnach commented on #1694
The decorator code is completely inherited from Selenium API. @diemol @titusfortner Do you know about any changes that happened recently and may cause the above error?

[2022-06-06 06:55] abhaybharti commented on #1701
Any workaround for this issue?

[2022-06-06 07:00] AYUSH-17 commented on #1701
Thanks @mykola-mokhnach ,
Platform issue has been resolved now.

I have updated java-client to 8.1.1 version , selenium-java to 4.2.1 and uiautomator2 to 2.2.0

[2022-06-06 07:23] #1701 closed

[2022-06-06 07:25] valfirst commented on #1705
Duplicate of #1695

[2022-06-06 07:25] #1705 closed

[2022-06-06 08:57] valfirst commented on #1707
Duplicate of #1694

[2022-06-06 08:57] #1707 closed

[2022-06-06 13:15] valfirst commented on #1694
It seems this issue is similar to https://github.com/SeleniumHQ/selenium/issues/9416

[2022-06-08 22:08] diemol commented on #1701
Apologies for the trouble. `platform` has been deprecated for a long time, however it still brings issues everywhere.

Adding `platformVersion` to the W3C valid caps as an exception was my mistake, since we are moving towards removing JWP from Java Selenium. However, this has been reverted and 4.2.2 won't have it. Will this affect you, @mykola-mokhnach?

[2022-06-09 05:30] mykola-mokhnach commented on #1701
@diemol I've decided to maintain a separate list of allowed W3C capability names in our client, so any changes in the Selenium's one should not affect the functionality much.

[2022-06-09 06:58] diemol commented on #1701
That makes sense. Do you know how I can find all "implicit" dependencies between those two code bases? We'd like to be aware of how changes upstream affect this client.

[2022-06-09 07:05] mykola-mokhnach commented on #1701
The first thing that comes into my mind is to create a new PR and trigger unit and end-to-end tests on it. It probably also makes sense to put alpha/beta branch containing recent changes of selenium lib into Gradle dependencies (not sure if Selenium has such), because it is already too late if the corresponding version is live.

[2022-06-09 07:08] diemol commented on #1701
I will find to see how we can publish nightly or weekly builds, and then we can work on using them to check potential issues with the Appium client.

[2022-06-09 07:32] nir-tal-talkspace commented on #1701
thanks!!!

[2022-06-13 06:34] fairy-gh commented on #1600
I had the same issue and instead of
`    implementation 'com.github.appium:java-client:latest commit id from master branch'
`
I replaced
`testImplementation 'com.github.appium:java-client:latest commit id from master branch'
`
 It worked in my case.

[2022-06-14 17:18] sweeneyapps commented on #668
@joyjagan11

MobileBy is deprecated but you can use this:

`driver.findElement(new AppiumBy.ByAndroidUIAutomator("text(\"Views\")")).click();`

[2022-06-15 11:44] dawsze opened #1711 "AndroidDriver returns empty element text/value with appium java-client 8.1.1"
## Description

I've just upgraded appium java-client from 7.6.0 to 8.1.1.
Tests on AndroidDriver cannot get proper element value or text (element.getAttribute("value") | element.getText()). These methods returns only empty values. IOSDriver works fine.

Moreover if I change AndroidDriver to RemoteWebdriver everything is back to normal and methods returns proper element text/value.

Tested on:
* H

[2022-06-20 09:54] dawsze commented on #1711
Server log:
https://gist.github.com/dawsze/4781ed948ab629201c39157e86a9de18

[2022-06-21 08:51] dawsze commented on #1711
Found this ticket at chromedrivers community:
https://bugs.chromium.org/p/chromedriver/issues/detail?id=3820
but i don't know it's related with my issue.

Anyway, reffering to comments, I changed UiAutomator2Options to ChromeOptions and set two additional capabilities:

- setExperimentalOption("w3c",false);
- setBrowserVersion("");

which seems to work as workaround.

Does this change may affect t

[2022-06-21 09:01] mykola-mokhnach commented on #1711
Appium works as a simple proxy in case with chromedriver. We don't try to add any logic on top of that functionality.
IMHO disabling W3C mode might work as a temporary workaround, but in the longer perspective JWP protocol will be completely deprecated.

[2022-06-22 16:09] iKabi commented on #1707
@valfirst any updates on this merge request?

[2022-06-23 07:07] valfirst commented on #1707
@iKabi which request do you mean?

[2022-06-23 10:35] iKabi commented on #1707
@valfirst open PR#17037 I hope that is to fix this class cast exception?

[2022-06-23 11:17] valfirst commented on #1707
I guess you mean PR to https://github.com/SeleniumHQ/selenium/, so it's better to ask for its status in the corresponding repository

[2022-07-05 01:36] WillingSasi commented on #1694
Also i meet this issue in Appium:java-client:8.1.1，the following is callding code:

WebDriverListener webDriverListener = new CustomListener();
appiumDriver = (AppiumDriver) new EventFiringDecorator(webDriverListener).decorate(appiumDriver);

Caused by: java.lang.ClassCastException: class net.bytebuddy.renamed.java.lang.Object$ByteBuddy$AuHk1O9o cannot be cast to class io.appium.java_client.Appium

[2022-07-06 01:41] JGDStein commented on #1207
hi, guys, actually I'm getting the same issue, could someone help me to solve this?

I'm getting this issue:

Exception in thread "main" org.openqa.selenium.json.JsonException: Unable to determine type from: /. Last 41 characters read: {
  "desiredCapabilities": {
    "app": /

**Actually my envoronment is:**

- Java client build version - 7.6.0
- Appium server version - v1.21.0
- Desktop OS/versi

[2022-07-07 13:16] valfirst commented on #1207
@JGDStein could you please provide the full error?

[2022-07-10 15:38] smdelacruz opened #1716 "Session ID is null. The session identified by ... is not known"

[2022-07-11 16:03] karthiksag opened #1717 "Unable to run basic code to launch app"
**Source Code:**

File appDir=new File("src");
File app=new File(appDir,"ApiDemos-debug.apk");
DesiredCapabilities cap=new DesiredCapabilities();
cap.setCapability("automationName", "uiautomator2");
cap.setCapability("device","Android");
cap.setCapability(CapabilityType.BROWSER_NAME, "");
cap.setCapability(CapabilityType.VERSION, "13");
cap.setCapability("app", app.getAbsolutePath());
cap.setCapab

[2022-07-12 19:08] nir-tal-talkspace opened #1718 "@FindAll annotation not compatible with @iOSXCUITFindBy"
## Description

I'm trying to use @FindAll with @iOSXCUITFindBy to find multiple IOS elements but it does not work.

this code works:
[code]

but IOS elements have accessibility attribute which is not present in the @FindBy annotation.

## Environment

* Java client build version or git revision if you use some snapshot: latest
* Appium server version or git revision if you use some snapshot: late

[2022-07-13 14:18] kamal-kaur04 opened #1719 "getSystemBars returns wrong height and width"
## Description

When calling getSystemBars() on Android 12, it returns `{statusBar={visible=true, x=0, y=0, width=null, height=1}, navigationBar={visible=true, x=0, y=0, width=null, height=1}}`

## Environment

* Java client build version or git revision if you use some snapshot:
* Appium server version or git revision if you use some snapshot:
* Desktop OS/version used to run Appium if necessary:

[2022-07-13 14:27] #1719 closed

[2022-07-14 05:40] kamal-kaur04 commented on #1719
Thanks @mykola-mokhnach, Could you please let me know when are you planning to release a method getSystemBars() for C# as well?

[2022-07-14 08:22] mykola-mokhnach commented on #1719
Unfortunately I cannot answer this question as I don't participate in this client development. Try asking at their issues tracker

[2022-07-18 11:45] shailjadubey commented on #710
I am facing same error , please help with the solution

[2022-07-19 09:40] kirannailwal1 commented on #1694
@valfirst @mykola-mokhnach @ChinmayPandaZee @WillingSasi @Rabindra184
Have this issue fixed for you. Please update i am still facing this issue.
java.lang.ClassCastException: net.bytebuddy.renamed.java.lang.Object$ByteBuddy$F6Ow9062 cannot be cast to io.appium.java_client.android.AndroidDriver

org.seleniumhq.selenium :4.3.0
java-client :8.1.1
appium version : 1.22.3
node version : v16.16.0

[2022-07-20 05:40] kirannailwal1 commented on #1666
@krnnarayan : if your issue got resolved ?

[2022-07-26 10:52] RameshBabuPrudhvi opened #1722 "Code Styles not in sync"
## Description

Throughout the project Code Formatter is not in sync

## Details

Please provide more details, if necessary.

## Code To Reproduce Issue [ Good To Have ]

The below class uses static imports in first place
https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/android/AndroidDriver.java

However in the below class ,static imports are used in last plac

[2022-07-26 11:17] StephanB75 opened #1723 "8.1.1 - Could not start a new session"
## Description

i have updated from 8.1.0 to 8.1.1 and i get the error "Could not start a new session"
Switched back to 8.1.0 and it works again.
Has something changed regarding the appiumServiceBuilder ?

## Environment

* Java client build version or git revision if you use some snapshot: 8.1.1
* Appium server version or git revision if you use some snapshot: 2.0beta40
* Desktop OS/version used

[2022-07-26 14:18] anunay1 opened #1724 "[Need info] How to automate facial recognition?"
## Description
I want to automate facial recognition in order. Can I do that with Appium?

[2022-07-27 05:28] StephanB75 commented on #1724
works only for iOS as far as i know

https://github.com/appium/appium-xcuitest-driver#platform-specific-extensions

mobile: enrollBiometric
mobile: sendBiometricMatch
mobile: isBiometricEnrolled

[2022-07-27 05:48] anunay1 commented on #1724
Thanks @StephanB75 but I need it for Android

[2022-07-27 11:26] ItaySasson opened #1727 "Issue with Updating from appium for windows 1.8.1 to appium 1.22.3"
## The problem

Issue with Updating from appium for windows 1.8.1 to appium 1.22.3
I'm using IntelliJ IDEA Community Edition 2022.2 with Java and JDK 17.0.4
with windows 10.
npm version 8.11.0
nodejs version - last.
In order to test windows application.
on a real machines.

 download new Node.js. Deleted uninstalled current version of Appium and installed appium with:  npm -g appium I also updated

[2022-07-27 13:11] mykola-mokhnach commented on #1727
Make sure you follow the java client migration guide: https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md

[2022-07-31 03:18] naveenv20 commented on #1619
i have the same issue
java-client : 8.1.1
java: 18.0.1
Appium : 2.0.0-beta.40

[2022-08-03 10:45] gargpriya01 opened #1732 "Is io.appium.java_client.internal.ElementMap.getElementClass support removed from appium 8.1.1?"
### Discussed in https://github.com/appium/java-client/discussions/1731

<sup>Originally posted by **gargpriya01** August  3, 2022</sup>
I am unable to use ElementMap after upgrading to appium java client 8.1.1.

Does anyone know why this is so or an alternate solution to this?</div>

[2022-08-03 11:46] valfirst commented on #1732
please check "Migration Guide": https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#mobileelement

[2022-08-03 12:33] gargpriya01 commented on #1732
i am using below code with ElementMap import. But i am not able to understand how should I modify it in v8 migration ?
private WebElement proxyForAnElement(ElementLocator locator) {
    ElementInterceptor elementInterceptor = new ElementInterceptor(locator, webDriver);
    return getEnhancedProxy(getElementClass(platform, automation), elementInterceptor);
}

@valfirst  Can you help me understand t

[2022-08-03 13:40] valfirst commented on #1732
the provided code doesn't have any [`ElementMap`](https://github.com/appium/java-client/pull/1555/files#diff-381699abe8b08025b7f0daa63e8aa188320a04d51372060f1a914827198177c5) references

[2022-08-04 05:30] sanoj-s commented on #1732
@gargpriya01 you can use,
private WebElement proxyForAnElement(ElementLocator locator) {
        ElementInterceptor elementInterceptor = new ElementInterceptor(locator, webDriver);
        return getEnhancedProxy(**RemoteWebElement**.class, elementInterceptor);
    }

[2022-08-04 10:02] gargpriya01 commented on #700
What can be the resolution if we have to use latest version 8.1.1 only?

[2022-08-04 10:11] valfirst commented on #700
Please, read ["Migration Guide"](https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md), there you'll be able to find the resolution to the error from https://github.com/appium/java-client/issues/700#issuecomment-1054218255

[2022-08-04 10:18] gargpriya01 opened #1733 "Type 'io.appium.java_client.AppiumDriver' does not have type parameters"
I am getting following error Type 'io.appium.java_client.AppiumDriver' does not have type parameters while upgrading from v7 to v8.

## Environment

* Java client build version or git revision if you use some snapshot: 8.1.1
* Appium server version or git revision if you use some snapshot:
* Desktop OS/version used to run Appium if necessary:
* Node.js version (unless using Appium.app|exe) or Appi

[2022-08-04 11:33] gargpriya01 opened #1734 "Issue with App management methods in v8"
Getting below errors in each of the method shared below in Code section. I understand resetApp, launchApp and closeApp have been deprecated. But removeApp and ActivateApp are newly added and still i am getting error. Also, what i can use in place of launchApp and resetApp . What about isAppInstalled?
1. Cannot resolve method 'launchApp' in 'AppiumDriver'
2. Cannot resolve method 'isAppInstalled' i

[2022-08-04 11:55] valfirst commented on #1734
Please, use `io.appium.java_client.ios.IOSDriver` or `io.appium.java_client.android.AndroidDriver` which implement `io.appium.java_client.InteractsWithApps` and `io.appium.java_client.SupportsLegacyAppManagement`

[2022-08-05 08:10] valfirst commented on #1733
That's expected, please check "Migration Guide": https://github.com/appium/java-client/blob/master/docs/v7-to-v8-migration-guide.md#appiumdriver

[2022-08-05 23:42] JaniJegoroff opened #1736 "Failed to load class "org.slf4j.impl.StaticLoggerBinder""
## Description

I'm running a simple unit tests for launching Appium server from the code with `Maven` and `Gradle`. Tests are running fine but I noticed logs related to `SLF4J` logging library used in the `AppiumDriverLocalService`:

`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".`

Maven
[code]

Gradle
[code]

## Environment

* Java client build version or git revision if you u

[2022-08-08 10:00] valfirst commented on #1736
@JaniJegoroff please check: https://www.slf4j.org/codes.html#StaticLoggerBinder

[2022-08-08 10:01] valfirst commented on #1734
@gargpriya01 is the issue solved?

[2022-08-08 10:01] valfirst commented on #1733
@gargpriya01 is the issue solved?

[2022-08-08 10:02] valfirst commented on #1732
@gargpriya01 is the issue solved?

[2022-08-08 18:03] cameronbrandcoders commented on #1619
Running into the same issue
java-client: 8.1.1
java: 18.0.2
appium: 1.22.3-4

[2022-08-10 13:37] #1694 closed

[2022-08-11 06:30] kirannailwal1 commented on #1694
@mykola-mokhnach
Can you please check the code implementation i have done, as i am still getting error.

**My exception listener class :**

1.  public class ExceptionListener implements WebDriverListener {
2.  @Override
3.  public void onError(Object target, Method method, Object[] args, InvocationTargetException e) {
4.       System.out.println("------------------------- Inside Exception --------

[2022-08-11 07:43] mykola-mokhnach commented on #1694
This won't work. You can only cast the decorator to a particular interface rather than a class

[2022-08-11 08:41] kirannailwal1 commented on #1694
@mykola-mokhnach Can you please share how i can do this casting.

[2022-08-12 11:42] akshay-9964 commented on #1505
@All Please give proper solution to this issue, struggling a lot to resolve this issue
![image](https://user-images.githubusercontent.com/56884290/184347066-0c3166f0-558c-4f51-bcf7-aa24fddeb76a.png)

[2022-08-12 14:50] #1734 closed

[2022-08-12 14:50] #1733 closed

[2022-08-12 14:52] #1732 closed

[2022-08-12 14:53] #1727 closed

[2022-08-12 14:56] #1681 closed

[2022-08-12 14:57] #1680 closed

[2022-08-14 11:38] ItaySasson commented on #1727
Hi,
I read the guide and I have some issues.
Now when I'm trying to do something like this:
appium.findElementsByAccessibilityId("ELEMENT_NAME").get(0).getText() I get an error.
I didn't find anything usful in the manual in order to solve it.
@mykola-mokhnach  Can you please assist?

[2022-08-14 12:10] nir-tal-talkspace commented on #1727
it should be
`        appium.findElements(AppiumBy.accessibilityId("d")).get(0).getText()`

[2022-08-14 12:30] ItaySasson commented on #1727
@nir-tal-talkspace
It is not working for appium for windows.
AppiumBy is not recognizable.

But I did some changes in the way I start my driver so now it is working...

I changed:
                appium = new WindowsDriver<WindowsElement>(service.getUrl(), appCapabilities);

To:
   appium = new AppiumDriver<>(service.getUrl(), appCapabilities);

   and change from:
    protected static WindowsDriv

[2022-08-15 08:50] Higgens75 commented on #1723
hmm 20 days and no one had an idea why its not working anymore ?

[2022-08-16 10:27] ItaySasson commented on #1727
@nir-tal-talkspace & @mykola-mokhnach Can you please assist:
I found out that my changes are not good enough and indeed I need to update selenium to:
           <dependency>
            <groupId>org.seleniumhq.selenium</groupId>
            <artifactId>selenium-java</artifactId>
            <version>4.3.0</version>
        </dependency>

       and io.appium to:
        <groupId>io.appium</groupId

[2022-08-16 12:08] Pewliedie opened #1742 "Cannot invoke "org.openqa.selenium.SearchContext.findElement(org.openqa.selenium.By)" because "this.searchContext" is null"
Trying to integrate spring boot with appium and getting this strange behavior:
Cannot invoke "org.openqa.selenium.SearchContext.findElement(org.openqa.selenium.By)" because "this.searchContext" is null

[pom.xml
](https://gist.github.com/Pewliedie/1cda5bcb8f2e7467f243ca05e737282c)

initialization of tests and appium [driver](https://gist.github.com/Pewliedie/dfda4a0e93ffd90ac9fcfaee6085474e)

![Sc

[2022-08-16 12:27] Shekhar-Test commented on #1694
@mykola-mokhnach @valfirst Could you please help me with this. Am I doing it wrong?
I am also getting the same java.lang.ClassCastException.

**Environment**
org.seleniumhq.selenium :4.4.0
java-client :8.1.1
node version : v18.4.0
java: 11

**TestListener is listener class which implements ITestListener,WebDriverListener.**

**Implementation :**
  AndroidDriver driver = new AndroidDriver(url, capa

[2022-08-16 13:05] tush20010 opened #1743 "wait.until(ExpectedConditions.visibilityOfElementLocated execution is taking too much time after upgrading selenium to 4.3.0 along with appium version 8.1.1 and webdriver version to 5.2.3"

[2022-08-16 13:17] tush20010 commented on #574
I am facing issues with appium 8.1.1 can anyone help how to resolve it

[2022-08-16 20:03] valfirst commented on #1742
Could you please provide [Short, Self Contained, Correct (Compilable), Example](http://sscce.org/)?

[2022-08-16 20:03] valfirst commented on #1743
could you please provide [Short, Self Contained, Correct (Compilable), Example](http://sscce.org/)?

[2022-08-26 03:37] ilamp opened #1748 "module org.seleniumhq.selenium.remote_driver does not "opens org.openqa.selenium.remote" to module java.client"
## Description

I've been trying to connect to local appium server but haven't been able to so far.
`module org.seleniumhq.selenium.remote_driver does not "opens org.openqa.selenium.remote" to module java.client`

## Details

I've been trying to connect to local appium server but haven't been able to so far.
`module org.seleniumhq.selenium.remote_driver does not "opens org.openqa.selenium.remote"

[2022-08-26 15:02] bipin-k commented on #1748
@ilamp Can you please a code snippet to reproduce this issue? Also, can you please share appium, java and node version!

[2022-08-27 00:53] ilamp commented on #1748
@bipin-k Please try this: https://github.com/ilamp/Demo

[2022-08-29 08:28] ilamp commented on #1748
For anyone facing this issue you can add `--add-options` flag to your `javafx-maven-plugin` configuration.

`            <plugin>
                <groupId>org.openjfx</groupId>
                <artifactId>javafx-maven-plugin</artifactId>
                <version>0.0.8</version>
                <executions>
                    <execution>

                        <id>default-cli</id>

[2022-08-29 08:29] ilamp commented on #1748
For anyone facing this issue you can add `--add-options` flag to your `javafx-maven-plugin` configuration.

[code]

[2022-08-29 08:47] davudmurtazin commented on #1694
@mykola-mokhnach @valfirst Is there any updates? Still facing issues.

AppiumDriver driver = new AndroidDriver(AddressConfigurator.getService(),
                    CapabilitiesConfigurator.getAndroidLocalOptions(udid, deviceName, platformVersion));
  WebDriverListener listener = new EventLogListenerNew();
  driver = (AndroidDriver) new EventFiringDecorator(listener).decorate(driver);

Error: java

[2022-08-29 21:09] titusfortner commented on #1694
@mykola-mokhnach we've made a few changes in the past year, honestly not sure what would have caused the issue: https://github.com/SeleniumHQ/selenium/commits/trunk/java/src/org/openqa/selenium/support/decorators/WebDriverDecorator.java

@pujagani might know more.

[2022-08-30 07:38] StephanB75 commented on #1723
problem solved. had to update selenium bindings from 4.1.2 to 4.4.0 (latest)
Haven't seen this information in the release notes of java client 8.1.1

[2022-08-30 07:38] #1723 closed

[2022-08-31 20:43] bipin-k commented on #1736
Can we close this issue as this seems to be resolved for now and isn't specific to this library? cc: @JaniJegoroff @SrinivasanTarget @mykola-mokhnach

[2022-08-31 20:45] bipin-k commented on #1748
Can we please close this issue as this is resolved now? cc: @ilamp @SrinivasanTarget @mykola-mokhnach

[2022-09-01 02:48] #1748 closed

[2022-09-02 07:20] StephanB75 opened #1756 "Android API 33 : Original error: 'de.rm.app.android.debug' is still running after 500ms timeout"
## The problem

I have under Android API 33 sometimes the issue that on driver.terminateApp() throws an error.
Original error: 'de.rm.app.android.debug' is still running after 500ms timeout

It does not occur everytime.
is it possible to make the timeout configurable

## Environment

* Appium version (or git revision) that exhibits the issue: 2.0 beta43
* Last Appium version that did not exhibit t

[2022-09-02 11:52] Arifa105 commented on #1659
Hi ! i'm making test case in appium java and i'm facing this issue **Cannot resolve symbol 'MobileElement'**

[2022-09-02 17:43] SrinivasanTarget commented on #1659
Mobile Element is removed from recent versions of Java client. Please check migration guide in Readme.

[2022-09-04 11:39] imranreee commented on #1361
any solution yet?

[2022-09-05 02:24] cnerkar1859 commented on #1619
@cameronbrandcoders - In the above new way of doing how can we use the same WebElement for ios and android, the old way -

@AndroidFindBy(id = "AndroidButtonID")
    @iOSXCUITFindBy(id = "iOSButtonID")
    public WebElement getButton;
do we have any solution ?

[2022-09-06 05:58] cnerkar1859 opened #1758 "Unable to run the appium test with junit test runner using 2.0.0-beta.40 Appium Server"
## The problem

I ran into this issue recently where-in am trying to run my suite through test runner but unfortunately am getting java.lang.ExceptionInInitializerError, Instead i am able to run the individual feature file successfully one by one, I tried to downgrade appium server but didn't help, a similar issue has been raised by multiple people but not specific with the **JUnit test runner** (

[2022-09-08 05:58] KazuCocoa commented on #1756
I think so

[2022-09-08 06:00] StephanB75 commented on #1756
yes it works, but i still have sometimes the problem that the app seems not be killed after teminateApp with a timeout of 15 seks. But most probably thats not an issue from appium.

[2022-09-08 06:00] #1756 closed

[2022-09-09 10:56] davudmurtazin commented on #1758
I have the same issue with java 17. Is there any solution to resolve it, so I can use both annotations AndroidFindBy and iOSXCUITFindBy?
Appium: 2.0.0-beta.44
Appium Java client: 8.2.0

[2022-09-13 09:40] amedvedjev opened #1759 "Appium 2.0: Android: UnsupportedCommandException: mobile: type"
## The problem

while trying to execute https://github.com/appium/appium-uiautomator2-driver#mobile-type

[code]

## Environment

* Appium version (or git revision) that exhibits the issue: 2.0.0-beta.35
* Desktop OS/version used to run Appium: macOS 12.3.1
* Mobile platform/version under test: Android
* Real device or emulator/simulator: real device
- uiautomator2@2.1.2 [installed (NPM)]
- xcuite

[2022-09-13 09:43] mykola-mokhnach commented on #1759
driver.execute -> driver.executeScript

[2022-09-13 10:10] amedvedjev commented on #1759
iiii so silly. thanks!

[2022-09-13 10:10] #1759 closed

[2022-09-14 12:01] #1659 closed

[2022-09-14 12:03] #1549 closed

[2022-09-15 15:25] bipin-k commented on #1722
@mykola-mokhnach @SrinivasanTarget Shall we use [Google Java StyleGuide](https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml) for this?

[2022-09-15 15:38] bipin-k commented on #1522
@srenu09 Is this issue still reproducible or is it resolved for now?

[2022-09-15 15:48] #1636 closed

[2022-09-15 22:56] cnerkar1859 commented on #1758
@davudmurtazin: This is my observation, Initially --- I was on Appium Java client 8.0.0 with Java 8 and I was getting the above error, So I updated to java 11 with appium 8.2.0 and it worked, but also tried java 8 with 8.2.0 and it worked, So as per my analysis this won't be an issue with java, check if you have multiple java installed and try to keep only one and give a shot, not sure I caching c

[2022-09-16 07:26] lakshmividyadharan opened #1761 "Unable to run the test parallelly on 2 devices through testng (appium java) > code runs individually << failed due to unable to locate the element"

[2022-09-16 07:39] davudmurtazin commented on #1758
@cnerkar1859 No issues with java 15 and lower, but I have issues using PageFactory.initElements(driver, this);
But if I turn to java 17, so getting java.lang.ExceptionInInitializerError in PageFactory.initElements(driver, this);
Am I the only one with this issue?

[2022-09-16 14:28] taimoor8152 commented on #1619
@cnerkar1859
I have studied somewhere that you need to install the java version 11 ion order to resolve this issue. But unfortunately i am unable to resolve this issue.

[2022-09-16 16:55] cnerkar1859 commented on #1619
@taimoor8152
This issue is resolved for me now , yes I also updated to JDK 11 and Appium Java Client to 8.2.0 & it worked,but I also gave a try on jdk 8 with appium 8.2.0 & it worked perfectly fine too, I haven’t tried on higher Java version greater than 11!

[2022-09-24 00:34] sinapot commented on #1758
Im getting similar issue and in similar environment:

    public BasePage(AppiumDriver appiumDriver){
        PageFactory.initElements(new AppiumFieldDecorator(appiumDriver), this);
        driver = appiumDriver;

Appium: 2.0.0-beta.44
JavaClient: 8.2.0
java 17.0.4.1 2022-08-18 LTS

error similar to reported above:
java.lang.ExceptionInInitializerError
	at io.appium.java_client.pagefactory.utils.P

[2022-09-24 00:34] sinapot commented on #1619
Im getting similar issue and in similar environment:

    public BasePage(AppiumDriver appiumDriver){
        PageFactory.initElements(new AppiumFieldDecorator(appiumDriver), this);
        driver = appiumDriver;

Appium: 2.0.0-beta.44
JavaClient: 8.2.0
java 17.0.4.1 2022-08-18 LTS

error similar to reported above:
java.lang.ExceptionInInitializerError
	at io.appium.java_client.pagefactory.utils.P

[2022-09-25 17:08] sujithreddy-gsr opened #1765 "appium.webdriver.appium_service.AppiumServiceError: Appium has failed to start on 127.0.0.1:4723 within 60000ms timeout"

[2022-09-26 10:50] taimoor8152 commented on #1619
@sinapot Please install java 11 first and this error will be removed automatically. If you are still facing any issue let me know.

[2022-09-26 13:37] avukovicnapoleongames opened #1769 "java.lang.IllegalStateException"
This is what I have istalled:
node version 10.16.1
appium 1.20.2
npm 6.14.11
maven 3.8.5
I have isnstalled opnecv
npm i -g opencv-build
npm i -g opencv4nodejs
cucumber 7.0.0
java 17.0.2

What I want actually is to run image recognition, but I can't run this project with command mvn clean test I have an error

java.lang.IllegalStateException: The driver executable is a directory: /opt/homebrew/bin/

[2022-09-26 15:10] teovuk opened #1770 "o.appium.java_client.service.local.AppiumServerHasNotBeenStartedLocallyException invalid port"
## The problem

When run tests with command `mvn clean test` appium server can't start

## Environment

* Appium CLI
* appium version 1.20.2
* node version 10.16.1
* maven 3.8.5
* java 17.0.2
* OS name: "mac os x", version: "12.3.1", arch: "aarch64", family: "mac"
*

## code

[code]

##  XML file

   `<test name="Samsung SM-N970F">
        <parameter name="platformName" value="Android" />

[2022-09-27 17:22] benz-philip01 commented on #1619
@taimoor8152 @mykola-mokhnach
java version: 11.0.11
javaClient: 8.2.0
selenium:4.4.0

@AndroidFindBy(id="yyy")
    @iOSXCUITFindBy(id="xxx")
    public WebElement backgroundImage;

By using @AndroidFindBy or @AndroidBy, the element identifier initialization is not happening. =>

org.openqa.selenium.NoSuchElementException: Can't locate an element by this strategy: by id or name "**backgroundImage**

[2022-09-27 22:45] jlipps commented on #1769
for what it's worth we only support image recognition through  the appium 2 images plugin, which no longer uses opencv4nodejs. not sure if that is related to your particular error, but just to say that you will want to upgrade to appium 2 and the images plugin anyway.

[2022-09-27 22:47] jlipps commented on #1770
[code]

I don't think this line does what you think it does. This should be a path to the node.js binary. It doesn't have anything to do with chromedriver apparently. As you can tell in the error message, it is trying to start appium using the chromedriver path you provided, which doesn't make sense.

[2022-09-27 22:47] #1770 closed

[2022-09-28 07:55] teovuk commented on #1769
Can you tell me which libraries and image plugin to use? Or, even better to give me the link of instruction of installation?

[2022-09-28 08:07] StephanB75 commented on #1769
I think Jlipps ment to use appium 2 instead appium 1.x.
https://github.com/appium/appium/blob/master/packages/appium/docs/en/guides/migrating-1-to-2.md

Than the image recognition can be simply used by installing the appium plugin "images" (appium plugin install images) without fiddeling around with opencv installation/compiling

[2022-09-28 18:19] jlipps commented on #1769
yep, and the image plugin itself has a readme: https://github.com/appium/appium/tree/master/packages/images-plugin

[2022-09-29 11:47] taimoor8152 commented on #1619
@benz-philip01 Please install java 11.0 not 11.0.11.

If you are using eclipse in Mac
Go to preferences -> java -> installed JREs (click on it) -> "check if java 11 path has been setup there Most probably the should look line this:
/Library/Java/JavaVirtualMachines/jdk-11.jdk/Contents/Home

[2022-09-29 13:18] Balasureshkumar commented on #1694
@mykola-mokhnach  @pujagani Could you please help me with this.
I am getting the same java.lang.ClassCastException.

Environment
org.seleniumhq.selenium :4.4.0
java-client :8.1.1
node version : v18.4.0
java: 11

TestListener is listener class which implements ITestListener,WebDriverListener.

Implementation :
AndroidDriver driver = new AndroidDriver(url, capabilities);
WebDriverListener listener =

[2022-09-29 15:20] ravibabu101143 opened #1771 "driver quit in not working"
## The problem

I have driver.quit  in tear down method. But it is not working. When i execute tests, after first test is completed and second test started but the app still in first test screen. Due to this all my tests are failing.

I have also tried with capability appium:noReset is false and true and no luck.

Env:
uiautomator2@2.7.0
appium: 2.0.0-beta.43
nodejs:v16.17.0
Real android device
pl

[2022-09-29 16:46] ravibabu101143 commented on #1771
Thanks. I just realized and came to here and you already pointed out the issue. Thank you.

[2022-09-29 16:46] #1771 closed

[2022-09-29 21:52] cnerkar1859 opened #1772 "android app crash when clicked on react native app overlay with appium java client 8.2.0"
## Description

android app is crashing with appium when clicked on overlay but works fine manually otherwise, Same app works fine with iOS with same appium version , The current react native version is 69 for the app which we are testing!

## Environment
* Appium version (or git revision) that exhibits the issue: 2.0.0-beta.43
* Last Appium version that did not exhibit the issue - N/A
* Desktop O

[2022-09-30 04:34] pujagani commented on #1694
I thought I linked the commit to this issue but turns out I linked it to another issue. It was a mistake. Apologies for the same.

https://github.com/SeleniumHQ/selenium/commit/fcc549ad290d9ae13beecfd875b57178d5fcb2c5

The commit is part of the latest 4.5 Selenium release.
It allows passing in the target class you want to cast to and that should no longer cause the error.

[2022-09-30 04:36] pujagani commented on #1694
Please refer to https://github.com/SeleniumHQ/selenium/blob/316f9738a8e2079265a0691954ca8847e68c598d/java/test/org/openqa/selenium/support/events/EventFiringDecoratorTest.java#L422 as an example.

[2022-09-30 08:39] taimoor8152 commented on #1619
@benz-philip Can you please try to uninstall the java 11.0.11 then install java 11.0 again.
it also works on java 8 if you are able to install it.

[2022-09-30 15:06] benz-philip commented on #1619
Thanks @taimoor8152 . Let me try

[2022-10-04 03:29] cnerkar1859 commented on #1619
@taimoor8152  - I remember posting here that it has resolved my issue but i have started seeing this issue again

[2022-10-04 15:39] Krisss22 opened #1775 "ContextHandles no longer works in appium v8 (hybrid mobile app)"
### Discussed in https://github.com/appium/java-client/discussions/1774

<div type='discussions-op-text'>

<sup>Originally posted by **Krisss22** October  4, 2022</sup>
Hi all,

In Appium v7 I was successfully using ContextHandles to switch between Native and Web views in a Hybrid mobile app.
Right now, **AppiumDriver doesn't recognize context handles:**

So these no longer accurate
[- Set<String>

[2022-10-04 18:51] #1775 closed

[2022-10-06 01:36] Hungleminh commented on #1619
I had the same issue as you. How was your issue going? Is it resolved?

[2022-10-06 03:29] cnerkar1859 commented on #1619
@taimoor8152  - It started working for me again but for some reason, I had to stop the test runner in between & when I tried to run it again it started throwing the same error

[2022-10-06 03:48] Hungleminh commented on #1619
Hi @taimoor8152, When i debug in to my script, it says null element, pls see below "testButton". Can you share your thought on that?

<img width="807" alt="Screen Shot 2022-10-06 at 10 42 57" src="https://user-images.githubusercontent.com/15160662/194209558-34835235-9370-4b4d-bb38-230571eeefc5.png">

<img width="1040" alt="Screen Shot 2022-10-06 at 10 46 03" src="https://user-images.githubusercont

[2022-10-06 04:08] Hungleminh commented on #1758
is there any solution for this issue everyone? I had the same case

[2022-10-06 05:03] sinapot commented on #1758
one solution is to not use PageFactory at all and just use the old/classic POM as defined in Selenium.dev documentation

[2022-10-06 06:33] Hungleminh commented on #1758
I need to use PageFactory to test on cross platform on Android and iOS. Is there any suitable solution to reduce as much as possible code to test on Android and iOS (compare to PageFactory)?

[2022-10-06 12:58] taimoor8152 commented on #1619
@Hungleminh Can you please make
-> java 8.1.1
-> Move selenium dependency to the the lates version i don't think its the lates version.
-> Also please show me the testng version

[2022-10-06 15:42] Hungleminh commented on #1619
I didnot use testng. Is there any related problem with that?

[2022-10-07 10:16] taimoor8152 commented on #1619
Which testing framework are you working with then??

[2022-10-07 11:03] Hungleminh commented on #1619
Appium, java gauge, java

[2022-10-13 01:43] MJ19970128 opened #1776 "process.executeAsync(); Exception"

[2022-10-13 02:25] KazuCocoa commented on #1776
Could you describe the details by following the issue template: https://github.com/appium/java-client/issues/new in English? (with translator apps is fine)

[2022-10-14 10:07] OnurSerbes opened #1777 "isDisplayed() error, Method is not implemented. Conditional try catch implementation is not working"
## The problem

I am trying to check if the element is present or not, so I am using "isDisplayed()" but it gives me "Exception in thread "main" org.openqa.selenium.UnsupportedCommandException: Method is not implemented" error. I checked the other issues most of them are about the client version. I updated all my clients but still gives me the error.

## Environment

* Appium version (or git revis