[2016-12-01 18:02] amitg25 commented on #530
Here are the logs

[Appium] Welcome to Appium v1.6.1
[Appium] Appium REST http interface listener started on 0.0.0.0:4723
[HTTP] --> POST /wd/hub/session {"desiredCapabilities":{"app":"Microsoft.WindowsCalculator_8wekyb3d8bbwe!App","platformName":"Windows","deviceName":"WindowsPC"}}
[debug] [MJSONWP] Calling AppiumDriver.createSession() with args: [{"app":"Microsoft.WindowsCalculator_8wekyb3d8bbwe

[2016-12-01 18:06] jlipps commented on #530
The problem is that you're trying to start a session twice, and the second time you're passing in a platformName of `iOS` (or the java client is doing that on its own somehow, maybe as part of a retry mechanism).

[2016-12-01 22:31] amitg25 commented on #530
Thanks Jlipps, i did confirm I am not setting platformName=iOS anywhere in the code infect it's few lines of code only in the existing CalculatorTest sample app. Second I am sure that findElementForXPath is not working for java client, even simple calls like //*[@name='Next'] is failing with exception. So seems like java client issue.

[2016-12-01 22:32] amitg25 commented on #530
This is the log from appium console.

[WinAppDriver] [STDOUT] {"sessionId":"6A1DB7D8-5236-43D4-B103-9A30B15B4156","status":0}
[debug] [JSONWP Proxy] Got response with status 200: "{\"sessionId\":\"6A1DB7D8-5236-43D4-B103-9A30B15B4156\",\"status\":0}"
[WinAppDriver] Did not get confirmation WinAppDriver deleteSession worked; Error was: Error: Did not get a valid response object. Object was: {"sessi

[2016-12-02 08:17] TikhomirovSergey commented on #530
@jlipps @amitg25 We (I am and @SrinivasanTarget ) are working on enhancements:
- non abstract AppiumDriver
- adding the WindowsDriver.

There is the string (there are similar strings)
https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/ios/IOSDriver.java#L76

It is not the bug. It had been normal until **Windows** and **youiengine** automations were added. So it i

[2016-12-02 08:18] TikhomirovSergey commented on #530
https://github.com/appium/java-client/issues/471
https://github.com/appium/java-client/issues/454

[2016-12-03 17:32] pisarenco92 commented on #530
@jlipps Does WinAppDriver work on Windows 7?

[2016-12-05 03:51] Ser-Gius commented on #511
Get the x,y coordinates of two points where you want to swipe (first point will be where you want to start your swipe, second where you want it to end).

Then use the swipe method like this: swipe(xStart, yStart, xEnd, yEnd, 1000);
or TouchAction like this: action().press(xStart, yStart).waitAction(1000).moveTo(xEnd, yEnd).release().perform();

[2016-12-05 04:42] Ser-Gius opened #531 "PageObject returns null when testing multiple classes."
## Description

I have a setup like this:
- AbstractScreen class where I have initElements for my screens.
- Screen classes which extend AbstractScreen and where I put my elements and methods for a particular screen
- AbstractTest class with @BeforeSuite and @AfterSuite methods that have initial setup and teardown methods
- Test classes that extend AbstractTest where I call my screen objects

When

[2016-12-05 06:18] #531 closed

[2016-12-06 12:56] TikhomirovSergey commented on #530
#532

[2016-12-06 13:27] babusurendra commented on #529
Hi @SrinivasanTarget i have the same issue ,both sendkeys and setvalue are not working , as it already reported as bug, is there any update on this?

[2016-12-06 13:31] babusurendra commented on #529
sorry @SrinivasanTarget  i missed the above comment i will follow the issue here https://github.com/appium/appium/issues/7245#issuecomment-262104894 , please update if you have any other update on this here :)

[2016-12-07 02:06] SrinivasanTarget commented on #529
Yeah I did noticed it. Looks like a server side issue.

[2016-12-07 13:31] shay777 opened #533 "Not able to install appium on my mac"
## Description

I had appium installed and I deleted it. I also deleted node.js and npm.
I re-installed node.js and npm and I am not able to install appium now using the command:
npm install -g appium

not sure what is happening here. any help please?

thanks

https://gist.github.com/shay777/3d4887b23301e55edcbffdedabe2e850

[2016-12-07 14:13] vikramvi commented on #533
@shay777 please file this under parent project https://github.com/appium/appium

@triager please close this

[2016-12-07 14:53] babusurendra commented on #529
so is there any work around exist for this ?

[2016-12-07 16:07] SrinivasanTarget commented on #533
Its not an issue in appium client/server end. Seems like an npm issue. Downgrade your npm and try installing appium

[2016-12-07 16:07] #533 closed

[2016-12-08 03:15] williamrussellajb opened #534 "IOSDriver freezing when connecting to saucelabs (Not Localhost)"
## Description
Everything works for Desktop while connecting to SauceLabs, just not IOS Driver.

## Environment

* java client build version 1.6.1
* SauceLabs
* MAC Sierra
* SauceLabs Simulator

## Details

I've debugged it down to RemoteWebDriver

## Code To Reproduce Issue [ Good To Have ]

What am I missing?
org.openqa.selenium.SessionNotCreatedException: Unable to create new remote session

Co

[2016-12-09 10:56] TikhomirovSergey commented on #526
@thehellmaker Please reopen this one if the advice above doesen't help and the issue still affects your work.

[2016-12-09 10:56] #526 closed

[2016-12-09 10:59] TikhomirovSergey commented on #502
@bearxc Hi. We are going to make `swipe` deprecated. Probably it won't be supported anymore

[2016-12-09 10:59] #502 closed

[2016-12-09 11:00] TikhomirovSergey commented on #425
@gowriremo We are going to make the `swipe` method deprecated. Probably it won't be supported anymore.

[2016-12-09 11:00] #425 closed

[2016-12-09 11:02] TikhomirovSergey commented on #424
We are going to make `pinch`/`zoom` methods deprecated. Probably they won't be supported anymore

[2016-12-09 11:02] #424 closed

[2016-12-09 11:02] #422 closed

[2016-12-09 11:03] TikhomirovSergey commented on #453
@Simon-Kaz We are going to make the `swipe` method deprecated. Probably it won't be supported anymore.

[2016-12-09 11:03] #453 closed

[2016-12-09 11:10] TikhomirovSergey commented on #409
@shynkevich-alex These methods (swipe/othere gestures) are going to be deprecated. Probably it won;t be supported anymore.

[2016-12-09 13:34] saikrishna321 commented on #409
@TikhomirovSergey @SrinivasanTarget  so all these would move to TouchActions ?

[2016-12-09 15:25] Abur73 opened #535 "FindElement by xpath+text, which includes single quotation results on NullPointerException"
## Description
FindElement by xpath+text, which includes single quotation results on NullPointerException

## Environment
* java client build version or git revision if you use some snapshot: 2.2.0
* Appium server version or git revision if you use some snapshot: 1.5.3
* Desktop OS/version used to run Appium if necessary: Mac Pro OS X (10.11.6)
* Node.js version (unless using Appium.app|exe) or Ap

[2016-12-09 15:35] mykola-mokhnach commented on #535
Try this xpath

[code]

[2016-12-13 10:19] TikhomirovSergey commented on #409
@saikrishna321 No. There will be bo predefined gestures methods. They are flacky and don't work in many user cases. We will allow users to construct any gesture on their own.

But I think we should provide some feature instead to simplify user's work

[2016-12-14 06:15] Ser-Gius opened #537 "@WithTimeout does not change/affect the global PageFactory timeout"
## Description

I have a PageFactory class which is initiated like this:
[code]

Then inside the HomeScreen class I have a variety of elements. Now I want to change(reduce) the TimeOut duration for some of them so I use
[code]

However this has no effect on the time the driver takes to search for the element, the duration is still 10 seconds.

## Environment

* java client build version or git rev

[2016-12-14 07:58] TikhomirovSergey commented on #537
@Ser-Gius This issue has been fixed. #467. The 5.0.0-beta is coming soon.

[2016-12-14 08:40] #537 closed

[2016-12-14 15:25] #409 closed

[2016-12-17 13:11] #471 closed

[2016-12-17 13:12] TikhomirovSergey commented on #530
This issue was resolved by #538. It is going to be published in 5.0.0-beta1

[2016-12-17 13:12] #530 closed

[2016-12-17 14:19] TikhomirovSergey commented on #41
I'm closing this issue because defined gesture methods are considered deprecated.

[2016-12-17 14:19] #41 closed

[2016-12-17 14:23] #248 closed

[2016-12-21 06:30] jedi-tester opened #541 "MultiTouchAction not working as expected on Android"
## Description

I'm trying to create a zoom method using multi-touch action to zoom in/out a map view
I've enabled "show touches" and "pointer location" in debug mode to see how the action is performed.
When the actions are performed separately, then the pointer is moving in correct direction (action0 starts a little lower and to the left of center and moving to the lower left corner, and action1

[2016-12-21 06:58] Ser-Gius commented on #541
I've inspected the logs and it seems that on multi touch action the moveTo() method takes offset coordinates.

So the moveTo coordinates become as follows: (aX+bX, aY+bY) and (cX+dX, cY+dY)

Is this intended?

[2016-12-21 08:25] TikhomirovSergey commented on #541
@Ser-Gius

Yes. `moveTo()` should take relative values. But there are some issues on Android side. There is one of them
https://github.com/appium/appium/issues/7486

I would like to advice you to use `moveTo` with `WebElement` and offset coordinates (if necessary) as parameters.

[2016-12-21 09:29] JFRabbit opened #542 "When release action of TouchAction executed, the coordinate is negative after 3 moveTo actions."
## Description

When I use TouchAction to deblock graphical password, I found the release action coordinate change to negative. The graphical password is like a "Z". Detail coordinate please see code.

## Environment

* java client build version or git revision if you use some shapshot: 4.1.2
* Appium server version or git revision if you use some shapshot: 1.4.16.1
* Desktop OS/version used to ru

[2016-12-21 10:14] TikhomirovSergey commented on #542
@qwertjkl9090 Hi
Yes. This is the bug. But it is not the client bug and the `moveTo`/swipe action. It is related to Android backend. There is the issue https://github.com/appium/appium/issues/7486.

[2016-12-22 04:15] Ser-Gius commented on #541
@TikhomirovSergey
Thanks for the response Sergey.

I thought it a bit strange that single touch action would take absolute coordinates for moveTo() and when the same method is used in multi-touch then it takes relative values.

Could you please explain how does moveTo(WebElement, x, y) perform? Does it take x,y offset from the center of WebElement?

[2016-12-22 04:19] Ser-Gius commented on #535
`{"status":32,"value":"javax.xml.transform.TransformerException: misquoted literal... expected single quote!"}`

You need to escape the single quote in your _Disney's_ with `\'` or as mykola-mokhnach suggested with `&apos;`

[2016-12-22 05:38] Ser-Gius commented on #541
To answer my own question and if anyone else will have the same question.
I've done some more testing of this functionality and `press(WebElement, x, y) ` and `moveTo(WebElement, x1, y1)` will press on x,y offset of top left corner of WebElement and then move to x1,y1 offset of top left corner of WebElement.

But again, if we are using this in MultiTouch, then it becomes a bit hectic. For example

[2016-12-22 14:59] vikramvi opened #544 "GeneralServerFlag.UIID doesn't work"
## Description

I've requirement to register appium node with selenium HUB. From command line I execute
appium --nodeconfig EMULATOR_Nexus_4_2.json -p 4823 -bp 4824 -U emulator-5554

Trying to achieve similar behaviour through programme but it doesn't work

AppiumDriverLocalService driverLocalService = AppiumDriverLocalService
        			.buildService(new AppiumServiceBuilder()
        					.withA

[2016-12-22 18:31] TikhomirovSergey commented on #544
Hi @vikramvi
It seems there is not enough information.

This flag is deprecated and it was removed on 12 Apr 2016. Please take a look at this commit.
https://github.com/appium/java-client/commit/7eb5911ed79f2e93ad0527372e6fa8e613796967#diff-7ffa4c71ce252408a910625b7ab34f4eL46

So I'm not sure that the version is the latest. Also please take a look at this doc
https://github.com/appium/appium/blob/

[2016-12-23 08:04] Prakash-Saravanan commented on #529
@babusurendra as a workaround,
1. Tap on the text box by driver.tap or by TouchActions.tap either by using the element or its coordinates.
2. Now the keyboard will be displayed
3. driver.getKeyboard().sendKeys() should work.

[2016-12-23 10:10] vikramvi commented on #544
@TikhomirovSergey Thanks a ton for detailed clarifications.

I have put UDID into json file and got it working.

[2016-12-23 10:10] #544 closed

[2016-12-23 12:27] babusurendra commented on #529
Hi @Prakash-Saravanan  thanks for the update here!
when I tried the above method which you have provided seeing the following error in ruby
**undefined method `getKeyboard' for #<Watir::Browser:0xa8024de closed=false>**
can you advise on this?

[2016-12-23 13:01] Prakash-Saravanan commented on #529
@babusurendra That was for Java. I don't have idea about ruby

[2016-12-23 18:57] babusurendra commented on #529
okay, I will check in ruby. thanks, @Prakash-Saravanan  :)

[2016-12-29 09:34] saikrishna321 commented on #90
@TikhomirovSergey i was able to use java-repl and get the irb for java-client

https://github.com/saikrishna321/AppiumReplJava

[2016-12-29 13:35] TikhomirovSergey commented on #491
It is deorecated now.

[2016-12-29 13:35] #491 closed

[2016-12-29 13:37] TikhomirovSergey commented on #77
It is already done.

[2016-12-29 13:37] #77 closed

[2016-12-29 16:04] TikhomirovSergey commented on #321
WIKI was finally completed. Now we need to actualize it when it is needed.

[2016-12-29 16:04] #321 closed

[2016-12-30 07:56] saikrishna321 opened #549 "PageObjects gets elements API instead of element API"
@TikhomirovSergey need help on this

Works fine

[code]

Does not work

[code]
https://gist.github.com/anonymous/d4440cab5e3213f9084498471201cd84

The above works fine, when we cast AndroidDriver

[code]

https://gist.github.com/anonymous/3b1fcc5761c370a1025d52c42b60b9fd

[2016-12-30 09:02] TikhomirovSergey commented on #549
@saikrishna321
Please remove `@AndroidFindBySet` and check the result and use only AndroidFindBy :)

[2016-12-30 09:04] saikrishna321 commented on #549
@TikhomirovSergey giving it a try now.. What does @AndroidFindBySet do ?

[2016-12-30 09:05] TikhomirovSergey commented on #549
It makes AndroidFindBy repeatable.
http://docs.oracle.com/javase/tutorial/java/annotations/repeating.html

[2016-12-30 09:07] saikrishna321 commented on #549
@TikhomirovSergey still the same, it just gets the default first locator's text value

[2016-12-30 09:08] saikrishna321 commented on #549
https://gist.github.com/anonymous/cc08201899d52d47322604d3954817a3

[2016-12-30 09:10] TikhomirovSergey commented on #549
@saikrishna321
https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/pagefactory/AndroidFindBy.java#L34

Also if it is the chain by default you may not define
`@HowToUseLocators(androidAutomation = CHAIN)`

Please take a look at the [updated WIKI chapter](https://github.com/appium/java-client/blob/master/docs/Page-objects.md#also-it-is-possible-to-define-chained-or-

[2016-12-30 09:15] TikhomirovSergey commented on #549
@saikrishna321
What happens when you try to
[code]
?

[2016-12-30 09:17] saikrishna321 commented on #549
[code]
With this as well the logs are same.

Here it picks the command with instance(3) https://gist.github.com/anonymous/cc08201899d52d47322604d3954817a3#file-updated-gist-with-androidfindby-L1132

and still looks for all elements
https://gist.github.com/anonymous/cc08201899d52d47322604d3954817a3#file-updated-gist-with-androidfindby-L1148-L1161

It gives the Text at the Third view which is expect

[2016-12-30 09:22] TikhomirovSergey commented on #549
So does this code works well
[code]
?
Ok. Has the same happened before (v<5.0.0-BETAx)? If there is a client bug then it may be the old problem that should be fixed

[2016-12-30 09:25] saikrishna321 commented on #549
@TikhomirovSergey
This works

[code]

Yah, i just tried with 4.1.2 and its the same. Chaining with unique ID's works, but with uiAutomation does not. Looks like we need to fix

[2016-12-30 09:27] TikhomirovSergey commented on #549
Yep. I will try to search for the root cause on the 1 Jan. For now please use xpath instead.

[2016-12-30 09:29] saikrishna321 commented on #549
Cheers, this is required for the appium workshop(http://thoughtworks-bangalore.github.io/vodQA-Shots/) so wait for the fix

[2016-12-30 09:39] TikhomirovSergey commented on #549
@saikrishna321
... and for your case it is enough
[code]

[2016-12-30 09:50] saikrishna321 commented on #549
@TikhomirovSergey its calling elements instead of element api, can you please help in pointing where we call this api

https://gist.github.com/anonymous/cc08201899d52d47322604d3954817a3#file-updated-gist-with-androidfindby-L1132

[2016-12-30 09:58] TikhomirovSergey commented on #549
yes.
It is here
https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/pagefactory/AppiumElementLocator.java#L157

I really think that root cause is here. But I can check it only tomorrow or on the 1 Jan.

[2016-12-30 09:59] saikrishna321 commented on #549
myself and @SrinivasanTarget are looking at it, if we break through will send a PR

[2016-12-30 09:59] TikhomirovSergey commented on #549
@saikrishna321
There were few reasons why it was designed that way. But I think it is outdated implementation for now.

[2016-12-30 10:05] TikhomirovSergey commented on #549
@saikrishna321

Ok.
But please keep it in mind that it should be NowSuchElementException-safe till waiting time is expired.
Also please take a look at these classes from Selenium:
[ByAll](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/pagefactory/ByAll.java)
[ByChained](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/sel

[2016-12-31 15:28] TikhomirovSergey opened #550 "Gradle build issue"
## Description

There is a problem with the gradle building/publishing. Take a look at [this file](https://github.com/TikhomirovSergey/java-client/blob/master/gradle.properties). It requires hardcoded parameters. This information is sensitive. And it could be commited eventually.

## Environment

Doesn't matter. It needs for gradle v > 2.14

## Details

Could we add something like this
[code]

Tha

[2016-12-31 15:30] SrinivasanTarget commented on #550
@TikhomirovSergey We can configure it as environment variables in TravisCI. What do you say?

[2017-01-02 21:54] #549 closed

[2017-01-03 05:45] iriszhang1986 opened #552 "can't find element when use 5.0.0 beta1,wrong:"java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebElement cannot be cast to io.appium.java_client.MobileElement""
## Description

when I use 5.0.0beta1 java-client,I can't find any element.the wrong is:

`java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebElement cannot be cast to io.appium.java_client.MobileElement`

## Environment

* java client build version or git revision if you use some shapshot:5.0.0 beta1 from maven
* Appium server version or git revision if you use some shapshot:1.6.0

[2017-01-03 10:57] derunewige commented on #552
I have exactly the same issue.

Appium version (or git revision) that exhibits the issue: 1.6.1-beta
Desktop OS/version used to run Appium: OS X 10.12.2
Node.js version (unless using Appium.app|exe): 6.9.1
Mobile platform/version under test: iOS 10.0
Real device or emulator/simulator: simulator
Appium CLI or Appium.app|exe: Appium CLI
Coding language: java-client 5.0.0-BETA1

I am upgrading from i

[2017-01-03 13:51] TikhomirovSergey commented on #552
@derunewige
@iriszhang1986
Guys, could you invoke the

[code]
and show the result map here?

[2017-01-03 13:52] TikhomirovSergey commented on #552
It is defenetely the bug but now I'm trying to get my local Mac machine fixed

[2017-01-03 13:57] derunewige commented on #552
At which place in the code?

[2017-01-03 14:07] saikrishna321 commented on #552
@derunewige

[code]

[2017-01-03 14:28] derunewige commented on #552
@TikhomirovSergey
[code]

[2017-01-03 15:58] TikhomirovSergey commented on #552
@derunewige @saikrishna321 @SrinivasanTarget
It seemst that there are two problems.
The first problem is that we didn't expect that session can't contain any information about platform/automation. I think we can resolve it on the client side.

The second probled. Why does it not contain that info when app is started on a real iPhone/iPad? May be there is server side bug.

Any thoughts?

[2017-01-03 16:15] saikrishna321 commented on #552
@TikhomirovSergey

All the details are received from server including the automation and platform and lot more. Sample response

[code]

let me try on real device

[2017-01-03 16:16] SrinivasanTarget commented on #552
I see ```Automation Name``` or ```Platform Details``` is not coming up in session details at times when we run on XCUITMode (Only in XCUITMode) even on simulators.

[2017-01-03 16:20] SrinivasanTarget commented on #552
@iriszhang1986 @derunewige Please do a run without below capabilities and send us entire server logs.

[code]

Between i'm debugging it as well.

[2017-01-03 16:25] saikrishna321 commented on #552
@SrinivasanTarget @TikhomirovSergey with legacy driver i get the below response, which looks fine to me. May be as srini mentioned could be with XCUITest

[code]
{"webStorageEnabled":false,"locationContextEnabled":false,"browserName":"","platform":"MAC","javascriptEnabled":true,"databaseEnabled":false,"takesScreenshot":true,"networkConnectionEnabled":false,"app":"/Users/saikrisv/Downloads/XXX-debu

[2017-01-03 16:28] SrinivasanTarget commented on #552
Yes it is fine in legacy driver and UIAutomator2 mode but ```Automation Name``` is not coming if we didn't specify it explicitly in desired caps and running on iOS10 sims.

[2017-01-03 21:10] TikhomirovSergey commented on #552
@derunewige @SrinivasanTarget @saikrishna321
Ok. I can propose a PR. But there is some server side issue defenetely.

[2017-01-04 08:50] derunewige commented on #552
Good morning!

here is the server log without these four caps: [gist](https://gist.github.com/derunewige/aa7ea2bd9492161aa53b40bd0653ac58)

So it is only:
[code]

Console log:
[code]

It is interesting, that without that four caps the browser name, or rather the app name, as well as the bundleID is not set when calling getSessionDetails()

[2017-01-04 09:59] derunewige commented on #552
I did an update from appium 1.6.1-beta to 1.6.3 and now it looks like it is working!

[2017-01-04 10:02] SrinivasanTarget commented on #552
@derunewige Can you attach the latest logs as well here (1.6.3)?

[2017-01-04 10:21] derunewige commented on #552
Yes, of course: [gist](https://gist.github.com/derunewige/fa9b1ab5a8250e2aed2b6aa981384af8)

Thank you all for your support!

[2017-01-04 10:23] saikrishna321 commented on #552
@derunewige  now it gets all the session details, @TikhomirovSergey can we keep this open as @SrinivasanTarget did see the session details missing on random calls

[2017-01-04 10:26] SrinivasanTarget commented on #552
Yes @saikrishna321. Session details is a server issue but anyways we need a fix for this which @TikhomirovSergey is working on.

[2017-01-04 10:55] TikhomirovSergey commented on #552
@derunewige @sravanmedarapu @saikrishna321
There is [Installing-the-project](https://github.com/appium/java-client/blob/master/docs/Installing-the-project.md). We recomment 1.6.3 or higher.
Yes. I am working on the fix. We could use capabilities if session details are missed

[2017-01-04 11:23] SrinivasanTarget commented on #552
@SrinivasanTarget are session details missed randomly with 1.6.3? >> It is missing only if you dont specify the Automation Name explicitly and run on iOS 10.

[2017-01-04 15:18] saikrishna321 commented on #552
@TikhomirovSergey we need to keep this open and get the session details fixed if AutomationName is provided or not when running on iOS 10.

What say @SrinivasanTarget ?

[2017-01-04 15:21] SrinivasanTarget commented on #552
He is working on it and will be proposing a PR soon :)

On Wed 4 Jan, 2017, 8:48 PM Sai Krishna, <notifications@github.com> wrote:

[2017-01-07 11:08] derunewige commented on #217
Since the update to 5.0.0-beta1 the command
`driver.executeScript("env.sendKeyStrategy = 'grouped'");`
is not working anymore.
Is there a new way to change the strategy in code?

[2017-01-07 11:40] SrinivasanTarget commented on #217
@derunewige What errors do you get? gist it here.

[2017-01-08 11:27] derunewige commented on #217
Sorry, i was in a hurry and totally forgot about error logs =/

Appium log:
[code]

error stacktrace: [gist](https://gist.github.com/derunewige/e0dc34857ce2d592e470c92c1350feb6)

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Desktop OS/version used to run Appium: OS X 10.12.2
* Node.js version (unless using Appium.app|exe): 6.9.1
* Mobile platform/version under test: iOS 10.0

[2017-01-08 11:58] derunewige opened #554 "XCUIElementTypePicker Keyboard is not present"
sry, there is no issue =/

[2017-01-08 12:10] SrinivasanTarget commented on #217
@derunewige This hasn't been supported yet by ```WedDriverAgent```. It's not a bug here, you can raise it in server for feature request.

[2017-01-09 05:15] #554 closed

[2017-01-12 09:38] shabana-parveen commented on #200
when I try to scroll the screen in my app, nothing happened even not receiving any exception

I use below piece of code to achieve scroll using java-client 4.1.2 version

**((AndroidDriver) driver).findElementByAndroidUIAutomator("new UiScrollable(new UiSelector().scrollable(true).instance(0)).scrollIntoView(new UiSelector().textContains(\""+text+"\").instance(0))");**

please refer below appium l

[2017-01-12 15:22] vikramvi commented on #544
@TikhomirovSergey I was wrong in earlier comment, please ignore.

In order to run test cases in parallel mode with Appium & Grid setup in case of Android devices; passing UDID is must.

Thanks for your solution in your comment, it helped me to unblock.

Best Regards,
Vikram

[2017-01-15 05:23] shusain93 commented on #502
What is the alternative to swiping? It doesn't work at all at the moment obviously which makes building UI tests quite hard.

[2017-01-15 07:35] saikrishna321 commented on #502
pls specify the Java client version and your code snippet.

Make sure your on 5.0.0beta as swipe gestures are deprecated and you need to use TouchActions to swipe

[2017-01-20 20:24] #552 closed

[2017-01-22 05:42] BTGBIMobile opened #558 "How to perform swipe action on WINDOWS?"
## Description
Appium5.0 beta build.
It seems the TouchAction can't perform real action on Windows10 platform.

## Environment

Windows10

## Details

TouchAction touchAction = new TouchAction(windowsDriver);
touchAction.press(startX, startY).waitAction(duration).moveTo(endX, endY).release().perform();

It will throw errors when using code above.
FAILED: swipe
org.openqa.selenium.WebDriverExceptio

[2017-01-22 19:02] TikhomirovSergey commented on #558
As I know touch actions under construction for Windows yet.
ping @yodurr

[2017-01-22 19:03] TikhomirovSergey commented on #558
As I know touch actions under construction for Windows yet.
ping @yodurr

[2017-01-23 22:07] alexilyenko commented on #421
@TikhomirovSergey Sergey, are there any updates on scrollTo methods for XCUIT elements?

[2017-01-24 16:17] vikramvi commented on #87
@TikhomirovSergey does latest Java client has any good workaround for this issue or you still look for particular element in iOS native app ?

Thanks,
Vikram

[2017-01-25 05:21] SrinivasanTarget commented on #87
@vikramvi

You have the answer above. Apple still don't have any such concepts.

[2017-01-29 11:52] danubiapaiva opened #561 "issue in java client"
Appium
Windows 10

org.openqa.selenium.SessionNotCreatedException: Unable to create new remote session. desired capabilities = Capabilities [{app=D:\Automacao\Banestes.apk, platformName=Android, deviceName=Android Emulator}], required capabilities = Capabilities [{}]
Build info: version: '3.0.1', revision: '1969d75', time: '2016-10-18 09:48:19 -0700'
System info: host: 'DESKTOP-T3J392Q', ip: '192.

[2017-01-29 14:29] mykola-mokhnach commented on #561
Please use the "avd" capability if you want to set the name of existing simulator (not a real device). Also, make sure the provided simulator name exists in

[code]

output.

http://appium.io/slate/en/master/?java#android-only

[2017-01-29 19:50] danubiapaiva commented on #561
I use genymotion simulator, I have problens only windows 10, in windows 7 is ok.

[2017-01-29 19:51] mykola-mokhnach commented on #561
What do you see in Appium log?

[2017-01-29 20:00] mykola-mokhnach commented on #561
Is it reproducible with the most recent Appium (1.6.3) and java_client (4.1.2) version?

[2017-01-29 20:13] danubiapaiva commented on #561
I try with java_client 4.1.2, but now is java_client 5.0.0-beta and appium 1.4.16.1, I made the update appium and it is this version

[2017-01-29 20:15] mykola-mokhnach commented on #561
beta might be unstable - that is why it is beta. Regarding Appium, you can to install the most recent version with Node Packages Manager (npm). Standalone .exe UI client is not supported anymore.

[2017-01-29 20:46] danubiapaiva commented on #561
Install with npm and altered java-client4.1.2, log appium:

[2017-01-29 20:50] mykola-mokhnach commented on #561
This does not look like Appium has been updated. Are you sure you see 1.6.3 version in the log?

[2017-01-29 20:59] danubiapaiva commented on #561
I performad "npm install appium@1.6.3" but is show > Checking if an update is available

Have other command?

[2017-01-29 21:01] mykola-mokhnach commented on #561
Seems like the old version is still running. Make sure it is killed and the new one is started. Please use Appium forum in case you have more howto questions.

[2017-01-29 21:45] danubiapaiva commented on #561
Tks, I starting the version 1.6.3, The error has changed, I will put there. Thank you

[2017-01-30 08:36] TikhomirovSergey commented on #561
@danubiapaiva @mykola-mokhnach
Hi guys. So is the issue related to invalid installation? May I close it?

Also. The version of server 1.6.3 or higher is recommended for the client 5.x

[2017-01-30 08:43] mykola-mokhnach commented on #561
@TikhomirovSergey yes, please close it as duplicate of https://github.com/appium/appium/issues/7771

[2017-01-30 09:48] #561 closed

[2017-01-30 17:02] vikramvi opened #563 "action.longPress(element).moveTo(y_coordinate, height).release().perform() not working"
## Description

I'm trying to achieve pull down refresh.
For this I need to press and hold a element, pull to a nominal distance and release.

The action is failing with exception.

## Environment

* java client build version or git revision if you use some shapshot: 4.0.0
* Appium server version or git revision if you use some shapshot: 1.6.3
* Desktop OS/version used to run Appium if necessary:

[2017-01-30 17:04] SrinivasanTarget commented on #563
@vikramvi What was the client version?

[2017-01-30 17:12] vikramvi commented on #563
@SrinivasanTarget sorry missed to mention, updated the bug description

4.0.0

[2017-01-30 17:41] SrinivasanTarget commented on #563
@vikramvi We aren't supporting version lesser than 5.0 Beta for Server 1.6.3. Follow our wiki and upgrade the client version and raise a new issue if you hit any issues.

[2017-01-30 17:41] #563 closed

[2017-01-30 20:20] vikramvi commented on #563
Thanks @SrinivasanTarget for clarification

[2017-01-31 21:00] ttisdon opened #564 "Android: Using setValue() with a text string that has more than 2 spaces in it won't set the value"
## Description

Using setValue() with a text string that has more than 2 spaces in it won't actually set the value.

## Environment

* java client build version or git revision if you use some shapshot: 4.1.2
* Appium server version or git revision if you use some shapshot: 1.6.3
* Desktop OS/version used to run Appium if necessary: Mac OSX 10.11.16
* Node.js version (unless using Appium.app|exe)

[2017-02-02 10:28] amedvedjev opened #565 "Feature: To support mix of search strategy"
## Description

    @AndroidFindBy(id = "action_bar")
    @HowToUseLocators(androidAutomation = ALL_POSSIBLE)
    @AndroidFindBy(className = "android.widget.ImageButton")
    @AndroidFindBy(className = "android.widget.ImageView")

it does work now for "ImageView" correctly but for "ImageButton" not! For "ImageButton" it get "action_bar" instead.

[2017-02-02 11:20] TikhomirovSergey commented on #565
@amedvedjev It seems it is not the problem of java_client by itself. But it is possible that it is related to
[ByAll](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/pagefactory/ByAll.java).

What will happen if you change annotation sequence like

[code]

[2017-02-02 12:39] amedvedjev commented on #565
what i need is:
1) first search by some element -> @AndroidFindBy(id = "action_bar")
2) then inside search by any element ->
    @AndroidFindBy(className = "android.widget.ImageView")
    @AndroidFindBy(className = "android.widget.ImageButton")

another possibilities are also welcome:
1) search by any -> then inside by any again

[2017-02-02 12:51] TikhomirovSergey commented on #565
Ok. I will think about the design. It would be the interesting feature

[2017-02-02 13:09] amedvedjev commented on #565
Thanks Sergey! also don't forget about CHAIN possibility.

[2017-02-06 08:12] PandeeswariS opened #566 "Any update on Xcode 8 support for Appium issue"
## Description

Apple has removed UIAutomation support from Xcode 8, How to overcome this issue?

## Environment

Appium v.1.6.0 -beta1
xcode 8
On real iOS device 10

[2017-02-06 11:27] TikhomirovSergey commented on #566
@PandeeswariS For please update the server to 1.6.3 or higher and use xcuittest automation type.

[2017-02-06 11:28] #566 closed

[2017-02-06 13:37] amedvedjev opened #567 "5.0.0-BETA2: ClassCastException: WebElement -> IOSElement"
## Description
Failed to cast WebElement into IOSElement. Worked with 5.0.0-BETA1.

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0-BETA2
* Appium server version or git revision if you use some shapshot: 1.6.4-beta
* Mobile platform/version under test: iOS
* Real device or emulator/simulator: Simulator

## Code To Reproduce Issue [ Good To Have ]
`((IOSE

[2017-02-06 19:53] TikhomirovSergey commented on #567
ok.

[2017-02-06 19:57] TikhomirovSergey commented on #567
@amedvedjev
Please provide capabilities which you pass througt the driver constructor.
Also could you show the map that the method 'driver.getSessionDetails()' returns at your case?

[2017-02-07 09:18] amedvedjev commented on #567
@TikhomirovSergey
here is (removed some sensitive names)

**Appium start:**
`start appium as: [appium, --log-level, error, --port, 4727, --bootstrap-port, 5727, --command-timeout, 90, --session-override]`

**Driver capabilities:** (i know some deprecated...)
`Capabilities [{app=/Users/jenkinss/Downloads/test_clients/xxxxx.app, preventWDAAttachments=false, noReset=false, clearSystemFiles=true, scal

[2017-02-07 09:29] TikhomirovSergey commented on #567
Is it browser test?

[2017-02-07 09:38] amedvedjev commented on #567
no. it is name of our application. Target name to compile in xCode.
Let say we have app name Tester for prod and Tester_Alpha_1 for some alpha environment. in this case it is Tester_Alpha_1 name.

[2017-02-08 18:29] TikhomirovSergey commented on #567
@amedvedjev
We (I am and @SrinivasanTarget ) are investigating the problem. It may be the critical server side issue that have to be fixed on the server-side. We will update you soon.

[2017-02-08 18:31] SrinivasanTarget commented on #567
https://github.com/appium/appium/issues/7730

[2017-02-10 10:20] derunewige commented on #567
Does exist a workaround for this, or should I just go back to Beta1?

[2017-02-10 10:41] TikhomirovSergey commented on #567
I will propose the workaround today

[2017-02-13 12:45] Aswini-kumarPradhan opened #569 "I am using XCUITEST . How can I scroll using selenium? Using Java and appium 1.6"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

* java client build version or git revision if you use some shapsho

[2017-02-13 15:45] vikramvi commented on #569
@Aswini-kumarPradhan please ask queries in appium forum. This place is to file bug related to appium server or client.

@triager please close

[2017-02-13 16:16] SrinivasanTarget commented on #569
Refer here: https://github.com/appium/java-client/blob/master/src/test/java/io/appium/java_client/ios/IOSScrollingSearchingTest.java

[2017-02-13 16:16] #569 closed

[2017-02-13 19:49] TikhomirovSergey commented on #567
@amedvedjev @derunewige
The [BET3](https://github.com/appium/java-client/releases/tag/v5.0.0-BETA3) was published. Soon it should be available and then you can check it.

[2017-02-14 05:37] tlllly opened #570 "Android driver can't be initialized successfully when i added capability "AutomationName.ANDROID_UIAUTOMATOR2""
## Description
I would like to test Toast message, so i updated appium to 1.6.3. And then i added "capabilities.setCapability(MobileCapabilityType.AUTOMATION_NAME, AutomationName.ANDROID_UIAUTOMATOR2);" to the method which used to init Android Driver.
But the Android Driver can't be initialized successfully, it can be initialized successfully if i delete the capability.

## Environment

* java cli

[2017-02-14 13:44] jeangb commented on #252
@anuja1111 Thank you I've tried your java class and it works with success.
However, I still have the Eclipse bug meaning if I don't set PATH into Eclipse environment, my test won't be able to run on my device.
By the way, do you think it's possible to display the appium server logs elsewhere than the console in Eclipse ? For example in an other view ?
Best regards

[2017-02-15 09:09] tlllly opened #571 "The element which isn't in current page also be retured when i used Uiautomator2"
## Description
1. In current page, there is only one element which text=="discuss"
2. I used "xpath: //android.widget.TextView[@text="discuss"]" to get the element. But i get two elements.
    [[[AndroidDriver:  on LINUX (0e36ff64-47a9-4580-b6e8-ea3ffbb8c993)] -> xpath: //android.widget.TextView[@text="discuss"]], [[AndroidDriver:  on LINUX (0e36ff64-47a9-4580-b6e8-ea3ffbb8c993)] -> xpath: //andro

[2017-02-15 11:16] tlllly commented on #570
I have solved this issue. The reason is "appium-uiautomator2-server-v0.1.1.apk" not exist.

[2017-02-15 11:16] #570 closed

[2017-02-15 12:01] vikramvi opened #572 "default implicit wait set for pageobject is not working"
## Description

I've set implicit wait for a page as below

[code]
I also checked with AppiumDriver but same issue

In this pageobject class, I check for availability of element with method isEnabled()

`particularElement.isEnabled()`

But instead of waiting for 10 sec, driver just continues execution after 0 sec

## Environment

* java client build version or git revision if you use some shapshot

[2017-02-15 13:00] vikramvi commented on #572
Please refer to sample code

https://github.com/awslabs/aws-device-farm-appium-tests-for-sample-app/blob/63a8b6f799d034fba39425b9a1f1fbe26eab6b91/src/test/java/Pages/BasePage.java

Tried initially with AppiumDriver and later with WebDriver but found issue in both cases.

[2017-02-15 13:35] saikrishna321 commented on #572
@vikramvi can you pls provide logs ?

[2017-02-15 13:35] saikrishna321 commented on #571
@sravanmedarapu  ping

[2017-02-15 13:50] vikramvi commented on #572
@saikrishna321 please refer to https://gist.github.com/vikramvi/9814a6b6281634a64bb97f2d04ba6101

Here you are see that [debug] [BaseDriver] Set implicit wait is changing to 0 during execution

[2017-02-15 16:33] sravanmedarapu commented on #571
@tlllly, Can you please share the page source(`getPageSource`) of the view ?
btw what do you mean by ````3. The other one is belongs to not visiable page.````, does it mean you have another element with same property when you scroll down or up ?

[2017-02-15 17:58] saikrishna321 commented on #572
@vikramvi i see this working as expected, please take a look at the updated logs from appium server version 1.6.4.beta and java-client 5.0.0Beta2

https://gist.github.com/saikrishna321/a1b9232c21d3aa903e5230b5f72113f0#file-detailed-logs-L813

There is nothing that we do on the client end and its completly from the selenium end.

https://github.com/appium/java-client/blob/master/src/main/java/io/ap

[2017-02-15 17:58] #572 closed

[2017-02-16 06:06] tlllly commented on #571
Hi @sravanmedarapu , let me explain the issue, my app language is chinese, please let me know if you have any questions.
1. There are two views in app.
![view2](https://cloud.githubusercontent.com/assets/10986129/23008743/bc6f24a4-f44c-11e6-93fb-fef934e57c0d.jpg)
![view1](https://cloud.githubusercontent.com/assets/10986129/23008744/bc95992c-f44c-11e6-8db8-c577a3ffcb07.jpg)
2. pageSource：
[View1_pa

[2017-02-16 09:26] vikramvi opened #573 "Inquiry: Sample iOS and Android apps to cover all the major scenarios"
## Description

@TikhomirovSergey  @SrinivasanTarget @saikrishna321

I was thinking to maintain test suite covering all the scenarios on Android and iOS clients as part of main code base itself.

This should be run before each release to make sure there is no regression.

I will be happy to contribute for this test suite.

Please let me know your views on this.

[2017-02-16 11:43] vikramvi opened #574 "wait.until(ExpectedConditions.visibilityOf(elementName)) related issue"
## Description

I've below code

`WebDriverWait wait = new WebDriverWait(AppiumController.instance.driver, timeout);
   wait.until(ExpectedConditions.visibilityOf(elementName));`

Here I pass timeout value but observed that instead of waiting for timeout value, it waits for default time mentioned in

`PageFactory.initElements(new AppiumFieldDecorator(driver, 30, TimeUnit.SECONDS), this);`

## Envi

[2017-02-16 11:45] vikramvi commented on #574
@TikhomirovSergey @SrinivasanTarget @saikrishna321  I feel this issue is related to https://github.com/appium/java-client/issues/572

please have a look

[2017-02-16 13:06] saikrishna321 commented on #573
@vikramvi we already have this and before every release the tests are triggered and once it goes green only we publish. But there are some edge cases which might have not been covered. More than happy to see contributions.

https://github.com/appium/java-client/tree/master/src/test

[2017-02-16 13:48] vikramvi commented on #573
@saikrishna321 Thanks 👍  will check it out and start contributing

[2017-02-16 13:48] #573 closed

[2017-02-16 19:01] #567 closed

[2017-02-16 20:45] TikhomirovSergey commented on #574
Hi @vikramvi
I'm trying to reproduce the issue. It have not reproduced yet. I'm using that sample

[code]

![image](https://cloud.githubusercontent.com/assets/4927589/23039533/cfa441ce-f49e-11e6-8f72-50b89a7d426b.png)

Could you provide the value of `timeout`? I want to try it.

However there is an issue. There is a conflict of implicit and explicit waitings. I think it is design issue of Selenium

[2017-02-17 09:23] vikramvi commented on #574
@TikhomirovSergey  Please find below answers

1. In page object class I have below constructor

[code]

Per my understanding this is implicit wait which is applied to all the elements on this page , is this correct ?

2. Then in the same class; I've generic method which checks for both element availability and unavailability

[code]
Here I pass smallest amount of time possible, say 1 sec to check

[2017-02-17 13:44] amedvedjev opened #575 "5.0.0-beta3: HowtoUseLocators: Chain does not work"
## Code

[code]
## Elements
[code]

Result: element "ask" finds only element by first locator! second one just ignored.

e.g. center of "ask" element is 162, 132

[2017-02-17 13:47] amedvedjev commented on #575
after creating issue got that mine element search not correct!. but wonder it should fail to find element. is it? cause there is no elements inside of first found element.

[2017-02-17 16:25] TikhomirovSergey commented on #575
@amedvedjev
The case is not correct.  'iOSFindBy' is used for older ios automation mode. '@iOSXCUITFindBy' is used with the new mode. So if you wand to use some chain then you have to

[code]

[2017-02-17 16:25] TikhomirovSergey commented on #575
@amedvedjev Please close it is there is no additional details and you are agree with the reply above.

[2017-02-17 16:41] TikhomirovSergey commented on #574
@vikramvi

yes

I'm not sure. What the purpose? May be it is better to just ask

[code]
What are you trying to achieve? Is it some quick checking that is used for if/else?

So you can work it out these ways:
[code]

or

[code]

I think yes. I suppose that it is design issue of Selenium.

[2017-02-17 17:18] amedvedjev commented on #575
Thanks! I just used example from your tests.

[2017-02-17 17:18] #575 closed

[2017-02-18 17:42] Dharmendrapawar commented on #312
Hi Niranjanparija and SwamiShekar,

Even i am stuck with this problem, i need to handle data picker in my application. How to do it ? If you guys have found any solution, please help me.

[2017-02-18 20:10] TikhomirovSergey commented on #571
Ok. So this is the server side bug.

[2017-02-19 06:17] saikrishna321 commented on #312
I have similar date picker in ma app and I was able to select the date, haven't tried with year.will try n get back.

can you post the code which helped you scroll n select the year and which didn't work on selecting the date

[2017-02-20 04:43] Cindy1235 opened #576 "org.openqa.selenium.remote.ProtocolHandshake createSession"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

* java client build version or git revision if you use some shapsho

[2017-02-20 08:25] TikhomirovSergey commented on #576
@Cindy1235 Could you describe the issue?

[2017-02-20 09:14] Cindy1235 commented on #576
### Description
Recently I have this problem of my appium testing in all code.Here is a set of examples.
### code
`public class AppTest {
	public static void main(String[] args) throws MalformedURLException, InterruptedException {
		AndroidDriver driver;
		DesiredCapabilities cap=new DesiredCapabilities();
		cap.setCapability("deviceName","192.168.130.101:5555");//设备名
		cap.setCapability("platform

[2017-02-20 16:23] TikhomirovSergey commented on #576
@Cindy1235 Have you tried server 1.6.x?

[2017-02-20 17:19] vikramvi commented on #574
@TikhomirovSergey sorry for late reply, please find below info in which things go havoc ( I tried with java client project )

[code]

Here I have 3 times set for same element
4 sec at element declaration
2 sec for checking that it's absent
15 sec as implicit wait

In this case even though appium server log says

[debug] [BaseDriver] Set implicit wait to 0ms
[debug] [BaseDriver] Set implicit wait t

[2017-02-20 17:32] TikhomirovSergey commented on #574
@vikramvi Will try to reproduce it on the sample above soon.

[2017-02-20 21:10] TikhomirovSergey commented on #574
@vikramvi Ok. It is interesting

The first sample

[code]

and

![image](https://cloud.githubusercontent.com/assets/4927589/23140829/d0e6c3f8-f7c4-11e6-9600-f0469ec4d477.png)
It took about 4.5 sec.

ok.

[code]

this test was failed

![image](https://cloud.githubusercontent.com/assets/4927589/23141205/bcff2414-f7c6-11e6-882d-2df86dc66844.png)

But you can see that

[code]
not 15 seconds. However i

[2017-02-21 02:08] Cindy1235 commented on #576
Did you say the appium server version? Its latest version is AppiumForWindows_1_4_16_1，my version is 1.4.16. Thank your help！

[2017-02-21 06:14] Cindy1235 commented on #570
I have the same problem with you. Did you reinstalled the appium server or add the appium-uiautomator2-server-v0.1.1.apk? If I add the apk, where I can find it? Thank you!

[2017-02-21 08:42] jain0nikhil opened #577 "Appium is using @FindBy annotation for searching an element for native UI."
Scenario:
Same app for three platforms and UI some UI is native to platform or some in web view.

Example:
The login page is created for all three platform (Android,iOS,Web) with a native components.
 -> Create a page object in your automation as given below:
        @iOSFindBy(id = "CONTINUE AS A GUEST >")
	@FindBy(id="continue_as_guest_btn")
	@AndroidFindBy(id = "guest_login")
	public WebElement

[2017-02-21 08:46] saikrishna321 commented on #577
@jain0nikhil can you pls post the server logs

[2017-02-21 08:52] TikhomirovSergey commented on #577
@jain0nikhil Whan it is switched to WEB_VIEW or it is browser then it ises `@FindBy`

[2017-02-21 09:00] TikhomirovSergey commented on #577
@jain0nikhil
Everything you need to know is here
https://github.com/appium/java-client/blob/master/docs/Page-objects.md

[2017-02-21 09:25] saikrishna321 commented on #577
@TikhomirovSergey

In this case @jain0nikhil says that its still holding the @FindBy not @iOSFindBy

[2017-02-21 09:30] TikhomirovSergey commented on #577
@jain0nikhil

[2017-02-21 09:37] saikrishna321 commented on #577
@TikhomirovSergey yah its a Hybrid app with Native and WebView @jain0nikhil is ma collegue

@jain0nikhil can you please post server logs, thats the only way to see whats going on

[2017-02-21 11:00] jain0nikhil commented on #577
@TikhomirovSergey
App is having hybrid views.
In my app, context switching is very high.
Workflow start in native view then switch to WebView and after performing some action in web view context switch back to native and that time I am facing the issue.

@saikrishna321
@FindBy(id="predictive_airport_code")
    @AndroidFindBy(id="city_search_edit_text_predictive_city_search")
    @iOSFindBy(classNa

[2017-02-21 11:13] saikrishna321 commented on #577
https://gist.github.com/saikrishna321/085fb280f104399b1e56aca1cc7323a2

[2017-02-21 11:15] vikramvi commented on #574
@TikhomirovSergey Thanks a ton for detailed analysis, I know it's built in problem with Selenium. If we can manage in better way at client side, will be good for users.

Please let me know in case further info needed on this

[2017-02-21 11:25] mondalasim19 commented on #312
Facing the same problem
Able to performing scrolling but not able to select the item.
Can anyone help please?

[2017-02-21 12:37] saikrishna321 commented on #577
@jain0nikhil can you post the getPageSource(), from the logs i see its looking for element from NativeView

[2017-02-21 12:43] TikhomirovSergey commented on #577
@saikrishna321 @jain0nikhil
Ok. But what the context before the searching starts (before the first manipulation on the `airportSearchBox`)?

please just invoke the
`driver.getContext()`

[2017-02-21 12:43] saikrishna321 commented on #577
@TikhomirovSergey after switching to NATIVE_VIEW the logs are still searching the element which is located with @FindBy strategy not @AndroidFindBy strategy. Looks like a bug to me. Thoughts ?

@SrinivasanTarget

https://gist.github.com/saikrishna321/085fb280f104399b1e56aca1cc7323a2#file-webview-issue-L445-L451

[2017-02-21 12:53] TikhomirovSergey commented on #574
@vikramvi I am going to explore and try to fing more optimal solution.

[2017-02-21 13:06] TikhomirovSergey commented on #577
@saikrishna321 @jain0nikhil I don't know.
I need following values:
`driver.getContext()`
`driver.getPlatformName()`
`driver.getAutomationName()`
`driver.getSessionDetails()`

Also I noticed that string `WebElementFacade`. It seems it is not Appium. Do you use serenity-bdd?
I can't guarantee the good working of serenity-bdd with appium. Yes. I know that serenity-bdd is integrated with Appium. But t

[2017-02-21 13:14] saikrishna321 commented on #577
Big YES!!

[2017-02-21 13:29] TikhomirovSergey commented on #577
@saikrishna321 ok. I could make some classes public. Maibe add some additional things to make Appium page object tools more integratable with 3rd part tools/frameworks. So it is feature/enhancement request.

[2017-02-22 03:38] jain0nikhil commented on #577
@TikhomirovSergey  @saikrishna321
Thanks for looking into the issue.

I am using serenity-bdd but I updated the java-client in my gradle as given below
testCompile('net.serenity-bdd:serenity-core:1.2.2') {
        exclude group: 'io.appium'
    }
    compile group: 'io.appium', name: 'java-client', version: '5.0.0-BETA3'

Some observation on this issue:
Appium works fine if the context is Native o

[2017-02-22 08:16] TikhomirovSergey commented on #577
@jain0nikhil Ok. I will try to reproduce today evening.

[2017-02-22 09:45] sravanmedarapu commented on #571
Using appium-uiautomator2-driver@v0.2.10 should fix this issue.

[2017-02-22 10:34] kbalakumar99 commented on #312
@saikrishna321  @mondalasim19 @Dharmendrapawar @SwamiShekhar @niranjanparija

I have found the solution for this. Sharing the code snippets here.

`
	public void setDate_android(String day, String month, String year)
	{
		tap("Id", "android:id/date_picker_header_year");
		findElementInList("Id","android:id/date_picker_year_picker","Text",year,"10","down");
//		Date today = Calendar.getInstance().g

[2017-02-22 10:38] kbalakumar99 commented on #312
It would be better if the sendKeys work for this calendar view. @TikhomirovSergey  Think of it

[2017-02-22 10:40] kbalakumar99 commented on #312
But, I am facing a different problem here. After setting the date, I could not find any elements in the page. I can get the elements in the page only after tapping/swiping a location in the screen using location attributes. Anyone facing the similar issue??

[2017-02-22 10:58] vikramvi opened #580 "Partial swipe left is not working"
## Description

1. I've an element in form of row ( XCUIElementTypeTable[1]/XCUIElementTypeCell[1] ) on which I need to swipe partial left
2. This will unhide button on right side of the row ( XCUIElementTypeTable[1]/XCUIElementTypeCell[1]/XCUIElementTypeButton[1] )
3. I have tried all options possible but couldn't get this working
4. It always results in normal swipe and next screen gets loaded

[2017-02-22 11:02] SrinivasanTarget commented on #580
@vikramvi Why is ```waitAction``` negative?

[2017-02-22 11:04] SrinivasanTarget commented on #580
@vikramvi How do you got the values as 250 etc etc hotcoded there?

[2017-02-22 11:04] vikramvi commented on #580
@SrinivasanTarget I tried by giving positive value, removing it altogether and later negative. This was one of the options suggested on appium forum.

But none of them working in this case

[2017-02-22 11:05] SrinivasanTarget commented on #580
AFIK @vikramvi waitAction should be always positive.

[2017-02-22 11:06] vikramvi commented on #580
First I calculated size of the row which is {0,120} {0,174} { 320,120} {320,174}. To get it work at least, I tried hard coding the values.

[2017-02-22 11:07] vikramvi commented on #580
I tried but didn't work in that case as well

[2017-02-22 11:08] vikramvi commented on #580
One more solution mentioned https://discuss.appium.io/t/partial-swipe-left-on-ios-simulator-10-x-not-working/14948/2 , didn't work as well

[2017-02-22 11:08] SrinivasanTarget commented on #580
I believe it should be the issue with the co.ord's given.

[2017-02-22 11:14] vikramvi commented on #580
@SrinivasanTarget can you please suggest what co-ordinates should I try, I spent 2 days and come to conclusion that this could be a bug.

Please refer to attached 2 screen shots for confirmation about correct co-ordinates.

![screen shot 2017-02-22 at 12 13 15 pm](https://cloud.githubusercontent.com/assets/308490/23209169/5dca5684-f8f8-11e6-95f4-985e227a1a6a.png)
![screen shot 2017-02-22 at 12 13

[2017-02-22 11:23] SrinivasanTarget commented on #580
@vikramvi I don't suggest getting Co.ords using Appium/any Inspector. Something that we need to calculate through the dimensions of element. Should be something like this, https://github.com/saikrishna321/VodQaAdvancedAppium/blob/master/src/test/java/com/appium/gesture/GestureTest.java#L25.

[2017-02-22 11:30] vikramvi commented on #580
yes I tried it already, just used appium client to cross check co-ordinates. Earlier posted co-ordinates have got from code and not appium client.

[2017-02-22 11:41] saikrishna321 commented on #580
@vikramvi can you post this on appium.discuss forum with your sample app. That would help to reproduce.

@triager please close 😉

[2017-02-22 12:10] vikramvi commented on #580
@saikrishna321 @SrinivasanTarget @TikhomirovSergey  I still feel this is a valid bug. I played with the app for 30 mins.

The behaviour is similar to Mail app in iOS.

I think chaining of events are happening properly in this case.
Instead of waiting for next chain event Press -> MoveTo -> Release -> Perform

It's doing Press which is resulting in next screen to open; similar to Mail app.

Let me

[2017-02-22 14:24] RockChild commented on #580
Are you sure that you need to swipe? I mean what is the purpose for swipe?

[2017-02-22 14:50] jain0nikhil commented on #577
@TikhomirovSergey @saikrishna321

I tested same workflow without serenity and its work fine.

Please close the issue.

[2017-02-22 15:20] TikhomirovSergey commented on #580
@vikramvi It is not the client bug.

[2017-02-22 15:43] TikhomirovSergey commented on #577
@jain0nikhil So this is most likely the issue of serenity.
However above I said

So they should be ready for the refactoring soon. I'm imterested too because I use serenity-bdd for my everyday work. I will keep it opened for some time.

[2017-02-22 15:50] vikramvi commented on #577
I was using Serenity for mobile automation but it is not getting regular updates wrt Appium Java client thus stopped using it.
Currently it has 4.0 version of java client, I won't prefer using until they keep up with Java client releases

[2017-02-22 15:52] vikramvi commented on #580
@RockChild  yes, I need to do swipe to get button enabled on right side of row; similar to Mail app email row.

@TikhomirovSergey shall I close this and open new issue in appium repo ?

[2017-02-22 16:01] TikhomirovSergey commented on #580
Please open a new issue here
https://github.com/appium/appium/issues. This issue is related to this repo: https://github.com/appium/appium-xcuitest-driver.

The new one issue please link to this one. User should know where is the problem :)

[2017-02-22 16:22] RockChild opened #581 "Swipe, tap, TouchAction don't work on double-panel iOS application"
## Description
AppiumDriver.swipe() and swipe through TouchAction method is not working properly on the application with 2-panels app(divided vertically) like this:
<img width="601" alt="screen shot 2017-02-22 at 17 52 52" src="https://cloud.githubusercontent.com/assets/7795004/23222574/a3fb9bf6-f928-11e6-9800-c75770ccc990.png">

## Environment

* java client build version: 5.0.0-BETA1/3, 4.1.2
*

[2017-02-22 17:11] vikramvi commented on #580
@TikhomirovSergey thanks for confirming it's bug on server side. I've opened new issue https://github.com/appium/appium/issues/7914

[2017-02-23 06:56] Dharmendrapawar commented on #312
kbalakumar99 , Thank you so much. The code snippet which you have posted above, do i need to put those methods in a separate class and call "setDate_ android" method whenever it is required to select date from date picker ???

please answer

[2017-02-23 10:02] kbalakumar99 commented on #312
@Dharmendrapawar  Yes. You can use those methods. I just gave it as reference to the actual method 'setDate_android'

[2017-02-23 10:13] Dharmendrapawar commented on #312
BalaKumar,

Can you please tell me, why have you used String type and String Id as parameters in tap, tapNTimes and swipe_BottomToTop methods. and also there are so many parameters in findElementInList method.

Could you please explain? I am confused.

many thanks in advance

[2017-02-23 12:41] kbalakumar99 commented on #312
It is used as string for my convenience. You can modify it as per your requirement

[2017-02-24 04:23] Dharmendrapawar commented on #312
Hi BalaKumar,

I still have some doubts, Could you please share me your email Id, so that i could communicate with you via email privately.

Many thanks in advance,

[2017-02-25 20:30] TikhomirovSergey commented on #574
@vikramvi The fix is merged and will be published at BETA4

[2017-02-26 06:35] Dharmendrapawar commented on #312
Hi BalaKumar,

I will share the UI Automator dump and Screen shot of the calendar, can you please modify the above code accordingly ?

please do the needful,

[2017-02-26 13:22] saikrishna321 commented on #90
@TikhomirovSergey can we close this ?

[2017-02-26 13:24] saikrishna321 commented on #216
@TikhomirovSergey inactive defect, can this be closed?

[2017-02-26 14:57] #90 closed

[2017-02-26 15:34] #216 closed

[2017-02-27 10:56] jain0nikhil commented on #577
@vikramvi
Is there any way to update the Java client in serenity ?

[2017-02-27 11:50] email2vimalraj commented on #90
@mrahman53 @saikrishna321 @bootstraponline @Jonahss : Any use-case for this Java REPL? Because almost all the Java IDEs has debugging capability which would help us any user put a break point and achieve the same on what we try to achieve through REPL.

[2017-02-27 12:14] saikrishna321 commented on #515
@SrinivasanTarget can we close this as inactive?

[2017-02-27 12:15] saikrishna321 commented on #486
@SrinivasanTarget @TikhomirovSergey Can this be closed, as inactive

[2017-02-27 12:16] saikrishna321 commented on #463
@TikhomirovSergey @SrinivasanTarget can this be closed, as its closed from server side.

[2017-02-27 12:18] saikrishna321 commented on #280
@artgo can you pls try on the latest client.. @SrinivasanTarget can you pls close this as inactive

[2017-02-27 12:19] SrinivasanTarget commented on #515
@ydonev please try latest version of client and server and log a new defect if you still face this.

[2017-02-27 12:19] #515 closed

[2017-02-27 12:20] SrinivasanTarget commented on #463
@ydonev please try latest version of client and server and log a new defect if you still face this.

[2017-02-27 12:20] #463 closed

[2017-02-27 12:20] #280 closed

[2017-02-27 12:21] SrinivasanTarget commented on #486
@jeangb  please try latest version of client and server and log a new defect if you still face this.

[2017-02-27 12:21] #486 closed

[2017-02-27 12:22] SrinivasanTarget commented on #577
@jain0nikhil I remember @TikhomirovSergey was working on it, he might raise a PR there. Wait for some days.

[2017-02-27 14:22] TikhomirovSergey commented on #577
@jain0nikhil Yes. I'm working on some improvements. Some of them are suppossed to be on the side of Java client, some - on the side of serenity.
Actually I use serenity for my everyday work and I'm not totally satisfied. :(

[2017-02-27 14:53] vikramvi commented on #577
@jain0nikhil no; currently it's not possible.

If you've deadline to meet, I would say build your own framework or use some other framework which keeps up with latest Java client.

Otherwise it's hard to pin point if bug is on Serenity / Java Client / Appium server side

[2017-02-27 16:08] artgo commented on #280
@isbjorn FYI

[2017-02-28 15:03] vikramvi commented on #574
Thanks a ton for this fix @TikhomirovSergey , PR looks good. Once BETA4 is out, will check and close.

[2017-02-28 21:23] TikhomirovSergey commented on #574
@vikramvi Now you can take 5.0.0-BETA4 and check it. Please close this issue if everything is ok.

[2017-03-01 10:17] vikramvi commented on #574
@TikhomirovSergey Please find below updates

1. With below it fix is working fine, appium waits for 5 sec in this case. It takes value of @WithTimeout

  `    @WithTimeout(time = 5, unit = TimeUnit.SECONDS)
    @FindBy(id = "android:id/text11")
    private WebElement textView;

    @Before public void setUp() throws Exception {
        if (!populated) {
            //This time out is set because t

[2017-03-01 11:17] priyankshah217 commented on #574
@vikramvi , before u use explicit wait always remember to set 0 or minimal implicit wait, and reset it (Implicit wait) after your wait.until. This could be expected behaviour from selenium webdriver because ur explicit wait always user implicit wait as polling interval. So just for a try can u please increase waiting duration to 50 seconds.

[2017-03-01 13:10] TikhomirovSergey commented on #574
@vikramvi

In this case, appium waits for 25 sec instead of 2 sec

It is not the issue. It is the normal behaviour. @priyankshah217 is right. And before I have adviced you to use `@WithTimeOut` with the minimal acceptable value.

[2017-03-01 13:11] TikhomirovSergey commented on #574
@vikramvi I am closing this ticke as `@WithTimeOut` works as expected. Please reopen it if there are some details.

[2017-03-01 13:11] #574 closed

[2017-03-01 13:11] vikramvi commented on #574
Thanks @priyankshah217 @TikhomirovSergey for quick reply.

Thanks a ton @TikhomirovSergey for giving time for this issue & fixing

Closing as per above 2 comments.

[2017-03-01 20:19] TikhomirovSergey commented on #577
@vikramvi It is in progress now. I suppose to finish it with the #565

[2017-03-02 06:17] RanjithHS commented on #257
pressKeyCode is not working for me even after using java client 5.0
please let me know if someone has implemented the same.

[2017-03-02 09:19] vikramvi commented on #577
Thanks @TikhomirovSergey but Jon has mentioned ( in one of my ticket on serenity ) that currently none of his clients are investing for mobile automation framework so he is not quite keen to keep it upto date with latest changes in Java clients.

Given this scenario, it will be risky to rely on Serenity for mobile native app automation cc: @jain0nikhil . Also community who is using Serenity for mo

[2017-03-02 09:52] wenshi11019 commented on #581
I have the same question,too

[2017-03-02 12:11] vikramvi commented on #581
@RockChild @wenshi11019 this is appium server side issue, please open ticket there

[2017-03-02 22:26] bridgewaterrobbie opened #586 "Can't use sendKeyEvent"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

Appium version (or git revision) that exhibits the issue: 1.6.4
Las

[2017-03-03 10:04] amedvedjev opened #587 "iOS: Feature Request: Add support to tap home key"
## Description

webdriveragent supports convenient way go to home screen with
[code]

it will be nice to support it.

[2017-03-03 12:16] SrinivasanTarget commented on #587
@amedvedjev I don't see a server endpoint here: https://github.com/appium/appium-base-driver/blob/master/lib/mjsonwp/routes.js So please raise it under server.

[2017-03-03 12:16] #587 closed

[2017-03-04 17:10] jaipaddy opened #588 "PageFactory.initElements throwing java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;J)V"
## Description

Trying to get appium to click on my first iOS element in the app. I have set the right desired capabilities since the Appium Desktop is able to open the inspector. But it is throwing -
`INFO  [IOSAppRegression:55] Step:1 Device: 5s Connecting to Device..........
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/St

[2017-03-04 17:12] mykola-mokhnach commented on #588
Possible duplicate of https://github.com/appium/appium/issues/7970

[2017-03-04 21:26] TikhomirovSergey commented on #588
@jaipaddy
Have you upadated your project to Selenium 3.2 or do you use other guava version.
It looks like the common dependency conflict. But I marked this issue as "BUG" because we have excessive `guava` dependency. I don't know why. It has being there from...first releases. I think it is more correct to use `guava` dependency of Selenium.

ping @mykola-mokhnach @SrinivasanTarget

[2017-03-04 22:06] SrinivasanTarget commented on #588
+1 @TikhomirovSergey

[2017-03-05 00:57] jaipaddy commented on #588
Upgrading to Selenium 3.2.0 does not compile Pagefactory! Do I need something more in my pom?

         `   <dependency>
			<groupId>io.appium</groupId>
			<artifactId>java-client</artifactId>
			<version>5.0.0-BETA4</version>
			<exclusions>
				<exclusion>
					<groupId>org.seleniumhq.selenium</groupId>
					<artifactId>selenium-java</artifactId>
				</exclusion>
			</exclusions>
		</dependency>

[2017-03-05 16:26] TikhomirovSergey commented on #588
I am going to update dependencies

[2017-03-05 22:23] jaipaddy commented on #588
Tried again, but get a similar stacktrace -
`org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: OSS
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;)V
	at org.openqa.selenium.remote.http.AbstractHttpCommandCodec.getParameter(AbstractHttpCommandCodec.java:349)
	at org.open

[2017-03-06 15:53] sjenasears opened #590 "Getting java.lang.NoClassDefFoundError: org/openqa/selenium/HasInputDevices while running Appium project"
Java.lang.NoClassDefFoundError: org/openqa/selenium/HasInputDevices
getting this error while running appium script below in eclipse

@Before
public void setUp() throws Exception {

	DesiredCapabilities capabilities = new DesiredCapabilities();

	capabilities.setCapability(MobileCapabilityType.APPIUM_VERSION, "1.6.4-beta");
	capabilities.setCapability(MobileCapabilityType.PLATFORM_NAME, "iOS");
	ca

[2017-03-06 16:58] jeitae commented on #150
try using only UiSelector().className(\"android.widget.ListView\") and get fields like list1.get(index)

[2017-03-06 18:57] bridgewaterrobbie commented on #586
I opened this issue in the wrong project, sorry about that.
https://github.com/appium/appium/issues/7991

[2017-03-06 18:57] #586 closed

[2017-03-07 03:44] sjenasears commented on #590
any solution?

[2017-03-07 08:32] TikhomirovSergey commented on #588
@jaipaddy I have published 5.0.0-beta5. Could you please try it with this pom configuration

[code]

[2017-03-07 08:35] TikhomirovSergey commented on #590
@sjenasears This is dependency conflict. Also I think that it is the duplicate of #588. I think now it should be  resolved. Could you read the mentioned issue.

[2017-03-07 09:19] amedvedjev opened #592 "5.0.0-BETA5: parameter type conflict"
## Description

[code]

https://github.com/SeleniumHQ/selenium/issues/3538

[2017-03-07 10:42] TikhomirovSergey commented on #592
@amedvedjev Are you sure that it is appium issue?

[2017-03-07 11:13] amedvedjev commented on #592
@TikhomirovSergey of cause not :-). but it appears when i switch pom.xml to latest 5th version.

now reverted back to 4th.

[2017-03-07 11:37] TikhomirovSergey commented on #592
@amedvedjev It is defenetely the bug of selenium.
Take a look at the
https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/ui/FluentWait.java#L34

and

https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/ui/FluentWait.java#L204

and now

https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/

[2017-03-07 11:45] amedvedjev commented on #592
ok. indeed. thanks for help.

[2017-03-07 11:45] #592 closed

[2017-03-07 11:56] amedvedjev commented on #592
anyway the issue started appear in Selenium 3.2.0. Do we need to use buggy version of selenium?

[2017-03-07 12:08] TikhomirovSergey commented on #592
@amedvedjev It was not expected. You can exclude 3.2.0 at the configuration

[2017-03-07 13:40] sjenasears commented on #590
No it did not solve the error. I have included all jars for 5.0.0 Beta5

[2017-03-07 13:44] sjenasears commented on #588
i am getting the below error even if i included the latest jar

Java.lang.NoClassDefFoundError: org/openqa/selenium/HasInputDevices
getting this error while running appium script below in eclipse

@Before
public void setUp() throws Exception {

DesiredCapabilities capabilities = new DesiredCapabilities();

capabilities.setCapability(MobileCapabilityType.APPIUM_VERSION, "1.6.4-beta");
capabilities.

[2017-03-07 18:50] jaipaddy commented on #588
Unfortunately, same thing again after removing extra selenium dependencies -
`org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: OSS
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;Ljava/lang/Object;)V
	at org.openqa.selenium.remote.http.AbstractHttpCommandCodec.getParameter(AbstractHttpCo

[2017-03-08 05:45] saikrishna321 commented on #588
@TikhomirovSergey get the same error with BETA5

[code]

[2017-03-08 07:12] Raj1071 commented on #348
is it necessary to define AndroidDriver class and URL value as http://127.0.0.1:port/wd/hub if we define AppiumDriverLocalService class and provide IP address and Port also

[2017-03-08 20:57] TikhomirovSergey opened #594 "5.0.0-BETA5"
## Description
The failing on the session creation.

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0-BETA5
* Appium server version or git revision if you use some shapshot: 1.6.3
* Desktop OS/version used to run Appium if necessary: Windows 8
* Node.js version (unless using Appium.app|exe) or Appium CLI or Appium.app|exe: 7.0.0
* Mobile platform/version

[2017-03-08 21:01] TikhomirovSergey commented on #594
@SrinivasanTarget @mykola-mokhnach @saikrishna321
Do you know something?

I think there some changes on the selenium server-side. This failings are lelated to changes of this class:
https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/remote/ProtocolHandshake.java.

[2017-03-08 21:41] mykola-mokhnach commented on #594
It looks like Selenium authors added some new JSON attributes to _createSession_ API called "alwaysMatch" and "firstMatch". I still cannot fully understand the purpose of these based on their weird comments, but we need for sure avoid throwing an error in Appium or strip these attributes explicitly in our selenium driver wrappers. Probably, doing this in Appium would be better, since it won't requ

[2017-03-08 21:47] mykola-mokhnach commented on #594
@TikhomirovSergey Can you please try to apple this [patch](https://github.com/appium/appium-base-driver/pull/108) and check if the stuff still fails?

[2017-03-08 21:57] jlipps commented on #594
ok, tracking that issue in appium at https://github.com/appium/appium/issues/8009

[2017-03-08 22:17] jlipps commented on #594
@TikhomirovSergey @mykola-mokhnach i have confirmed with the spec authors that what the client is sending is completely wrong. It is sending this:

[code]

whereas according to the spec it should have the overall form:

[code]

so we need to figure out whether this is a bug in the java client or the appium client. I don't want to change the appium server parameters until we are sure what's going o

[2017-03-08 22:20] jlipps commented on #594
according to spec authors, what the client _should_ be sending is something more like this:

[code]

note that there are 3 top-level keys: the two old ones (desiredCapabilities and requiredCapabilities) and the new one (capabilities). The reason is that the old ones are there to target old implementations, and the new one is there to target new implementations. Eventually the old keys will stop sh

[2017-03-08 22:27] mykola-mokhnach commented on #594
@KazuCocoa FYI

[2017-03-08 23:24] KazuCocoa commented on #594
👣 (watching)

[2017-03-09 00:15] saikrishna321 commented on #594
+1 to what @mykola-mokhnach says, this needs to be handled on the appium server side, which would help breaking all the clients.

@jlipps @TikhomirovSergey i understand the caps which is in alwaysMatch should be present in requiredCapabilities. But what does the firstMatch gonna do ?

[2017-03-09 07:43] mykola-mokhnach commented on #594
@saikrishna321 This should be ok on server side if you put **alwaysMatch** and **firstMatch** attributes inside **capabilities** object, like the spec says. Jonathan has confirmed this with spec authors in W3C IRC chat.

[2017-03-09 08:08] TikhomirovSergey commented on #594
@jlipps @saikrishna321 @mykola-mokhnach @KazuCocoa @jlipps
Ok. I am going to try to fix it today.

[2017-03-09 17:00] SrinivasanTarget commented on #594
@jlipps @mykola-mokhnach
We are constructing the request here, https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/remote/AppiumCommandExecutor.java#L65
and https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/remote/AppiumCommandExecutor.java#L69

As per latest Spec changes, ProtocolHandshake is redesigned in Selenium here, https:

[2017-03-09 18:17] jlipps commented on #594
Hi @SrinivasanTarget I think we should not improve the server side here because the server is doing things correctly. We need to ensure that the client is sending the right format. I'm not sure whether Appium's java client is responsible for the incorrect format, or whether Selenium's java client is responsible. But either way we should fix it in one of those places.

[2017-03-09 19:49] TikhomirovSergey commented on #594
@jlipps I'm implimenting our "protocol hand shake class"

[2017-03-13 04:26] sharonandrades commented on #159
For ScrollTo() function the below method worked very well,

`driver.findElementByAndroidUIAutomator("new UiScrollable(new UiSelector()).scrollIntoView("+ "new UiSelector().text(\"_input your text name here_\"));").click();`

Please try using the above method & this should solve your problem with regards to scrollTo() function, thanks.

[2017-03-13 15:53] rajanbharti opened #598 "Unable to find elements using XPAth for iOS."
I am trying to get specific element using XPath. I am using the following XPath for given XML, to get button elements.
Appium java-client 4.1.2
It always shows error, unable to find element using specified source

`     //XCUIElementTypeApplication[1]/XCUIElementTypeWindow[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[2]/XCUIElementTypeTabBar[1]/XCUIElementTypeButton[1]        //XCUIElementTypeA

[2017-03-13 16:07] mykola-mokhnach commented on #598
It is NOT recommended to use xpath, since it's slow and also such locators are potentially unstable. Try to use location by Accessibility ids/class names/predictaes (available in beta version of java_client lib) instead.

[2017-03-14 09:52] rajanbharti opened #600 "ESOCKETTIMEDOUT Error"
## Description

After 30-40 requests of driver.getPageSource(). I get **ESOCKETTIMEDOUT** error in console and testing stops after that point
Tried both Appium version 4.1.2 and 5.0.0- Beta 5

## Environment

* Appium: java client 4.1.2
* Mac OS X
* Mobile platform/version under test: 10.1.1
* Real device or emulator/simulator: iPhone 5S

### Error

[code]

[2017-03-14 15:01] sjenasears opened #601 "Getting timeout error while trying to launch my app"
Getting below Timeout error

Exception in thread "main" org.openqa.selenium.WebDriverException: org.apache.http.conn.HttpHostConnectException: Connect to 0.0.0.0:4723 [/0.0.0.0] failed: Operation timed out (Connection timed out)
Build info: version: 'unknown', revision: 'b526bd5', time: '2017-03-07 11:11:07 -0800'
System info: host: 'INPUNML310835', ip: 'fe80:0:0:0:9c:eed8:e543:f236%en0', os.name:

[2017-03-14 15:31] MordaBoy opened #602 "Bad parameters"
## Description
2 days ago it worked perfectly. I changed nothing. But now In Appium 1.6.4-beta, getting the error:
[debug] [MJSONWP] Bad parameters: BadParametersError: Parameters were incorrect. We wanted {"required":["desiredCapabilities"],"optional":["requiredCapabilities","capabilities","sessionId","id"]} and you sent ["desiredCapabilities","requiredCapabilities","capabilities","alwaysMatch","

[2017-03-14 15:45] SrinivasanTarget commented on #602
We are aware of it and it is been tracked [here](https://github.com/appium/java-client/issues/594). Please use 5.0.0-Beta 4 instead. Fix is in [here](https://github.com/appium/java-client/pull/597).

[2017-03-14 15:45] #602 closed

[2017-03-14 15:47] SrinivasanTarget commented on #601
[code]
It should be
[code]

[2017-03-14 15:47] #601 closed

[2017-03-14 15:48] SrinivasanTarget commented on #600
Please use 5.0.0- Beta 4 for time being. Beta 5 is broken and we have fix in place [here](https://github.com/appium/java-client/pull/597). Same will be released soon.

[2017-03-14 15:48] #600 closed

[2017-03-14 15:50] SrinivasanTarget commented on #598
Also please try a latest version of java client **[5.0 Beta 4 preferably]** and server [1.6.4 Beta].

[2017-03-14 15:50] #598 closed

[2017-03-14 15:55] sjenasears commented on #601
@SrinivasanTarget Thanks for your reply.

Still i am getting the same error.
Another one observation, That error is coming after 1 minutes.

[2017-03-14 15:57] SrinivasanTarget commented on #601
Please follow the issue template and send me the logs in form of gist. Also try to use launch timeout capability to increase the launch timeout of your application.

[2017-03-15 10:46] sjenasears commented on #601
Hi,

i have increased my launch time to 120
DesiredCapabilities capabilities = new DesiredCapabilities();
		capabilities.setCapability(InternetExplorerDriver.IE_ENSURE_CLEAN_SESSION, true);

		capabilities.setCapability("appium-version", "1.6.4-beta");
		capabilities.setCapability("platformName", "iOS");
		capabilities.setCapability("platformVersion", "10.0");
		capabilities.setCapability("deviceN

[2017-03-15 22:47] Brian-Watson opened #603 "org.openqa.selenium.remote.ProtocolHandshake createSession messages logging as errors"
## Description

After just recently upgrading to java-client 5.0.0-BETA4, my Appium jenkins jobs are now ending as failure even though all tests pass.

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0-BETA4
* Appium server version or git revision if you use some shapshot: 1.6.4-beta
* Desktop OS/version used to run Appium if necessary: Windows and OSX
* N

[2017-03-16 01:10] amyreit commented on #592
I am confused - I also have just moved up versions - to selenium 3.3.1 using the java package and I am seeing the same issue on a line of code like this -
 element = wait.until(ExpectedConditions.elementToBeClickable((By) identifier));
===================================================
 error: cannot access Function
wait.until(ExpectedConditions.frameToBeAvailableAndSwitchToIt("toolIFrame"));
req

[2017-03-16 02:07] SwiftPlayer opened #604 "In Appium 1.6.3, getting the error 'Bad parameters"
## Description

In Appium 1.6.3, getting the error 'Bad parameters: BadParametersError: Parameters were incorrect.

## Environment

*Appium version 1.6.3
*Mac 10.12.2
*Real device iphone 6s plus
*Intellij idea
*java-client-4.1.2.jar
*selenium-server-standalone-3.3.1

## Details

In Appium 1.6.3, getting the error 'Bad parameters: BadParametersError: Parameters were incorrect. We wanted {"required"

[2017-03-16 02:23] amyreit commented on #592
If I back down to the 3.0.0 level of selenium then i can compile again...

[2017-03-16 04:46] SrinivasanTarget commented on #604
If you wanted to run in real device specify UDID and ipa (not app). app is only for simulators.

[2017-03-16 04:46] #604 closed

[2017-03-17 09:28] saikrishna321 commented on #603
@Brian-Watson there is conflict in dependencies . Can you pls share the logs n pom.xml as gist

[2017-03-17 09:30] saikrishna321 commented on #564
@ttisdon can you pls try using UIAutomator2 and see if the issue is still there

[2017-03-17 12:32] poorvikamahesh opened #605 "Unable to create a new Session after upgrading to java-client 5.0.0-BETA5"
Hello,

I just upgraded the java-client to 5.0.0-BETA5. Now I am unable to launch the app and get the below error -

[code]
My desired capabilities is as below

[code]

Kindly help.

Thanks and Regards,
Poorvika

[2017-03-17 14:56] Brian-Watson commented on #605
There's a known issue with BETA5 that is being worked on that will cause this.  For now, you'll likely want to go back to BETA4.  See...

https://github.com/appium/java-client/issues/594

[2017-03-17 23:00] SrinivasanTarget commented on #605
Yes we are tracking it there. Fix is [here](https://github.com/appium/java-client/pull/597) Will be resolved by this weekend.

[2017-03-17 23:00] #605 closed

[2017-03-18 05:52] rajanbharti commented on #600
https://github.com/facebook/WebDriverAgent/issues/507
So, is this resolved at aapium end? because, i am getting same problem, even after using beta 4

[2017-03-18 05:54] SrinivasanTarget commented on #600
@rajanbharti Which version of appium server are you trying out?

[2017-03-18 05:56] rajanbharti commented on #600
@SrinivasanTarget , I am using 1.6.3 version of appium server

[2017-03-18 05:57] SrinivasanTarget commented on #600
@rajanbharti Can you try latest server version, ```npm install -g appium@beta --no-shrinkwrap```

[2017-03-18 08:18] rajanbharti commented on #600
@SrinivasanTarget , It is working now, Thanks

[2017-03-18 09:20] SrinivasanTarget commented on #600
cool @rajanbharti

[2017-03-20 16:46] okanov commented on #592
@amyreit You are correct; there is somewhat of a conflict if you use the latest version of Selenium. What ended up resolving issues for me was including the latest version of guava within my pom.xml; even though I had not used it.

` <dependency>
            <groupId>org.seleniumhq.selenium</groupId>
            <artifactId>selenium-server</artifactId>
            <version>3.3.1</version>

[2017-03-20 19:33] amyreit commented on #592
I don't have a pom file - I'm using eclipse and java.... so not sure how to make this compile work? The guava 21 is included in my classpath....

[2017-03-20 20:48] Brian-Watson commented on #603
@saikrishna321 Sure.  I am currently using gradle for my dependencies, so my gradle file just includes...
`repositories {
    jcenter()
}

dependencies {
    compile 'junit:junit:4.12'
    compile 'io.appium:java-client:5.0.0-BETA4'
    compile 'log4j:log4j:1.2.17'
    compile 'joda-time:joda-time:2.3'
    compile 'com.saucelabs:sauce_junit:2.1.21'
    compile 'com.saucelabs:saucerest:1.0.35'

[2017-03-21 08:27] saikrishna321 commented on #603
https://github.com/appium/java-client/issues/588

[2017-03-21 08:29] saikrishna321 commented on #603
@Brian-Watson can you try with
[code]

[2017-03-21 08:41] TikhomirovSergey commented on #603
@Brian-Watson
I think it is related to #594. The fix is here #597. It is waiting for the aproval

[2017-03-21 20:59] TikhomirovSergey commented on #594
I will close this issue after the publishing. It is coming soon.

[2017-03-22 00:06] indranilstartup commented on #588
I tried running this and I have a similar issue. It seems to come down to a guava bug.

[2017-03-22 12:45] AlekseiMordas commented on #588
Can anybody find working solution?

[2017-03-22 13:31] saikrishna321 commented on #588
https://github.com/appium/java-client/pull/597 this should fix it

[2017-03-22 18:22] ttisdon commented on #564
@saikrishna321 how should I run UIAutomator2?

[2017-03-22 21:07] TikhomirovSergey commented on #594
The fix has been published.

[2017-03-22 21:07] #594 closed

[2017-03-22 21:08] TikhomirovSergey commented on #603
@Brian-Watson I am closing this issue. 5.0.0-BETA6 was published. Please try it. If not everything is ok then please re-open this issue.

[2017-03-22 21:08] #603 closed

[2017-03-23 05:38] SrinivasanTarget commented on #564
```capabilities.setCapability(MobileCapabilityType.AUTOMATION_NAME, AutomationName.ANDROID_UIAUTOMATOR2);```

[2017-03-23 08:17] TikhomirovSergey commented on #590
@sjenasears
Could you try it on 5.0.0-BETA6? Also could you check dependencies. I think that it is possible that your project may depend on some older Selenium version somehow.

[2017-03-23 08:23] TikhomirovSergey commented on #588
Guys. Could you try it on 5.0.0-BETA6? Also could you check your dependencies. I suppose that you projects may depend om older Selenium versions.

[2017-03-23 10:05] ublanquet commented on #592
Tried to add latest guava to my pom, didn't make a difference. Making an anonymous function  as advised by http://stackoverflow.com/a/42546102 to match the signature is a workaround, but for a first time selenium user, I gotta admit I prefer to rely on the official documentation, so I downgraded to 3.0.1. Especially since I'm not sure of the usage of ExpectedConditions static methods in that conte

[2017-03-23 10:12] SrinivasanTarget commented on #592
```Especially since I'm not sure of the usage of ExpectedConditions static methods in that context.```
Its an issue in Selenium Server latest where in it should be fixed if you exclude guava from java-client and add latest by yourself. If possible will raise a PR and fix it at selenium end soon.

[2017-03-23 18:55] ttisdon commented on #564
I'm using Java Client 5.0.0-BETA1 and here are my capabilities:

[code]

When I start up the server and run my test, the app loads but then fails with this error:
`java.lang.NullPointerException: null value in entry: deviceScreenSize=null`

should I try a newer beta version?

[2017-03-24 22:15] dpgraham opened #607 "Add toggleTouchIdEnrollment function"
## Description

* We currently have a touchId function (https://github.com/appium/java-client/blob/3e9c9497e91b6db5f3454061d73fc534ed8b4e92/src/main/java/io/appium/java_client/ios/PerformsTouchID.java) that hits the `/session/:sessionId/appium/simulator/touch_id` endpoint
* We need a function like this that hits the toggleTouchIdEnrollment endpoint `/session/:sessionId/appium/simulator/toggle_touc

[2017-03-25 16:44] Brian-Watson commented on #603
@saikrishna321 @TikhomirovSergey Just wanted to update you guys to say I installed the latest BETA6 and it indeed fixed my issue.  Thank you guys so much for your work!!!!

[2017-03-25 17:09] ravi31186 opened #608 "I am facing issue while I try to run my code on real iOS device using Appium. I am getting below error message while I run my script. [debug] [MJSONWP] Bad parameters: BadParametersError: Parameters were incorrect. We wanted {"required":["desiredCapabilities"],"optional":["requiredCapabilities","capabilities","sessionId","id"]} and you sent ["desiredCapabilities","requiredCapabilities","capabilities","alwaysMatch","firstMatch"]"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

* java client build version or git revision if you use some shapsho

[2017-03-25 17:11] SrinivasanTarget commented on #608
@ravi31186 Please fill the template properly along with logs inform of gist to investigate the issues. Use the latest beta version of java client and server, you will not face this issue.

[2017-03-25 17:11] #608 closed

[2017-03-25 18:04] ravi31186 commented on #608
Hello Sri,

Thanks for your response really appreciated.

I have used the  java-client-5.0.0-BETA5.jar
Selenium-server-standalone-3.2.1.jar

Dependencies but still I am getting same error... would you please specify which latest beta version of java client and server I can use to resolve this issue?

Below is the log info....

ravindras-MacBook-Air:~ ravindrapatil$ appium -U 1965fe18a1cb5c71085ca8

[2017-03-25 18:13] SrinivasanTarget commented on #608
Hi @ravi31186

Beta 5 had this issue we have recently resolved it.so please use 5.0.0-BETA6.

[2017-03-25 18:55] ravi31186 commented on #608
Hello Sri,

Thanks for you response your suggestion solved my problem but I am having another issue I am not able to launch WebDriverAgent app on my device.

Please see below log for more details....

ravindras-MacBook-Air:~ ravindrapatil$ appium -U 1965fe18a1cb5c71085ca83a90a159a8c990a03c --app com.facebook.IntegrationApp
[Appium] Welcome to Appium v1.6.3
[Appium] Non-default server args:
[Appium

[2017-03-27 12:36] neetesh000 opened #609 "Driver gets exit on other threads while changing the connection settings"
## Description

If the Appium script; that is running on multiple devices in parallel mode; encounters driver.setConnection(Connection.<<connectionType>>) instruction on one thread, the drivers on other threads gets stopped.

## Environment

* java client build version: 4.1.2
* Appium server version: 1.6.3
* Node.js version: v7.2.1
* Mobile platform/version under test: Nexus 5 (Android v: 6.0.1),

[2017-03-27 18:06] jaipaddy commented on #588
I tried BETA6 and this time it is a different exception -

`Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Throwables.throwIfUnchecked(Ljava/lang/Throwable;)V
	at io.appium.java_client.remote.AppiumCommandExecutor.execute(AppiumCommandExecutor.java:176)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:604)
	at io.appium.java_client.Default

[2017-03-27 18:08] SrinivasanTarget commented on #588
@jaipaddy Send me the detailed error logs of both server and client in form of gist. Also what version of server do you use? Code-snippet of what did you tried.

[2017-03-27 18:10] SrinivasanTarget commented on #588
@jaipaddy Also there is an issue on Selenium latest version, so can you try including java client like below,
[code]

[2017-03-27 18:31] jaipaddy commented on #588
@SrinivasanTarget I am using 1.6.4-beta, I have mentioned that in my first post above. With the pom changes you have mentioned, I get the same client side exception as mentioned eariler and the server has these-

`
The server is running
Start New SessionStop Server
[Appium] Welcome to Appium v1.6.4-beta
[Appium] Non-default server args:
[Appium]   address: 'localhost'
[Appium] Appium REST http int

[2017-03-28 04:26] Brian-Watson opened #610 "Explicit wait 'visibilityOfElementLocated' gets POSTed as a findElements() instead of findElement()"
## Description

Making an explicit wait call in my java automation using 'ExpectedConditions.visibilityOfElementLocated' gets POSTed as a findElements() call even though I'm only finding a single element.  I was expecting to see a findElement() POST instead.

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0-BETA6
* Appium server version or git revision if

[2017-03-28 17:42] SrinivasanTarget commented on #588
@jaipaddy Latest changes works perfectly fine for me. I wasn't able to replicate the issue. Can you send me the actual code snippet with all the desired caps you are trying. Also it would be good if you could send me the logs inform of [gist](https://gist.github.com/). would be great help if you could help me in replicating.

[2017-03-28 20:20] TikhomirovSergey commented on #588
@jaipaddy Have you tried to update testg?
I was trying to chech dependencies.
https://mvnrepository.com/artifact/org.testng/testng/6.8.7

[2017-03-29 16:34] Brian-Watson commented on #610
The biggest reason I am bringing this up for investigation is that it looks like calls to findElements() take longer to return on my pages then the same findElement() calls do for iOS.  Around 1.5 seconds average longer usually.

I'm also just assuming that it is the java-client that converts the wait/expected condition into the findElements() call?

[2017-03-29 16:56] jaipaddy commented on #588
@TikhomirovSergey Upgrade to testng 6.11 doesn't seem to help here. @SrinivasanTarget gist is here [https://gist.github.com/jaipaddy/323061a7875b1318376a2b3538077d2a](https://gist.github.com/jaipaddy/323061a7875b1318376a2b3538077d2a)

It throws during instantiating IOSDriver; however the app is launched on the iOS device.

[2017-04-04 08:51] asvdw opened #614 "AndroidDriver<T>.findElement always return AndroidElement ?"
## Description

I'm trying to extend MobileElement (up to now, AndroidElement, but IosElement is following...) to add custom functionalities. To achieve it, I'm using `AndroidDriver<MyCustomAndroidElement> driver`, hoping that `driver.findElement(...)` will return an instance of `MyCustomAndroidElement`. But I get always an `AndroidElement`:

pseudo-code
[code]
So:
* is it working as expected ?
*

[2017-04-04 09:34] mykola-mokhnach commented on #614
I'd rather extend **By** class. For example:

[code]

and then

[code]

[2017-04-04 09:45] mykola-mokhnach commented on #610
This is only the case for iOS, since xpath location is not natively supported there, which means the more elements are potentially matched by the request the longer time it requires to resolve them. For all the other cases there is almost no difference in performance.
Calling _findElements_ in selenium was aways a regular approach to quickly verify whether an element is present in DOM, since findE

[2017-04-04 09:47] mykola-mokhnach commented on #580
@TikhomirovSergey I think this one can be closed as java-driver unrelated issue

[2017-04-04 12:02] asvdw commented on #614
Mmm... looks interesting. Thank you a lot.

(Even if I can't undestand what is the purpose of `T` parameter in `AndroidElement<T>` if `findElement` doesn't return T.)

[2017-04-04 14:34] abourdon commented on #265
Hi guys, any news for this one?

[2017-04-04 20:56] TikhomirovSergey commented on #614
@asvdw @mykola-mokhnach

Yes. But generic parameter just bounds the returning type in client code.

I was thinking about the using of certain elements. However it would be good if we were automating only native apps. When there is browser/hyprib app it is more useful to use RemoteWebElement as the generic parameter. Also there are some server-side issues which make the strict binding inconsistent

[2017-04-05 10:53] yuzhidi opened #615 "./gradlew build and too many test are failed"
I'm a new one to java-client.
I clone repo and ./gradlew build

for compile pass I delete
- artifacts {
-    archives javadocJar, sourcesJar
-}
-
-signing {
-    sign configurations.archives
-}

-uploadArchives {
.....
-}

141 tests completed, 77 failed
:test FAILED

too many test are fail.
No build guide in this repo. Can any one give me some advice? Thanks.

[2017-04-05 19:55] TikhomirovSergey commented on #615
#325
#269

[2017-04-05 21:22] asvdw commented on #614
Waouw... Great! Thank you for your help, I won't have found that by myself...

[2017-04-05 21:40] Brian-Watson commented on #610
Hmmmm, interesting.  Thanks for the background.  So it seems like the following conditions do the same exact findElements() calls on the back-end...

ExpectedConditions.presenceOfElementLocated
ExpectedConditions.presenceOfAllElementsLocatedBy

Unfortunately, I'm seeing this same difference in time for findElement/findElements by AccessibilityId on iOS also...  Not just xpath.

[2017-04-05 21:49] mykola-mokhnach commented on #610
This can be if your locator matches multiple elements, however I'm not 100% sure how XCTest works under the hood.

[2017-04-06 12:39] vikramvi commented on #580
@triager  please close

[2017-04-06 12:57] vikramvi opened #616 "Android Chrome browser @AndroidFindBy(xpath="//a[contains(text(),'Continue using')]") not working"
![screen shot 2017-04-06 at 2 42 26 pm](https://cloud.githubusercontent.com/assets/308490/24756069/c20416de-1adc-11e7-8b8a-6b2faa032d26.png)
## Description

I've below locator

[code]

but from appium log, I could see finding by xpath call is not being made but instead

[code]

## Environment

* java client build version or git revision if you use some shapshot:  5.0.0-BETA6
* Appium server versio

[2017-04-06 13:05] mykola-mokhnach commented on #616
Change xpath to

[code]

[2017-04-06 13:21] vikramvi commented on #616
@mykola-mokhnach  this xpath does work with `arc`.
 I could find the element and click on it.

Only with java client it's not working. If you see appium logs, there is no xpath usage at all.
I'm not sure why `name` and `id` are used and no `xpath`

[2017-04-06 13:27] mykola-mokhnach commented on #616
this is expected if the current context is a webview or you want to say that the locator for webview is also applied to native context?

[2017-04-06 13:56] vikramvi commented on #616
My bad for Browser automation, I should use @FindBy and not @AndroidFindBy

Found my mistake through https://github.com/appium/java-client/issues/52#issuecomment-49777944 and https://github.com/appium/java-client/blob/master/docs/Page-objects.md

@triager  please close

[2017-04-06 14:55] vikramvi opened #617 "@WithTimeout wait for WebElement seems to be broken in with current version"
## Description

I've generic method for explicit wait as below

[code]

- If you refer to attached appium log, when outlook login screen changes pages, explicit wait is not working.
- I've tried setting WithTimeout for this element but it doesn't wait for 5 sec either.
- It's always waiting for 1 sec only, which is implicit wait and ignores both explicit wait and WithTimeout

@TikhomirovSergey can

[2017-04-08 23:24] #580 closed

[2017-04-11 09:23] HlebHalkouski commented on #478
@TikhomirovSergey how you look at idea add `Name` annotation like Yandex HtmlElements framework?

We need to change AppiumField decorator: update `defaultElementFieldDecorator` and `decorateWidget` method.
Add to interceptors constructors parameter `String name` and  in intercept `toString` replace `locator.toString` to `name`:
And add ElementUtil class with logic around `Name` annotation.

I can

[2017-04-11 15:50] alexander-poulikakos opened #618 "I cannot run same test on multiple devices at the same time"
## The problem

I want to run same test on multiple devices at the same time. When starting the test at the same time The test runs well on deviceX, but hangs for deviceY. It's hanging in this call: ` new IOSDriver<>(server.getUrl(), caps);` (see complete code below). When running the tests on one device at the time it works well.

I use two Appium Servers, one per device. It seems like when the f

[2017-04-12 12:38] VenkateshPS opened #619 "isDisplayed returns true even if Element is not visible on UI"
## Description
on Android
isDisplayed returns true even if Element is not visible on UI.

driver.findElementByName(XX).isDisplayed()
uiautomator also displays that element is present.

## Environment

Appium 1.4.13
javaclient 3.4.1

## Details

Please provide more details, if necessary.

[2017-04-12 13:13] KalveeduVijay opened #620 "Unable to start server using appium 1.6.3 for iOS while working good for Android"
## Description

* Attempting to start appium server programatically using AppiumDriverLocalService. As I encountered 'iDevice Installer issue' with earlier version (Appium 1.4.13), upgraded appium. Today, Appium GUI still reflects a version 1.5.3 (Ara), it means Appium 1.6.3 was installed via npm.

I even tried to install and uninstall XCUITestDriver and appium , but nothing helped . Below listed

[2017-04-12 14:26] mykola-mokhnach commented on #620
1. make sure you have R/W permissions in /usr/local:

[code]

2. Make sure you install Appium without sudo

[code]

3. Follow [real device setup tutorial](https://github.com/appium/appium-xcuitest-driver/blob/master/docs/real-device-config.md)

[2017-04-12 14:28] mykola-mokhnach commented on #620
4. (and the most important one) do not paste long listings into github issues. There are gists for such purpose

[2017-04-12 16:49] SrinivasanTarget commented on #619
@VenkateshPS We don't support old version of appium server and client any more. So i would suggest to use latest versions of server and client always. w.r.t visibility it's known issue at times under the hood android/iOS native frameworks appium uses gives it as true. so try to use the attribute visible in your locator strategy and find the element instead of isDisplayed()

[2017-04-12 16:49] #619 closed

[2017-04-14 08:43] KalveeduVijay commented on #620
@mykola-mokhnach  : I suppose my installation is successful.... Please find the errors.

1) Did this step to provide access.
sudo chown -R $USER /usr/local

Note: Since I saw this issue earlier, I manually gave 'write' access folder by pressing right click- getInfo from folder.

1) Typed 'appium --version'  in terminal.
-bash:appium command not found messages displayed.

Here I assume that appium

[2017-04-14 11:58] crazyk2 opened #621 "Can I change capability dynamically?"
I want to test toast message in my native app.
There is an info  In release notes.

I see [example](https://github.com/appium/java-client/blob/master/src/test/java/io/appium/java_client/android/UIAutomator2Test.java#L86)  how I should test toast

But when I set
`       capabilities.setCapability(MobileCapabilityType.AUTOMATION_NAME, AutomationName.ANDROID_UIAUTOMATOR2);
`
I broke my test. (Can't f

[2017-04-14 12:03] saikrishna321 commented on #621
@crazyk2 no you cant change the capability

[2017-04-14 12:06] crazyk2 commented on #621
Ok.
How should i test toast?
Do not suggest OCR ))

[2017-04-14 12:44] desided opened #622 "appium dont work from idea"
## Description

when try start project from idea - its not start, in console idea -
`Exception in thread "main" java.lang.NoClassDefFoundError: org/openqa/selenium/NoSuchSessionException
	at io.appium.java_client.AppiumDriver.<init>(AppiumDriver.java:111)
	at io.appium.java_client.android.AndroidDriver.<init>(AndroidDriver.java:73)
	at test.main(test.java:22)
Caused by: java.lang.ClassNotFoundExce

[2017-04-14 14:14] SrinivasanTarget commented on #622
@desided We use IntelliJ Ide for our java client dev.It works absolutely fine. Please share the gist in form of gist and open a new issue incase if you hit any issue in our latest version of java client. If you have any question on how appium works please raise it on our discuss forum not here.

[2017-04-14 14:14] #622 closed

[2017-04-14 14:19] SrinivasanTarget commented on #621
@crazyk2 If you wanna test toast messages, you have to use UIAutomator2 as automationName.It is not possible to test the same feature in legacy driver. If running your tests on UiAutomator2 breaks your tests there is no other go you have to fix it one day or other since legacy drivers will be deprecated sooner or later.

[2017-04-14 14:19] #621 closed

[2017-04-15 14:06] vVv-AA opened #623 "Groovy PageFactory"
I know that Groovy exactly isn't supported by Appium by since it also runs on JVM I guess this might be solvable.
## Description

PageFactory.initElements causes problems with when used in groovy except for 2 cases:

public static void initElements(WebDriver driver, Object page)
public static <T> T initElements(WebDriver driver, Class<T> pageClassToProxy)

that too only if you use @FindBy annotati

[2017-04-17 07:34] KalveeduVijay commented on #620
@mykola-mokhnach  Sorry , typing mistake. Above installation is unsuccessful. Currently I have downloaded , appium-desktop-1.0.0.dmg.. Can we start appium server programatically using appiumLocalService? if not, can you guide me with documentation to learn more about it..

[2017-04-17 07:46] mykola-mokhnach commented on #620
https://github.com/appium/java-client/blob/000964148ddf5cd55f28a13497ab92d6264a2489/archive/docs/The-starting-of-an-app-using-Appium-node-server-started-programmatically.md

[2017-04-17 09:21] alexander-poulikakos commented on #618
Since no response, I assume you don't think this is caused by a problem in the java_client. I have moved this issue to appium/appium#8265

[2017-04-17 11:37] SrinivasanTarget commented on #618
It has nothing to do with Appium server or client. please explore frameworks like https://github.com/saikrishna321/AppiumTestDistribution

[2017-04-17 11:37] #618 closed

[2017-04-17 14:51] HlebHalkouski opened #625 "Add possibility to check condition of widget and widget elements if widget not present on screen."
## Description

In the current implementation when we invoke any method of widget or widget elements, if widget not present on screen, throws NoSuchElementsException.

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0-BETA7

## Details

Example: we have class:

[code]

If we try invoke method `isDisplayed` in `MobileBlock` class when widget is not present

[2017-04-17 15:22] mykola-mokhnach commented on #625
The [similar](https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/1880) issue has already been closed as By Design in original Selenium project. Why should Appium change this behaviour?

[2017-04-18 15:01] ryanlevell opened #627 "SessionNotCreatedException Using Selenium 3.3.1 and Appium 1.6.4"
## Description

I am trying to run Android and iOS tests on Sauce Labs. I am getting the error ```SessionNotCreatedException: Unable to create new remote session```. I talked to Sauce Labs support and they said the capabilities are being parsed incorrectly and linked me to [Appium #7786](https://github.com/appium/appium/issues/7786). This issue was closed but someone mentioned to create an issue i

[2017-04-18 17:47] SrinivasanTarget commented on #627
@ryanlevell Can you use latest java client without excluding or downgrading selenium? It should work.

[2017-04-18 19:38] ryanlevell commented on #627
I don't use the client at all. It is on Sauce Lab's end. I am not running the Appium server myself. Are you saying I should check with Sauce Lab's to see what java client version they are running?

[2017-04-18 19:51] Brian-Watson commented on #627
In my java gradle project, I only specify java-client, and it will pull in the latest version of selenium that it needs and is compatible with.  I do this in build.gradle...

`    compile 'io.appium:java-client:5.0.0-BETA7'
`

[2017-04-18 19:57] ryanlevell commented on #627
I was using 1.4.2, but didn't realize it was using Selenium 2.53.1. So this could definitely be the problem as I was using 3.3.1. Sauce Labs is having some technical difficulties, but once it is back up, I will give it a try with 5.0.0-BETA7 as it is updated to 3.3.1.

[2017-04-19 18:44] aaronmagi commented on #588
We are also running into this with
Appium java client 5.0.0-BETA7
selenium-server 3.3.1
selenium-remote-driver 3.3.1
selenium-android-driver 2.39
Appium 1.6.4
TestNG 6.10

[2017-04-19 18:47] mykola-mokhnach commented on #588
Try to update google guava in your pom.xml:

[code]

[2017-04-19 20:29] ryanlevell commented on #627
Appium 5.0.0-BETA7 + Selenium 3.3.1 works correctly. I assumed the latest release version (4.1.2) already supported Selenium 3, but it does not. Thanks for the help.

[2017-04-19 20:29] #627 closed

[2017-04-20 13:39] HlebHalkouski commented on #625
@mykola-mokhnach Thank you for information. I agree with you.

[2017-04-20 13:39] #625 closed

[2017-04-20 14:20] HlebHalkouski opened #628 "Open API for some pagefactory classes"
## Description

Made some classes public:
- `WidgetByBuilder.class`,
- `DefaultElementByBuilder.class`,
- `AppiumElementLocatorFactory.class`.

If this classes made public, we adding opportunity to use `AppiumElementLocatorFactory` with custom decorators.

As a result, in order to accelerate develop and make UI testing more stable.

[2017-04-20 17:27] mykola-mokhnach commented on #628
You could create a PR instead ;)

[2017-04-24 11:53] PrabhatPandey commented on #419
Apparently in java-client-beta6 This bottom to top swipe issue is resolved. I am using 1.6.3 Appium , Xcode is 8.

Putting the same code which work in iPhone-5s-10.2

public static void SwitchWifiBar(AppiumDriver driver) {
        final int height = driver.findElementByClassName("UIAWindow").getSize().getHeight();
        final int width = driver.findElementByClassName("UIAWindow").getSize().getWi

[2017-04-24 13:33] appiumnovice commented on #622
Hi,
I have the same problem with Appium Java client 5.0.0-BETA6 and BETA7.
The tests are successfully passed with Appium Java client 4.1.2.

Appium release : 1.6.3

Server side error : no trace.

Client side error:
java.lang.NoClassDefFoundError: org/openqa/selenium/NoSuchSessionException
	at io.appium.java_client.AppiumDriver.<init>(AppiumDriver.java:111)
	at io.appium.java_client.android.Android

[2017-04-25 08:20] KalveeduVijay opened #631 "Bad Parameters: BETA 6: Unable to start Appium 1.6.4 using java program for android and iOS. It is working good when started appium via terminal."
## Description

Unable to start Appium 1.6.4 using java program for android and iOS. It is working good when started Appium via terminal.

## Environment

Android: 6.0.1
Appium 1.6.4 installed via terminal.
I also have Appium desktop Version 1.0.0 (1.0.0)
ios : 10.12.4
Java 8
Xcode: 8.3.1
Platform: Android and iOS
UI Automation: not used.
java-client-5.0.0-BETA6.jar (Tried Beta 7 and Java Client 4

[2017-04-25 16:23] SrinivasanTarget commented on #631
Can you please install java 8 and set JAVA_HOME env variable properly before giving it a shot?  Remove unnecessary capabilities and use WebDriver instead of Remote WebDriver. Share your pom.xml with us here.

[2017-04-26 00:26] KalveeduVijay commented on #631
I have JAVA * with JAVA_HOME enabled. Results are below.

[2017-04-26 00:36] KalveeduVijay commented on #631
Recent Update:

After installing selenium-standalone-3.4.0 , it is not throwing any error. However issue is occuring at this line.

			RemoteWebDriver driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"), constants.androidCapability);

I also tried.

	RemoteWebDriver driver = new RemoteWebDriver(new URL("http://127.0.0.1:4723/wd/hub"), constants.androidCapability);

AndroidDriver dri

[2017-04-26 08:30] KalveeduVijay commented on #631
This is the Error:
Exception in thread "main" java.lang.NoSuchFieldError: INSTANCE
	at org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactory.java:146)
	at org.openqa.selenium.remote.internal.HttpClientFactory.getClientConnectionManager(HttpClientFactory.java:71)
	at org.openqa.selenium.remote.internal.HttpClientFactory.<init>(HttpClientFactory.java:57)
	at org.ope

[2017-04-26 11:01] KalveeduVijay commented on #631
Latest Logs:-

[Appium] Welcome to Appium v1.6.4
[Appium] Non-default server args:
[Appium]   address: 127.0.0.1
[Appium]   port: 36635
[Appium]   log: /Users/v4/Documents/Atoms/Report/mobileAutomationMac.log
[Appium] Appium REST http interface listener started on 127.0.0.1:36635
[HTTP] --> GET /wd/hub/status {}
[debug] [MJSONWP] Calling AppiumDriver.getStatus() with args: []
[debug] [MJSONWP] Res

[2017-04-27 07:00] #628 closed

[2017-04-27 16:01] Zenerax opened #633 "Adding uiautomator2 capability results in session creataion error and appium log shows JAVA_HOME not set even though it is already set."
## Description

Adding "uiautomator2" capability to create a new AndroidDriver fails with SessionNotCreatedException while targeting test automation to Android 7.0 devices.
All the dependencies are updated with the latest builds as stated in the Environment section below.

## Environment

java client build version or git revision if you use some shapshot: 5.0.0-BETA7
Appium server version or git r

[2017-04-28 04:49] KalveeduVijay commented on #631
@SrinivasanTarget  .. eagerly waiting for your help !

[2017-04-28 23:52] coolzire opened #634 "Appium driver hang on no capability"
## Description

Hi ,

I am using Appium with selenium Grid to do some CI on an app on android and iOS. I am using a mvn project with testng to generate my clients. I had to work from home lately and I noticed a problem:
I don't have a mac at home so i did not start a node for ios device. When i tried to run my suite i ended up in limbo. After a few tests I get this result:

No node on grid :
All t

[2017-05-03 15:49] eearif opened #635 "io.appium.java_client.service.local.InvalidServerInstanceException:"
## Description
io.appium.java_client.service.local.InvalidServerInstanceException:
 Invalid server instance exception has occured:

after install the appium using the npm install -g appium@1.6

## Environment

* java client build version appium
* Appium server version -1.6.4
* Desktop OS/version used to run Appium if necessary:
* Node.js version 6.7
* Mobile platform/version under test: android
*

[2017-05-03 20:14] anand853 commented on #298
@saikrishna321 , did you get any update on this thread ?
looks like the feature is not available for Android

[2017-05-04 03:01] JF-Rabbit opened #636 "TouchAction moveTo(int, int) function doesn't work on IOS device"
## Description

TouchAction, moveTo(int int) function doesn't work.

## Environment

* java client build version or git revision if you use some shapshot: java-client-5.0.0-BETA6.jar
* Appium server version or git revision if you use some shapshot: appium 1.6.4
* Desktop OS/version used to run Appium if necessary: Desktop 1.0.0
* Node.js version (unless using Appium.app|exe) or Appium CLI or Appiu

[2017-05-04 03:53] #636 closed

[2017-05-04 03:54] JF-Rabbit commented on #636
wrong understand of moveTo function, it should use xOffset and yOffset

[2017-05-04 12:48] priyankshah217 commented on #631
@KalveeduVijay

statement itself sufficent. can u please invoke appium doctor and check everything works well.

[2017-05-04 14:20] KalveeduVijay commented on #631
@priyankshah217  .. Hi , Statements pasted below prove a point  that java_home is set properly.  I am confused at this point as it is working good if I start the appiumV1.6.4  through GUI while not through program.

am I referring to any incorrect node.js file? .. how can I ensure that I'm referring to node.js and appium.js of v1.6.4

V4s-MBP-3:~ v4$ which java
/Library/Java/JavaVirtualMachines/jd

[2017-05-04 21:54] alexander-poulikakos commented on #631
When running from an IDE the runtime environment might look different compared with environment in a  terminal.
Can you run this Java code and report what the output is?

[code]

[2017-05-08 07:59] prudhvialahari opened #637 "Windows Phone Automation"
Hi,
I'm trying to automate windows phone using Appium. I'm using WindowsDriver from java_client.
Appium  V1.6.4
Java V1.8
Selenium V2.53.1
Java-client V5.0.0 B8

Can you please provide a sample test case which would initialize the WindowsDriver and install an app(.xap) onto the windows phone device.

[2017-05-08 09:20] KalveeduVijay commented on #631
Hi, Thank you so much for guidance. I'll post the result asap.

[2017-05-09 07:20] KalveeduVijay commented on #631
@alexander-poulikakos

Result:

PATH=/usr/local/bin:/bin:/usr/local/Cellar:/usr/local/Cellar/libimobiledevice/HEAD-45fda81/bin
JAVA_STARTED_ON_FIRST_THREAD_546=1
SHELL=/bin/bash
TERM_PROGRAM=Apple_Terminal
APP_ICON_546=../Resources/Eclipse.icns
JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home
TERM=xterm-256color
USER=v4
TMPDIR=/var/folders/gx/mhyf28l12s15xb_z08t3k4_80000g

[2017-05-09 07:29] alexander-poulikakos commented on #631
How did you start Eclipse? The behavior how environment variables are loaded in Eclipse depends how it is started. See more here https://bugs.eclipse.org/bugs/show_bug.cgi?id=490816

[2017-05-09 12:15] appiumnovice opened #638 "deviceScreenSize=null with Android device 4.1.2"
## Description

When a test is run, Appium installs android app with success and fails immediately after.
Client side error: java.lang.NullPointerException: null value in entry: deviceScreenSize=null
Only (for the moment) with a device Samsung Google with Android 4.1.2.

## Environment

* java client build version : 5.0.0-BETA8
* Appium server version : 1.6.5-beta / Appium CLI
* Desktop OS/version

[2017-05-09 13:59] canbey commented on #631
try remove UIAUTOMATOR2 from capabilities .

[2017-05-09 19:00] eliasnogueira opened #639 "AUTO_GRANT_PERMISSIONS not working"
## Description

Test script is not able to auto grant android permission when I click in a button that request runtime access to any Android resources.

## Environment

* java client version: 5.0.0-BETA8
* Appium server version: 1.6.5-beta
* Desktop OS/version: MacOSX 10.12.4
* Node.js version: 6.10.2
* Mobile platform/version under test: Android 6.0 and 7.0
* Real device or emulator/simulator: Mo

[2017-05-09 22:10] eliasnogueira commented on #639
Guys, I have a clue in how to solve this...

I've searched for any item that I could see in the repository to change and test, but I failed...
I found a method in **appium-android-driver** called `grantAllPermissions`, but I don't know where it's located.

To solve the problem manually I did:

- get the list of permissions on the app
`adb shell dumpsys package package_name | grep permission`
- gra

[2017-05-10 04:05] SrinivasanTarget commented on #639
@sravanmedarapu ping

[2017-05-10 04:18] TomHappy opened #640 "new AndroidDriver Failed at java-client 5.0.0-BETA8"
## Description

I upgrade java-client from version 4.1.2 to 5.0.0-BETA8, and got an error when new a AndroidDriver,it works good at java client 4.1.2 :

## Environment

* java client build version or git revision if you use some shapshot:5.0.0-BETA8
* Appium server version or git revision if you use some shapshot:1.6.4,install by "npm install -g appium"
* Desktop OS/version used to run Appium if n

[2017-05-10 04:31] SrinivasanTarget commented on #639
@eliasnogueira Please try UIAutomator2 mode

[2017-05-10 08:13] aldonin commented on #478
@HlebHalkouski hi, any progress? If you need, I have working example, but for 1.4 fork. We use it for our project

[2017-05-10 12:07] eliasnogueira commented on #639
Hello @SrinivasanTarget
I got the same error.
Follow the appium server log: https://gist.github.com/eliasnogueira/b93f3bfacb711423bf680efb8e9a9b3e

[2017-05-10 12:32] sravanmedarapu commented on #639
@eliasnogueira, Can you please share the result of below command
`adb shell pm dump com.example.android.system.runtimepermissions`

[2017-05-10 13:17] eliasnogueira commented on #639
Here: https://gist.github.com/eliasnogueira/c158dcf4cc8fbf7b6d912d873d63e2e8

There're three permissions request (CAMERA, READ_CONTACTS and WRITE_CONTACTS)

[2017-05-10 13:24] eliasnogueira commented on #640
I've seem this on Selenium where I use another libs with guava as dependency.
Try to remove guava dependency from Appium (or another lib like log4j) and add the last guava version...

[code]

[2017-05-10 15:38] SrinivasanTarget commented on #640
Selenium will be updating their dependencies sooner during their migration to new APIs.

[2017-05-11 01:44] TomHappy commented on #640
Thanks @eliasnogueira and @SrinivasanTarget ,i add the new guava dependency,it works good，i close the issues

[2017-05-11 01:54] ansonliao commented on #478
thanks all, I also use `Yandex HtmlElements framework` in my Selenium test, for Appium, I tried to extend MobileElement and finally found that many classes are private in `Java-Client`, it is hard to extend from `Java-Client`.

@HlebHalkouski @aldonin hope can hear the good news from you soon.

[2017-05-11 08:42] yodaqua commented on #592
Instead of com.google.guava.guava I'm using com.google.inject.juice 3.0 with selenium-java 3.4.0. My maven project builds with no problem. However if I use com.google.inject.juice 4.x then I encounter the same issues described above.

[2017-05-11 11:56] Hyphen31 opened #641 "WindowsFindBy annotation missing 'name' option"
## Description

The WindowsFindBy annotation defined as an interface in [src/main/java/io/appium/java_client/pagefactory/WindowsFindBy.java](https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/pagefactory/WindowsFindBy.java) does not contain a 'name' method .

This prevents using the WindowsFindBy annotation to identify Windows elements by their 'name' attribute i

[2017-05-11 18:57] ttisdon commented on #564
I tried this recently with:
Android Studio 2.2
Java Client 5.0.0-BETA8
Selenium 3.4.0
UiAutomator 2

The issue is still happening. I tried to input the text FIRSTNAME WITH LOTS OF SPACES in an edit text field and this is what the logs say:

https://gist.github.com/ttisdon/6830d4af1d3062b1c7033671606b0a35

The last line says:
`[debug] [ADB] Running '/Users/trumaine.tisdon/Library/Android/sdk/platfo

[2017-05-11 20:21] mykola-mokhnach commented on #564
This is issue has recently been fixed in Appium 1.6.5-beta

[2017-05-12 10:37] KalveeduVijay commented on #631
hi.... @alexander-poulikakos

Somehow java error disappeared.

[Appium] Welcome to Appium v1.6.4
[Appium] Non-default server args:
[Appium]   log: /Users/VX/Documents/Atoms/Report/mobileAutomationMac.log
[Appium] Appium REST http interface listener started on 0.0.0.0:4723
[HTTP] --> GET /wd/hub/status {}
[debug] [MJSONWP] Calling AppiumDriver.getStatus() with args: []
[debug] [MJSONWP] Responding

[2017-05-12 12:47] appiumnovice commented on #633
Have the same problem with emulator Android Studio 7.0.
Appium CLI 1.6.5-beta
Appium Java Client 5.0.0-BETA8
Mac OSX 10.12.4

[2017-05-12 19:40] HlebHalkouski commented on #478
@ansonliao @aldonin  I found good solution. This [merge](https://github.com/appium/java-client/pull/630) make locator factory classes public and I use annotation from java-client with my custom decorator. My decorator is hybrid of `Yandex HtmlElements` decorator with locator factory from java-client.

`
        elementLocatorFactory = new AppiumElementLocatorFactory(context, timeOutDuration, origi

[2017-05-12 23:34] aldonin commented on #478
@HlebHalkouski Do you plan any pull request to java-client? It would be great. Thanks in advance

[2017-05-13 00:00] HlebHalkouski commented on #478
@aldonin no, no pull request. Because I created [issue](https://github.com/appium/java-client/issues/625) and Mykola explained me why appium java-client don't need updates.
You can contact me by Skype and I will show you me inmplementation.

[2017-05-16 22:01] alexander-poulikakos commented on #631
Did you start your IDE from the command line? If so, that should explain it.

[2017-05-16 23:09] aaronmagi commented on #633
We also have the same issue happening and are wondering if there is any resolution or steps to try to resolve this?

[2017-05-16 23:37] Brian-Watson commented on #633
Where is your appium **server** log output?
Where are the rest of your set capabilities?
Who are you starting appium with?  The same user that ran 'appium-doctor' ?

[2017-05-17 13:46] saikrishna321 opened #642 "ASK: Client to accept capabilities as json"
Current, we need to explicitly provide the DesiredCaps, but server accepts the caps store in json format and will consider to start as per the values.

@TikhomirovSergey @SrinivasanTarget

[2017-05-17 16:33] Zenerax commented on #633
[appiumError-0.txt](https://github.com/appium/java-client/files/1008423/appiumError-0.txt)
[appium-0.txt](https://github.com/appium/java-client/files/1008434/appium-0.txt)

I attached appiumError and appium log files.

Capabilities are set as shown below:
2017-05-17 15:41:39:717 - info: [Appium] Capabilities:
2017-05-17 15:41:39:718 - info: [Appium]   appPackage: 'com.yahoo.mobile.client.android.m

[2017-05-17 16:48] Zenerax commented on #633
If I do not add automationName: 'uiautomator2' then the session is created and all good except the test automation cannot locate some MobileElements on Android 7.0+ devices by all means which fails the tests I am working on.  So I am stuck without solution at this point.

[2017-05-17 17:28] Zenerax commented on #633
From the attached log, the specific area showing the problems:

`2017-05-17 15:41:44:567 - error: [MJSONWP] Encountered internal error running command: Error: JAVA_HOME is not set currently. Please set JAVA_HOME.
    at getJavaHome (../../lib/helpers.js:106:9)
    at getJavaForOs (../../lib/helpers.js:95:17)
    at ADB.callee$0$0$ (../../../lib/tools/apk-signing.js:76:16)
    at tryCatch (/usr/lib

[2017-05-19 10:39] dr12782 opened #643 "setValue() does not clear value"
## Description

I need to clear a text field that might contain some text. Prior to Appium 1.6.4, I remember setValue used to clear the text and paste the new text. However, now, it appends the new value to the existing value. As a workaround, I am explicitly calling clear() before calling setValue().

## Environment

* Appium java client build version: 5.0.0-beta8
* Appium server version: 1.6.4
*

[2017-05-19 11:43] dpa99c commented on #631
I encountered a similar issue and removing the capability `autoWebview":true` fixed it for me.

Also see: https://discuss.appium.io/t/facing-expection-with-uiautomator2/13987/4

[2017-05-19 12:47] KalveeduVijay commented on #631
@dpa99c  I will try this and get back to you within on next working day(Monday : IST). Thank you so much for feedback.

[2017-05-19 12:48] KalveeduVijay commented on #631
@alexander-poulikakos  It is started in same way since the beginning ..

[2017-05-19 13:50] Rekubot opened #644 "ClassCastException when calling getText on iOS button element"
## Description

Only happens on one button in the app that I've found, but it's a regular UIButton located via accessibility ID. When I call getText on it I get a ClassCastException.

## Environment

* java client build version: 5.0.0-BETA8
* Appium server version: v1.6.5-beta
* Node.js version (unless using Appium.app|exe) or Appium CLI or Appium.app|exe: 7.10.0
* Mobile platform/version under te

[2017-05-19 14:04] mykola-mokhnach commented on #644
It's a bug in the server code. I'll try to fix it

[2017-05-19 14:08] mykola-mokhnach commented on #644
This is how WDA detects button text:

[code]

means it will return the value of isSelected property if the value property itself is not set
Probably, better way to workaround this would be to just invoke

[code]

[2017-05-19 16:09] #644 closed

[2017-05-19 16:18] Rekubot opened #645 "Failure to click a button when calling getElement multiple times"
## Description

I have a collection of tests that locate the same button via accessibility ID, a couple of which attempt to click it. Running the tests in isolation work fine, but when run in sequence I get an error when calling the click method. I imagine I can work around it but wanted to raise the issue anyway.

## Environment

* java client build version : 5.0.0-BETA8
* Appium server version:

[2017-05-22 10:13] KalveeduVijay commented on #631
With machine being upgraded to 10.12.4 Mac OS Seirra, my eclipse did not work. Hence I launch eclipse by moving to ‘PackgeContent-> macOS-> click on executableFile’.

I’m noticing error

_____________________

"[debug] [AndroidDriver] Called deleteSession but bootstrap wasn't active

[MJSONWP] Encountered internal error running command: Error: Command 'java' not found. Is it installed?” for Androi

[2017-05-23 09:07] tranus opened #647 "Failed to locate element using xPath"
## Description

Hello,
I cannot locate xPath with my appium.
Actually, it's a very simple xPath
WebElement element = driver.findElementByXPath("//*[text()='CDG']");
With perfecto mobile I've ensured "//*[text()='CDG']" was the right xPath with its inspector.
I've chosen the same mobile as mine in Perfecto Mobile.
With Appium, I can use driver.findElement, no problem with that
On the other hand, I

[2017-05-23 09:36] mykola-mokhnach commented on #647
try

[code]

or

[code]

[2017-05-24 02:26] tranus commented on #647
Thanks mykola-mokhnach,  I appreciate your help.
I tried both but it still throws an error.
I think it's something like plugin or jre or selenium version...  As you see, that is a very simple xPath... I've checked this xPath already with Perfecto Mobile's inspector.

[2017-05-24 06:19] mykola-mokhnach commented on #647
Can you show the output of getPageSource method then?

[2017-05-24 09:06] VenkateshPS opened #648 "Java client 5.0.0-BETA8, throws java.lang.NoClassDefFoundError: org/openqa/selenium/, with selenium java 2.47.0"
## Description

Java client 5.0.0-BETA8, throws below error with dependency, works fine with selenium-java 3.4.0
<dependency>
			<groupId>org.seleniumhq.selenium</groupId>
			<artifactId>selenium-java</artifactId>
			<version>2.47.0</version>
		</dependency>

  **java.lang.NoClassDefFoundError: org/openqa/selenium/
NoSuchSessionException
	at io.appium.java_client.AppiumDriver.<init>(AppiumDriver.j

[2017-05-24 09:08] mykola-mokhnach commented on #648
I don'r think this is a bug - newer Appium driver versions are not obliged to support old selenium stuff. You can try to downgrade java client if the old lib is really needed.

[2017-05-24 10:11] #645 closed

[2017-05-24 13:03] VenkateshPS commented on #648
Agree, but would be good if it throws some meaningful exception, like upgrade your Selenium server version.

[2017-05-24 15:18] SrinivasanTarget commented on #648
Between why do we need to use Selenium dependency(older version) along with java client dependency when it comes with its latest selenium dependency already. Java-client is not backward compatible with selenium. Though meaningful error makes sense.

[2017-05-24 15:18] #648 closed

[2017-05-24 15:24] SrinivasanTarget commented on #638
I wonder do we really have any such capability called ```deviceScreenSize``` ?
https://gist.github.com/appiumnovice/83e5140cd3850aa42b40d60a9a92493d#file-appium-log-L26

[2017-05-24 15:27] SrinivasanTarget commented on #635
It is something to do with your node module/ appium path.

[2017-05-24 15:30] appiumnovice commented on #638
You're probably right.
It was a try. With or without this fake capability, result is identical.

[2017-05-24 15:52] SrinivasanTarget commented on #638
Can you give a try with UIAutomator2 as automationName?

[2017-05-24 16:00] pr4bh4sh commented on #638
As per this http://appium.io/getting-started.html android 4.1.2(is < API 17) should not work with appium unless you try with Selendroid mode.

@SrinivasanTarget
I'm not sure, does UIAutomator2 support 4.1.2?

[2017-05-24 16:04] mykola-mokhnach commented on #638
Unfortunately UIA2 only supports 5.0+

[2017-05-24 16:12] SrinivasanTarget commented on #638
@appiumnovice Can you share your pom.xml?

[2017-05-24 16:17] appiumnovice commented on #638
Yes, here is the pom.xml file:
https://gist.github.com/appiumnovice/83e5140cd3850aa42b40d60a9a92493d#file-pom-xml

[2017-05-24 16:22] SrinivasanTarget commented on #638
Ah xml looks good.

[2017-05-24 17:00] saikrishna321 commented on #638
@appiumnovice do you get this when u get the sessionDetails ?

[2017-05-24 17:22] ddecker-uptake commented on #633
I was having the same issue, but I did indeed not have JAVA_HOME set correctly for the user starting appium. It was pointing to the wrong directory. I updated my .bash_profile with the following and that resolved my issue
**export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_131.jdk/Contents/Home**

[2017-05-25 05:33] SrinivasanTarget commented on #638
Looks like server throws this when we are trying to get the session details to determine the platform

[2017-05-25 05:50] saikrishna321 commented on #150
@SrinivasanTarget close this... Inactive thread

[2017-05-25 06:13] #150 closed

[2017-05-25 10:26] mukund-billa commented on #265
Hi,

Do we have any updates on the same, i am also facing the same issue during my test. Any workaround is appreciated.

[2017-05-25 14:56] jcordero-git commented on #638
Hi everyone, I have the same issue using android 4.2.2, appium 1.6.4, do have anyone idea how to fix it. ;)?

[2017-05-26 08:50] appiumnovice commented on #638
OK, I tried to change to "UIAutomator2" and this corrected this problem of deviceScreenSize.
Now, I have another problem with the installation of UIAutomator2 on device.

Appium log:
[debug] [ADB] Running '/Users/tester/Library/android/sdk/platform-tools/adb' with args: ["-P",5037,"-s","34337C97D19100EC","install","-r","/usr/local/lib/node_modules/appium/node_modules/appium-uiautomator2-driver/uia

[2017-05-26 08:53] SrinivasanTarget commented on #638
Yes as said above in comments UIAutomator2 wont work with lower versions.

[2017-05-26 09:05] appiumnovice commented on #638
So, there is no possibilities to run a test on Android 4.x devices with Appium ?

[2017-05-26 11:22] SrinivasanTarget commented on #638
@sravanmedarapu ping

Don't have any real device to test it. Will test it from my side soon.

[2017-05-26 12:53] appiumnovice commented on #638
However, I tried with a Samsung Galaxy 4 mini device (Android 4.2.2) and the app was installed with success.
This is selective.

[2017-05-26 12:59] SrinivasanTarget commented on #638
Even i couldn't be able to reproduce it :(

[2017-05-26 13:24] appiumnovice commented on #638
OK. Thanks for your help, the problem of "deviceScreenSize" is resolved for me.
I think you can close this issue.
I'll open a new issue if necessary to process the error "INSTALL_FAILED_OLDER_SDK".

[2017-05-26 17:04] suganeby commented on #52
@iOSFindBy(name = "XXXX") not working in the java-client version > 4.1.0. Getting below error,

'name'is not part of the annotation io.appium.java_client.pagefactory.iOSFindBy

[2017-05-29 06:19] #638 closed

[2017-05-30 01:52] kush20 opened #649 "Bad parameters: BadParametersError: Parameters were incorrect. We wanted {"required":["desiredCapabilities"],"optional":["requiredCapabilities","capabilities","sessionId","id"]} and you sent ["capabilities"]"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

* java client build version or git revision if you use some shapsho

[2017-05-30 01:55] #649 closed

[2017-05-30 01:55] kush20 commented on #649
Raised By mistake.

[2017-05-30 18:34] surikiran commented on #499
@SrinivasanTarget I am trying to follow your code but unable to understand " .withArgument(GeneralServerFlag.APP,  path of your app );" do U mean Appium app of Android/iOS app which we use for testing besides how can we do parallel execution here as I am trying to start server with the below code
		AppiumServiceBuilder builder = new AppiumServiceBuilder ( )
 .usingDriverExecutable ( new File (
 Pa

[2017-05-30 18:53] Henkoglobin commented on #52
@suganeby the 'name' locator strategy has been removed a year ago: https://github.com/appium/java-client/commit/75433564033cb55bde74595beb3dcf08a9fb9c24

I can't, however, find any rationale for this. It'd be nice to know why the strategy has been removed.

[2017-05-30 19:06] SrinivasanTarget commented on #499
@surikiran please visit https://github.com/saikrishna321/AppiumTestDistribution for parallel execution.

[2017-05-30 19:15] TikhomirovSergey commented on #565
The fix was merged at #646. It is going to be available soon.

[2017-05-30 19:15] #565 closed

[2017-05-31 00:26] suganeby commented on #52
@Henkoglobin
I am still using java client version 3.4.1. I am mostly using name locator in my testcases. Class names are not unique. Elements in the table cells are not accessible even with the accessibility id. name locator was very helpful.

[2017-05-31 11:53] aaronbriel commented on #499
If anybody runs into this issue but is looking for a simple module to resolve it, I've created one called  [appium-controller](https://www.npmjs.com/package/appium-controller) that starts and stops appium in the background programmatically (mac or windows).

[2017-05-31 15:03] appiumnovice opened #650 "Impossible to run test on Android 7.x device"
## Description

When I try to install app on device, the ADB error "must be root" appears.
According to Appium support (https://github.com/appium/appium/issues/8327), "Real devices above API level 23 do not allow adbd to be run as root".
To bypass that error, I just have not to set these two capabilities : 'locale' and 'language'.

Without these capabilities, I can installed app correctly.
But, at

[2017-05-31 16:21] SrinivasanTarget commented on #650
Can you share the logs in form of gist for further investigation? AFIK, we didn't restrict anything from client. Will test in real device tomorrow. Btw update the logs here in form of gist.

[2017-06-01 07:01] poorvikamahesh commented on #633
I have the same issue.
When I added uiautomator2 to my capability and launched on Android 7.X, it worked
But, when I tried the same with Android 6.0.1 device, and I got the below error.
`
Encountered internal error running command: Error: JAVA_HOME is not set currently. Please set JAVA_HOME.
`
My JAVA_HOME is set in the bash profile correctely

Please help

[2017-06-01 10:31] Nishanthshettar opened #651 "Not able to detect className locator in appium 1.6.5"
className strategy is used to locate an element, but with latest upgrade am not able to locate that element.

## Environment
*name: 'java-client' ,version: '3.0.0' is used in the framework.
*Appium 1.6.5
*Mac O.S 10.11.6
* xcode 8.2.1
* iOS 10.2
* , iPad Air 2 Simulator

## Details

I put that className in a list and try to access by ther indexes, but in runTime am not able to detect the className

[2017-06-01 10:45] prashant-ramcharan commented on #633
You need to set JAVA_HOME as an environment variable in the IDE.

Example:
In IntelliJ: Go to -> **Edit Configurations** (for the test) -> **Environment Variables** -> Add

JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home

[2017-06-01 13:30] appiumnovice commented on #650
I can reproduce this behavior with Android Studio Emulator 7.0 (x86) + Play:

**1. I run test without capabilites language and locale**

The app is correctly installed
Immediately after this installation, the test stops with a client side error "java.lang.NullPointerException: null value in entry: language=null"

**Server log**
https://gist.github.com/appiumnovice/88b635a791c65787eb42e82599fffcd3#

[2017-06-01 13:57] SrinivasanTarget commented on #650
Ok i see Appium Server doesn't return the ```platformName``` or doesn't hold ```platformName``` in session so client was not able to determine the platform. Just before you got the error can you debug and check the session details.

Client doesn't set any capability as mandatory or optional.

[2017-06-01 13:59] appiumnovice commented on #650
OK. How to watch session details ?

[2017-06-01 14:10] SrinivasanTarget commented on #650
https://github.com/appium/appium/issues/7730

[2017-06-01 14:13] appiumnovice commented on #650
Calling AppiumDriver.getSession() with args: ["ace26b64-a7f1-48f9-bb51-5586b66182a5"]
[debug] [MJSONWP] Responding to client with driver.getSession() result: {"platform":"ANDROID","webStorageEnabled":false,"takesScreenshot":true,"javascriptEnabled":true,"databaseEnabled":false,"networkConnectionEnabled":true,"locationContextEnabled":false,"warnings":{},"desired":{"appPackage":"com.sncf.fusion","ap

[2017-06-01 14:17] appiumnovice commented on #650
I can't have a result for getSessionDetails() because the test crash just during installation of app.

[2017-06-01 14:20] SrinivasanTarget commented on #650
I see ```platformName``` caps is available above. Will debug and update you.

[2017-06-01 14:24] appiumnovice commented on #650
Thx :)

[2017-06-01 14:58] SrinivasanTarget commented on #650
@appiumnovice Dude, why do you set language and locale as null? https://gist.github.com/appiumnovice/88b635a791c65787eb42e82599fffcd3#file-1a-server-log-without-capabilities-L31-L32

Remove those and give a try, it will work.

[2017-06-01 16:04] appiumnovice commented on #650
Haaaaaaarrrggg!
You're right! It works perfectly now!
I pass capabilities as external arguments to my test.
When I don't want to use them, I just remove them, but there are effectively set to null inside the test !!!
With a previous version of Appium, this behavior didn't matter. And it doesn't matter with the Android 7 Emulator and Appium 1.6.5.
But with the new Android 7 emulator containing Play

[2017-06-01 16:31] #650 closed

[2017-06-02 14:57] TikhomirovSergey commented on #642
@saikrishna321
Sorry for the delaying. I was busy.
Could you add the sample (how is it supposed to work)?

[2017-06-02 14:58] TikhomirovSergey commented on #637
@prudhvialahari Sorry for the delaying. Why do you use Selenium V2.53.1

[2017-06-02 15:02] TikhomirovSergey commented on #635
Can't reproduce. @eearif  If you are facing the issue still please reopen this issue. Also I advice you to update node.js t0 7.0.0

[2017-06-02 15:02] #635 closed

[2017-06-02 15:02] #590 closed

[2017-06-02 15:04] TikhomirovSergey commented on #564
So update of the server should resolve the problem.

[2017-06-02 15:04] #564 closed

[2017-06-02 15:08] TikhomirovSergey commented on #623
@vVv-AA Sorry for the delaying. I am was very busy.
Could you provide the code sample to reproduce?

[2017-06-02 15:12] TikhomirovSergey commented on #651
Hi @Nishanthshettar
v3.0.0 is too old.
Could you try it on 5.0.0-BETA8

[2017-06-02 15:17] TikhomirovSergey commented on #620
@KalveeduVijay
Are you facing the proble still? If it is true then please reopen the issue.

[2017-06-02 15:17] #620 closed

[2017-06-02 17:21] prudhvialahari commented on #637
So, do I need to use other version of selenium or should not selenium at all...?

[2017-06-02 21:55] SrinivasanTarget commented on #637
You don't need to use Selenium language bindings coz Java client internally
comes with latest Selenium language bindings.

On 02-Jun-2017 10:51 PM, "prudhvialahari" <notifications@github.com> wrote:

[2017-06-03 02:32] prudhvialahari commented on #637
Ohh.., okay. Can you please show how to initialize the driver for windows phone...

[2017-06-03 06:08] SrinivasanTarget commented on #641
@Hyphen31 Would you like to raise a PR?

[2017-06-03 06:13] SrinivasanTarget commented on #641
@TikhomirovSergey Is dot-net client already supports ```findElementByName```? I see [here](https://github.com/Microsoft/WinAppDriver/blob/master/Samples/C%23/CalculatorTest/CalculatorTestBase.cs#L48)

Same time wondering seeing this example of using IOSDriver for Windows [here](https://github.com/Microsoft/WinAppDriver/blob/master/Samples/Java/CalculatorTest/src/test/java/CalculatorTest.java#L34)?

[2017-06-04 07:23] gitissuepost opened #653 "AndroidDriver cannot be resolved as a type"
## Description

While instantiate WebDriver object using AndroidDriver, it is saying, "_AndroidDriver cannot be resolved as a type_". I am using a maven project to execute the scripts with Appium 5.0.0-BETA 8. However this si working fine with 4.1.2

## Environment
java client build version : **5.0.0-BETA-8**
Appium server version : **1.6.4**
Desktop OS/version : **Win 10**
Mobile platform/version

[2017-06-05 02:06] jcyrss commented on #150
closed ,why?
I met the same issue with python client . And I really doubt it is a bug of appium server.

with the following , I get only one element returned. But actually we have 4 elements matched.

[code]

but only append a 'instance(3)' at the end of java code statment, I get another element matched.
[code]

It seems obviously the issue of appium server.

[2017-06-05 07:16] vVv-AA commented on #623
Its working now. Please close.

[2017-06-05 07:56] #623 closed

[2017-06-05 08:15] saikrishna321 commented on #642
@TikhomirovSergey

android.json
[code]

[code]

userimplementation

[code]

[2017-06-05 10:59] fionazj commented on #552
Hey guys, any solution for this ? I met same problem... and my environment are as follow:
Appium: 1.6.4
Selenium/**Grid**: 3.2.0
Java-client: 5.0.0 BETA7

[2017-06-05 18:37] jeitae commented on #150
i have this on java:

@AndroidFindBy(uiAutomator = "new UiSelector().resourceId(\"com.application.activities:id/iconImageView\")")
public List<MobileElement> products;

products.get(0).click();
products.get(1).click();
products.get(2).click();
products.get(n).click();

[2017-06-06 05:35] yodurr commented on #641
We're in the process of moving all our samples to using the WindowsDriver.  There's no reason for it other than some of our samples were written before the WindowsDriver was available.

[2017-06-06 05:36] yodurr commented on #641
although in that example I see we are using WindowsDriver :)

[2017-06-06 09:28] Nishanthshettar commented on #651
@TikhomirovSergey thanks for looking in to it, yes I can try Java-Client 5.0.0-BETA8 since appium was converting  "UIATextField" to "XCUIElementTypeTextField" to match XCUI type I did not consider upgrading. Still I suspect something to do with server only.

[2017-06-06 12:53] MaheshReddyAkuleti commented on #581
Even I am facing the same issue..

[2017-06-06 18:29] surikiran opened #654 "Unable to find node.exe and main.js file to start appium hence unable to start appium programatically"
I am trying to start appium programatically I installed appium through npm using the below command
npm install -g appium
before this I installed nodejs too. Previously when I used to install appium it gets installed in C drive of my machine but now surprisingly it's taking C:/User/UserName/AppData/Roaming/npm/appium.... where I am not able to find node.exe as it used to come within the Appium fold

[2017-06-07 05:54] surikiran commented on #654
Small change in my above statement "Strange thing is appium itself not happening hence request for a help. This worked well in previous versions of Java but in latest version getting failed" is modified as......Strange thing is appium itself not opening when trying in this way hence request for a help. This worked well in previous versions of Appium both in Windows and Mac OS machines for both And

[2017-06-07 08:45] fionazj commented on #627
I met same problem even though use same version of selenium and java-client... would you please help to reopen this issue?

[2017-06-08 10:33] fionazj commented on #627
@ryanlevell, would you mind take a look at it? thanks~

[2017-06-09 00:02] PavithraNavaneeth commented on #633
@poorvikamahesh , For android version lesser than 7.0 you should not set the automationName to uiautomator2.

[2017-06-09 02:21] Brian-Watson commented on #633
Technically, uiautomator2 should work with Android 5+

[2017-06-11 17:45] kirillbilchenko commented on #150
Confirm see the same thing example is:
((AndroidDriver)getDriver()).findElementsByAndroidUIAutomator("new UiSelector().resourceIdMatches(\".*id/notificationFrame.*\").childSelector(new UiSelector().resourceIdMatches(\".*id/friendShip.*\"))")
result is 1 element
and ((AndroidDriver)getDriver()).findElementsByAndroidUIAutomator("new UiSelector().resourceIdMatches(\".*id/friendShip.*\")")
result is 2

[2017-06-12 06:19] fionazj opened #655 "Java-client will throw exceptions - GridException: Cannot extract a capabilities xxx with webdriver 3.x"
## Description

Before the session of the simulator is started, some errors will show up in hub log as follow.
## Environment

* WebDriver version build version : webdriver 3.3.1 (Also tried with webdriver 3.3.4)
* java client build version: java-client-5.0.0-BETA7
* Appium : 1.6.5
* Desktop OS/version used to run Appium if necessary: Mac OS 10.12.5
* Node.js version : 4.2.0
* Mobile platform/vers

[2017-06-13 15:51] TikhomirovSergey commented on #655
@fionazj Could you describe how do run hub/node?

Do you mean Selenium server? Or do you use another Selenium client dependency?

[2017-06-13 16:03] TikhomirovSergey commented on #654
@surikiran Hi. Sorry for the late response. I am busy now. Is the problem solved? Could you update Node js to 7.x and try again?

[2017-06-13 16:10] surikiran commented on #654
No not yet as you are the only person to respond to me as of now.......

On Tue, Jun 13, 2017 at 9:33 PM, Sergey Tikhomirov <notifications@github.com

[2017-06-14 03:19] fionazj commented on #655
@TikhomirovSergey , I mean the selenium server

And here's how I start hub and node:

**The hub started by following command:**
/usr/bin/java -jar /root/selenium-grid/selenium-server-standalone-3.3.1.jar -role hub -port 44442

**For the node, just a config file, and Appium will load the config file**
appium --session-override --debug-log-spacing --log "/tmp/appium.log" --log-level "info" --nodecon

[2017-06-14 15:22] balajireddytg commented on #640
@eliasnogueira
i add the new guava dependency and also its not working i'm working with
<dependency>
    <groupId>org.seleniumhq.selenium</groupId>
    <artifactId>selenium-server</artifactId>
    <version>3.3.0</version>
</dependency>
<dependency>
   <groupId>io.appium</groupId>
   <artifactId>java-client</artifactId>
   <version>5.0.0-BETA8</version>
      <exclusions>
         <exclusion>

[2017-06-15 11:33] imurchie opened #656 "New current_package endpoint on server"
## Description

Appium 1.6.6 beta has a new endpoint for getting the currently running package during an Android test. This needs to be supported in the Java Client.

See https://github.com/appium/appium-base-driver/commit/190a896d9ce8a877f95392f3ab3d5726f2b2c10a

Re: https://github.com/appium/appium/issues/8674

[2017-06-15 11:38] saikrishna321 commented on #656
@imurchie will get this on client as well..

[2017-06-16 09:18] saikrishna321 commented on #656
https://github.com/appium/java-client/pull/657

[2017-06-16 09:52] hemano commented on #312
This works for me all the time.

[code]

[2017-06-16 13:09] SrinivasanTarget commented on #653
@gitissuepost please raise generic issues in discuss forum.

[2017-06-16 13:09] #653 closed

[2017-06-16 13:12] #488 closed

[2017-06-16 13:16] gitissuepost commented on #653
@SrinivasanTarget Can you help me with the link to discuss forum

[2017-06-16 13:28] SrinivasanTarget commented on #653
discuss.appium.io but yours is not an appium related issue to discuss there though.

[2017-06-17 00:14] #616 closed

[2017-06-17 00:18] SrinivasanTarget commented on #637
@prudhvialahari Hey sorry i missed this thread. I actually don't remember windows-driver supports windows phone. @jlipps or @jonstoneman please confirm.

[2017-06-17 00:29] jlipps commented on #637
it does not

[2017-06-17 00:34] SrinivasanTarget commented on #637
@prudhvialahari Please raise a feature request [here](https://github.com/jonstoneman/appium-windows-driver/issues)

[2017-06-17 00:34] #637 closed

[2017-06-19 14:37] TikhomirovSergey commented on #655
It looks like a bug and it is related to #594 #597

[2017-06-19 17:25] toastsgithub commented on #416
I met the same problem,
I don't know why, I've checked the ANDROID_HOME manually,
and the 'appium-doctor' shows all the test case are passed,
but when I launch my test script with eclipse, the server throw this Error.

and finally this wired problem solved by set the `android sdk path` in `Android Settings --
 Advanced` of Appium

----

OS: MacOS 10.12
Appium: 1.5.3

hope this will help you guys

[2017-06-20 16:29] #656 closed

[2017-06-22 03:23] NgocVi93 commented on #594
I use java client V4.1.2. it is OK
But when i used Java client 5.0.0-BETA9 -> unable to create new remote session

[2017-06-22 04:44] SrinivasanTarget commented on #594
@NgocVi93 Everything is fine in Latest version. You should invalidate your cache and restart the ide. Also if you are using java client in pom.xml, you should not add selenium dependency manually in pom.xml since java-client comes with latest pom.xml.

[2017-06-22 07:41] NgocVi93 commented on #594
@SrinivasanTarget , I will try that. Thanks you for support.
:+1:

[2017-06-22 13:45] Brad19 opened #661 "Appium 1.6.4@beta exits with Original error: Command 'java -version' exited with code 2"
I'm trying to run my appium tests for android in emulator using appium 1.6.4@beta. The issue is when I run my code it stops running and exits with the message

An unknown server-side error occurred while processing the command. Original error: Command 'java -version' exited with code 2 (WARNING: The server did not provide any stacktrace information)

I'm not sure what went wrong. Is this the issue

[2017-06-22 15:10] samnit opened #662 "How do I open Web Browsers on windows through AppiumDriver instead of WebDriver ?"
How can I use appium driver to run web browsers on windows as when I try to initialise my Appium Driver with RemoteWebDriver or FirefoxDriver they give an error.
When I Use :
AppiumDriver driver=(AppiumDriver) new RemoteWebDriver(sUrl,caps);

It opens the browser but after that throws the error cannot convert from RemoteWebDriver to Appium Driver
and When I use this :
AppiumDriver driver=new Firef

[2017-06-24 06:16] #607 closed

[2017-06-24 06:24] SrinivasanTarget commented on #576
@Cindy1235 sorry for the late response. Please install latest version of appium using ```npm install -g appium@beta``` will install latest version which is 1.6.6 beta now. Please do raise issue if you hit the same again.

[2017-06-24 06:24] #576 closed

[2017-06-24 06:24] SrinivasanTarget commented on #662
By windows do you mean windows mobile? @samnit

[2017-06-24 06:27] SrinivasanTarget commented on #661
@Brad19 change caps from ```automationNation``` to ```automationName``` and give a try with latest version of appium server 1.6.6beta and client 5.0.0Beta9.

[2017-06-24 06:27] #661 closed

[2017-06-24 06:28] SrinivasanTarget commented on #654
@surikiran Any success? Apologies for late response. Let us know if you hit the same issue again.

[2017-06-24 12:00] #143 closed

[2017-06-24 12:02] #312 closed

[2017-06-24 12:03] SrinivasanTarget commented on #401
There are plenty of improvements around this space later. so closing this coz of inactivity.

[2017-06-24 12:03] #401 closed

[2017-06-26 03:15] Brad19 commented on #661
oops. My bad. Sorry!!!. I think it should be typo. But tried with automationName and it didn't work. I finally downgraded to Jdk1.8.0_121 and it launched the app successfully which is good, but the test is failed due to
`org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original error: Command '/Users/xxxx/Library/Android/sdk/build-tools/23

[2017-06-26 12:06] Brad19 commented on #661
The above exception got resolved if you run the release package manager (i.e., npm start) as the apk is a debug one.

[2017-06-26 12:06] Brad19 opened #664 "Appium - Android tests takes very long time to run and finally throws org.apache.http.NoHttpResponseException"
## Description

I was trying to run the appium tests for Android. And it is taking very very long time to run and slowly my first test is failing with
`org.openqa.selenium.WebDriverException: org.apache.http.NoHttpResponseException: 0.0.0.0:4723 failed to respond`

And there is no error from server. This in continuation of the following issue raised a day back.
https://github.com/appium/java-clien

[2017-06-26 18:52] samnit commented on #662
@SrinivasanTarget No, I meant windows for desktop. I want to run firefox through Appium driver on my PC.

[2017-06-27 04:11] SrinivasanTarget commented on #664
@Brad19 Java Client comes along with latest selenium client so you don't need to specify the selenium dependency in pom.xml. please remove that and invalidate the cache in your IDE and give a try. Also FYI there could be issues with Appium on Android 7.1.1.

[2017-06-27 04:14] SrinivasanTarget commented on #662
@samnit Check this out https://www.youtube.com/watch?v=MgBRvQOZhec

[2017-06-27 05:16] saikrishna321 commented on #664
@Brad19 make sure your capabilities are correct, i see you have added appPackage and appActivity for ios
[code]

[2017-06-27 21:15] Brad19 commented on #664
Thanks @SrinivasanTarget  @saikrishna321 . The issue was i was trying to find the elements for Android driver with xpath which i initially found for IOS thinking it'll be same.

[2017-06-28 05:04] saikrishna321 commented on #664
@Brad19 so is your issue fixed, if so can you pls close this issue

[2017-06-28 15:48] #664 closed

[2017-07-04 08:16] Logakarti opened #665 "'ESOCKETTIMEDOUT' exception shows in AWS"
I get the "ESOCKETTIMEDOUT" exception in AWS while automating the particular cases in Android. Appium log says "Error: Process didn't end after 20000ms at Timeout._onTimeout". How to resolve this issue. I stuck this issue for more than a day.  I can execute that particular cases in my real devices as well without issue.

## Environment
* Appium Version: 1.6.3
* Device : Motorola Moto G (AT&T)
* An

[2017-07-04 08:20] Logakarti commented on #665
@mykola-mokhnach

[2017-07-05 06:19] Brad19 opened #666 "Appium IOS driver could not identify subview elements from ListView"
## Description
Context - React-Native App

I'm trying to identify the elements inside the ListView using appium IOS driver, but it looks like it can't identify the sub view element at all for IOS. Whereas in android it works good. It looks like XCUITEST might have some issue or some settings to be changed. Not sure why this is not working. The Appium inspector or macaca inspector doesn't identify

[2017-07-05 06:25] mykola-mokhnach commented on #666
This could be a programming issue. Check https://github.com/appium/appium/issues/6517

[2017-07-06 00:52] Brad19 commented on #666
Thanks for the updates. I'm trying now with accessibility ID and will let you know if it works.

[2017-07-06 03:32] Brad19 commented on #666
I read through and noticed that accessibility label is required to be added. And it looks like parent view should be accessible to bring its child elements, whereas the above 6517 is bit different. But anyway I tried different possibility and still find that it is not working. Here is the code of the list view where I have made View as accessible and trying to find the child elements inside the vi

[2017-07-06 05:34] Brad19 commented on #666
Found the solution.  To make it visible, here it is required to set the parent component with accessible={false}. In this case we need to make <TouchableHighlight accessible = {false}>. Thanks for your support.

[2017-07-06 05:34] #666 closed

[2017-07-06 14:21] Hellydays commented on #627
The same problem with the same versions(

[2017-07-06 15:27] ryanlevell commented on #627
@fionazj @Hellydays Make sure it is not using an older version of Selenium through another dependency.

[2017-07-07 06:27] klzeng commented on #73
Hi @TikhomirovSergey , I use the "legal way"(2) you mentioned above, but it doesn't work, I got noSuchMethod error when using sendKeys.

In Abstract BasePage:
`protected BasePage(AndroidDriver<AndroidElement> driver){
		this.driver = driver;
		PageFactory.initElements(new AppiumFieldDecorator(driver, 5, TimeUnit.SECONDS), this);
}`

LoginPage extends BasePage:
`
@AndroidFindBy(id = "et_login_usern

[2017-07-07 10:50] kapilrana16 opened #667 "java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebDriver cannot be cast to io.appium.java_client.MobileDriver"
## The problem
I am getting below error message on line where i used "TouchAction action = new TouchAction((MobileDriver)driver);"

Please what should i do to remove below error.

ERROR MESSAGE:
`java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebDriver cannot be cast to io.appium.java_client.MobileDriver
	at com.qa.DragAndDrop.DragandDrop.getDesireCapabilities(DragandDrop.java:54)

[2017-07-07 11:10] kapilrana16 commented on #667
Earlier i loogged this under (https://github.com/appium/appium/issues/8798), and i got response from @mykola-mokhnach , suggested:
`Try to change driver = new RemoteWebDriver(new URL("http://0.0.0.0:4723/wd/hub"),cap); to
driver = new AndroidDriver(new URL("http://0.0.0.0:4723/wd/hub"),cap);
`

*After I implement that I start getting different issue :*  please check below link:
https://gist.github

[2017-07-07 14:26] kapilrana16 commented on #667
closing this issue, i got the solution.

[2017-07-07 14:26] #667 closed

[2017-07-10 16:15] rmeenasuresh commented on #73
Hi i got the same error  **NoSuchMethodError**. please anyone help me. i upgrade dependencies to  latest versions .

Pageobjectpage,
**_Note: static import the iosDriver_**
Class LoginPage(){
public LoginPage() {
  PageFactory.initElements(new AppiumFieldDecorator(iosDriver,15, TimeUnit.SECONDS), this);}

@iOSFindBy(xpath="//XCUIElementTypeButton[7]")
    private MobileElement Number1Btn;

public

[2017-07-11 08:22] skmvali opened #668 "Unable to resolve findElementByAndroidUIAutomator with java client :5.0.0-BETA9 version"
The problem

Unable to resolve the method findElementByAndroidUIAutomator with andriod driver object. Instead working fine with "MobileBy.AndroidUIAutomator("")". is "findElementByAndroidUIAutomator " deprecated with latest version?

Environment

Appium Java Client version : 5.0.0-BETA9
Code To Reproduce Issue

Working Code

DesiredCapabilities cap=new DesiredCapabilities();
cap.setCapability(Andr

[2017-07-11 12:49] Logakarti commented on #665
Have any solution for this issue?

[2017-07-13 05:06] Brad19 commented on #651
Is Accesibility set to true. if not, element won't be visible and you'll not be able to locate it as well.

[2017-07-13 18:34] krantos opened #670 "NoSuchElementException - sendKeys() & setValue()"
When I try to set values on a _XCUIElementTypeTextField_
with _sendKeys() & setValue()_
I get this error _org.openqa.selenium.NoSuchElementException: An element could not be located on the page using the given search parameters._

## Environment
java version: 1.8.0_101
Appium: 1.6.5 server & (Latest on the project pom.xml file)
iOS: Sierra 10.12.3
npm: 4.1.2
ios_platform_version = 10.3
ios_device_

[2017-07-13 18:37] SrinivasanTarget commented on #670
@krantos Can you post complete logs in form of [gist](https://gist.github.com/) here?

[2017-07-13 20:19] krantos commented on #670
I've replaced sensible info with xxxxx

https://gist.github.com/krantos/ce308136c88f66fe6b5b1879728b8af4

[2017-07-17 16:58] VenkateshPS commented on #52
what strategy to use if have same locator id for iOS and Android ?

[2017-07-17 17:07] umaralikhan commented on #52
@FindBy

[2017-07-19 06:52] mashkurm commented on #633
I am not able to create session when I use uiautomator2 as an automationName capability

[2017-07-19 09:18] thaitrongnghi opened #671 "UnsupportedCommandException: getSession error occurs when setting timeout for appium android webdriver"
## Environment
OS:  macOS Sierra
appium-java-client:  5.0.0-BETA6
Selenium version:   3.4.0
Others: IntelliJ, Java 1.8.0_121-b13

## Actual Behavior
It gives an error at step "driver = new AndroidDriver<>(executor, capabilities);" in my below script.
org.openqa.selenium.UnsupportedCommandException: getSession
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
System info: host: 'C0

[2017-07-19 17:07] didi112113 opened #672 "org.openqa.selenium.SessionNotCreatedException: A new session could not be created. Details: Problem getting session data for driver type AndroidDriver; does it implement 'get driverData'? (WARNING: The server did not provide any stacktrace information) Command duration or timeout: 33 milliseconds"
Hi,

Appium v1.65
Operating System: Windows 7
node v6.11.0
npm 3.10.10

I am new to Appium and I am getting this weird Error: org.openqa.selenium.SessionNotCreatedException: A new session could not be created. Details: Problem getting session data for driver type AndroidDriver; does it implement ‘get driverData’? (WARNING: The server did not provide any stacktrace information)
Command duration or

[2017-07-20 07:15] KaranKKK commented on #499
i want to start the appium server programatically
I am using
APPIUM_VERSION-----1.6.5
XCODE_VERSION------8.1.2
MAC OS VERSION-----10.11.16

Can any one help me out
Thanks in advance...

[2017-07-20 07:23] livastar opened #673 "[main] WARN net.thucydides.core.pages.Pages - Failed to instantiate page of type class pages.HomePage ({})"
## Description
After n times to upgrade the java-client I realized this.
Now I'm using java-client: 5.0.0-BETA8; appium: v1.6.6-beta.3; and serenity-version: 1.4.0
When I'm trying to increase the java client to 5.0.0-BETA9 it gives me the error "[main] WARN net.thucydides.core.pages.Pages - Failed to instantiate page of type class pages.HomePage ({})
java.lang.IllegalArgumentException: @$Proxy25:

[2017-07-20 10:41] TikhomirovSergey commented on #673
@livastar Hi. It is the issue of thucydides/serenity. We added the new parameter to locator annotions at 5.0.0-BETA9. Serenity has code that looks like it was pasted from older versions of java_ client.

I think that the correct way is to make some PR and propose it to serenity. We have some public API.

[2017-07-20 10:49] TikhomirovSergey commented on #671
@thaitrongnghi What is the Appium backend version?

[2017-07-20 10:59] TikhomirovSergey commented on #668
@skmvali

Sorry for the delaying. I am busy.
What do you expect?
Yes. AppiumDriver  has NO findElementByAndroidUIAutomator. It is not implemented by the AppiumDriver class but it is implemented by the AndroidDriver. So the there are two correct ways:

[code]
as you has described

[code]

[2017-07-20 11:54] skmvali commented on #668
Thanks for the reply @TikhomirovSergey

[2017-07-20 12:22] shahulprofile commented on #339
Run Appium.
It will create new session, Find the port number. (always it will be like - address "127.0.0.1" --robot-
 port 4)
Port number should match with the capability.

Example: If my port number is 4, then

		AndroidDriver driver = new AndroidDriver(new URL("http://127.0.0.1:4/wd/hub"),cap);
Thanks,
Shameed.

[2017-07-20 13:41] LeePray opened #674 "Cannot access Duration"
## Description
I cannot use Duration in .waitaction
## Environment

* Android studio 2.3.3
* Appium server version: 1.6.5
* Desktop OS/version used to run Appium if necessary:Mac os
* Mobile platform/version under test: Android 6.0.1
* Real device or emulator/simulator: Real

## Details

## Code To Reproduce Issue [ Good To Have ]

[code]

## Ecxeption stacktraces

Error:(23, 17) error: cannot acc

[2017-07-20 13:56] SrinivasanTarget commented on #674
`waitAction` method can accept only duration not integer. Also make sure you have java 8 and same is correctly configured on path. Java-client or Selenium officially supports Java 8 as min version.

[2017-07-20 13:56] #674 closed

[2017-07-20 14:04] BenjaminFausett opened #675 "org.openqa.selenium.WebDriverException: No command or response codec has been defined. Unable to proceed"
## Description
org.openqa.selenium.WebDriverException: No command or response codec has been defined. Unable to proceed

This exception appeared overnight between 7/19/17 and 7/20/17 running tests on the exact same codebase. This exception is thrown the first time the driver is attempted to be used to do anything, such as getting the page source or clicking an element.

I don't know if this is an

[2017-07-20 14:06] LeePray commented on #674
@SrinivasanTarget  Thanks for answer.
But i already put the correct Java 8 version .

[2017-07-20 14:09] SrinivasanTarget commented on #674
@LeePray You are sending integer to a method where it expects only Duration so change int to duration and please send it like below,
`waitAction(Duration.ofSeconds(3)).moveTo(endPoint, anchor).release().perform();`

[2017-07-20 14:11] LeePray commented on #674
@SrinivasanTarget  Sorry , i didn't say this.
When i import Duration , it is  always  maked org.openqa.~~~ .
I cannot import java.time.Duration.
But i already said that i put the correct path.

/Library/Java/JavaVirtualMachines/jdk1.8.0_141.jdk/Contents/Home

[2017-07-20 14:17] SrinivasanTarget commented on #674
Please raise your question on our discuss forum. It is something to do with your IDE or should invalidate cache and update your maven repository if not. Nothing to do with Appium or javaclient.

[2017-07-20 22:06] amedvedjev opened #676 "Android: StartActivity() does not allow configure appWaitActivity"
## The problem

When i want so start some activity on phone there is no way set "appWaitAcivity". as result this cause fail in code.

Why not remove "Depricated" from other startActivity() ?

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.6-beta2, java-client: 5.0.0-BETA9

## Details

**Failed code:**
[code]

**Working code:**
[code]

https://github.com/appium/appi

[2017-07-21 12:12] amedvedjev commented on #676
found! should be here now:
Activity activity = new Activity("app package goes here", "app activity goes here");
     *     activity.setWaitAppPackage("app wait package goes here");
     *     activity.setWaitAppActivity("app wait activity goes here");
     *     driver.startActivity(activity);

[2017-07-21 12:12] #676 closed

[2017-07-21 13:29] BenjaminFausett commented on #675
Found the problem. A in house dependency had been built using java-client 2 and maven decided to use that instead version 5 that I have specified in my projects pom file.

[2017-07-21 13:29] #675 closed

[2017-07-23 05:25] SrinivasanTarget commented on #672
@didi112113 I dont see any issues with Appium running parallel using https://github.com/saikrishna321/AppiumTestDistribution. Please check there how was the appium sessions being started parallely for more info raise your questions in appium discuss forum.

[2017-07-23 05:25] #672 closed

[2017-07-23 05:30] SrinivasanTarget commented on #668
I think it is reopened by mistake. Feel free to reopen if you still hit any issues.

[2017-07-23 05:30] #668 closed

[2017-07-24 08:24] amedvedjev opened #677 "toggleTouchIDEnrollment not implemented?"
## Description

i see with latest java-client Beta9 we have available "performTouchID" but "toggleTouchIDEnrollment" not available. Did i miss something?

[code]

although i see this in test - https://github.com/appium/java-client/blob/master/src/test/java/io/appium/java_client/ios/XCUIAutomationTest.java

PS: Also is it possible implement to get current state of TouchIDEnrollment?

[2017-07-24 08:26] SrinivasanTarget commented on #677
Test is available [here](https://github.com/appium/java-client/blob/master/src/test/java/io/appium/java_client/ios/XCUIAutomationTest.java#L53) and it is implemented only in XCUIT mode

[2017-07-24 08:40] amedvedjev commented on #677
@SrinivasanTarget where does toggleTouchIDEnrollment() pointing to?
e.g. performTouchID -> interface PerformsTouchID

as workaround i am starting driver with "ALLOW_TOUCHID_ENROLL" true.

[2017-07-25 07:48] thaitrongnghi commented on #671
Hi @TikhomirovSergey,
➜  ~: appium
[Appium] Welcome to Appium v1.6.4

Is this that you needed?
Thanks

[2017-07-25 12:18] vikramvi commented on #655
@TikhomirovSergey  issue is still there with BETA9 as well.

@fionazj any workaround you found ?

[2017-07-25 17:33] vikramvi commented on #594
@SrinivasanTarget can you please check https://github.com/appium/appium/issues/8916, it doesn't seems to be working properly

[2017-07-26 03:54] SrinivasanTarget commented on #594
@vikramvi Ok, will look into it.

[2017-07-26 10:04] vikramvi commented on #588
with appium server 1.6.6-beta3 + 5.0.0-BETA9, was getting below error at android driver creation step.

Any idea why this weird error message ?

The issue got solved with below entries

          **<dependency>
            <groupId>io.appium</groupId>
            <artifactId>java-client</artifactId>
            <version>5.0.0-BETA9</version>
            <exclusions>
                <exclusion>

[2017-07-26 15:28] mojojojo94 opened #678 "Replacement for Deprecated Swipe Functions in 5.0.0-BETA2?"
Pretty much the title. Label as question.

Saw that AppiumDriver swipe and MobileElement swipe functions were marked deprecated, is there a replacement for it? Or a better alternative?

Thank you for your time.

[2017-07-26 15:29] mykola-mokhnach commented on #678
Use TouchAction methods for swipe purposes.

[2017-07-26 15:30] mojojojo94 commented on #678
Thank you @mykola-mokhnach, could you provide documentation for those. Thanks again.

[2017-07-26 15:32] mykola-mokhnach commented on #678
https://github.com/appium/java-client/blob/master/src/main/java/io/appium/java_client/TouchAction.java

All methods there are nicely documented

[2017-07-26 15:35] mojojojo94 commented on #678
Thank you so much @mykola-mokhnach!!

[2017-07-26 15:35] #678 closed

[2017-07-26 16:05] SrinivasanTarget commented on #588
@vikramvi Its a dependency conflict issue which we are aware of, which is being rectified in latest Selenium version released couple of days back.

[2017-07-27 06:52] Vismi1 commented on #594
Hii Sir,

[2017-07-27 07:05] Vismi1 commented on #594
Hii all,

I have installed below listed versions (mac machine):-

1.Java  - 1.8.0_131
2.xcode - 8.3.3
3.Appium -Version 1.5.3
4.Selenium- 3.4.0
5.Eclipse- 4.7.0

While running the code showing the error "Unable to create new remote session"
I have attached eclipse code, console error ,appium code.

Please anyone help me out from this situation.

[untitled folder.zip](https://github.com/appium/java

[2017-07-27 07:14] SrinivasanTarget commented on #594
Please raise new issues with proper description and logs in form of gist. This is not relevant thread to raise queries.

[2017-07-27 07:29] Vismi1 opened #679 "Showing the eclipse console error "Unable to create new remote session" on mac"
## Description
I have installed below listed versions in my mac machine. While running the code in eclipse showing the console error "Unable to create new remote session"
I have attached eclipse code, console error ,appium code. please see in the attachemnt

[untitled folder.zip](https://github.com/appium/java-client/files/1179153/untitled.folder.zip)

## Environment

1.Java - 1.8.0_131
2.xcode -

[2017-07-27 07:32] SrinivasanTarget commented on #679
@Vismi1 Which version of java client are you using? Also did you invalidate your IDE cache and restarted it? Can you share your logs inform of [gist](https://gist.github.com/)? Share your pom.xml as well if possible.

[2017-07-27 08:07] Vismi1 commented on #679
Java Client version: 2.1.0
I had cleared cache and restarted , still showing same error
Where i can find pom.xml file??

[2017-07-27 08:40] SrinivasanTarget commented on #679
@Vismi1 Please try in a latest version of java client.

[2017-07-27 09:03] Vismi1 commented on #679
kk..Let me check it

[2017-07-27 09:23] Vismi1 commented on #679
Installed latest java version....

showing the error.....

org.openqa.selenium.WebDriverException:Unable to parse remote response: Parameters were incorrect. We wanted {"required":["desiredCapabilities"],"optional":["requiredCapabilities","sessionId","id"]} and you sent ["desiredCapabilities","requiredCapabilities","capabilities"]

[2017-07-27 12:34] SrinivasanTarget commented on #679
Dude not java JDK, please use latest version of appium's [java-client](https://github.com/appium/java-client/)

[2017-07-27 12:34] #679 closed

[2017-07-27 12:36] Vismi1 commented on #679
Sorry my mistake....
Installed latest java client version...

[2017-07-27 19:34] krantos commented on #670
I've made a workaround for this.

[2017-07-27 19:34] #670 closed

[2017-07-28 22:19] TikhomirovSergey commented on #655
https://github.com/appium/appium/issues/8916

[2017-08-01 11:34] squeemish opened #683 "variable name used for element lookup instead of Page Factory annotation for IOSElement (native app)"
## Description

The variable name assigned to an IOSElement in Page Factory annotation is used to lookup the element instead of the actual annotation locator provided.

If the variable name is the same as the 'name' of the element, the element is found. But if you name the element variable anything different than the actual assigned name of the element in code, the element is not found.

## Enviro

[2017-08-01 12:49] MeghaRamprasad commented on #574
Hi @vikramvi and @TikhomirovSergey , Please help me with it.

Both explicit and implicit waits aren't working for appium.
Tried several ways, mentioning below one among them. As of now I am using explicit wait and it breaks at below line of code >>   **wait.until(ExpectedConditions.elementToBeClickable(element));**
**Error :** NoSuchMethodError
 _java.lang.NoSuchMethodError: org.openqa.selenium.su

[2017-08-03 07:20] ajit-jadhav opened #684 "Swipe action performs invalid tap on element since navigating on false UI."
## Description
Swipe action from AndroidDriver class performs invalid tap on element since navigating on false UI.

## Environment

* java client build version - 3.4.1
* Appium server version - 1.6.3
* Desktop OS/version used to run Appium if necessary: Windows-8
* Mobile platform/version under test: Android 6.0
* Real device or emulator/simulator:Samsung On 7

## Details
 1. While performing swip

[2017-08-03 13:30] pavanbachu0604 opened #687 "java.lang.IllegalArgumentException: If you use a '@$Proxy14' annotation, you must not also use a '@$Proxy15' annotation"
## Description

Observing the above error message in Page Factory Model. I have referred [Link](https://github.com/appium/java-client/blob/master/src/test/java/io/appium/java_client/pagefactory_tests/IOSPageFactoryTest.java)
for writing the xpath

## Environment

* java client build version or git revision if you use some shapshot: 4.1.2
* Appium server version or git revision if you use some shap

[2017-08-03 13:49] neoaadil commented on #49
Location alert pop up of full screen, allow or Deny button not working even after text is shown

[2017-08-05 06:47] TikhomirovSergey commented on #655
The bug was fixed at #682. For now it is recommended to use older selenium server. The fix is going to be available in 5.0.0 soon.

[2017-08-05 06:47] #655 closed

[2017-08-05 06:50] TikhomirovSergey commented on #684
This method is going to be removed at 5.0.0. It is deprecated method. Please use touch actions instead.

[2017-08-05 06:50] #684 closed

[2017-08-05 06:51] #673 closed

[2017-08-05 22:08] TikhomirovSergey commented on #687
@pavanbachu0604

The actual version is 5.0.0-BETA9. The error that you caught is the normal behaviour for the 4.1.2.

[2017-08-05 22:08] #687 closed

[2017-08-07 07:50] GospelHW opened #688 "In the execution of test unit checkAbilityToStartDefaultService"
"C:\Program Files\Android\Android Studio\jre\bin\java" -Didea.launcher.port=7532 "-Didea.launcher.bin.path=C:\Program Files\Android\Android Studio\bin" -Didea.junit.sm_runner -Dfile.encoding=UTF-8 -classpath "C:\Program Files\Android\Android Studio\lib\idea_rt.jar;C:\Program Files\Android\Android Studio\plugins\junit\lib\junit-rt.jar;C:\Program Files\Android\Android Studio\jre\jre\lib\charsets.jar

[2017-08-07 08:28] GospelHW opened #689 "Why can't I find this file"
![image](https://user-images.githubusercontent.com/24928406/29018302-313e5102-7b8d-11e7-8ca3-468afeb15f75.png)

GET_PATH_TO_DEFAULT_NODE_UNIX("get_path_to_default_node.sh"),
 GET_NODE_JS_EXECUTABLE("getExe.js");
    private static final String RESOURCE_FOLDER = "/scripts/";
    private final String script;

    Scripts(String script) {
        this.script = script;
    }

    public File getScript

[2017-08-07 14:27] pavanbachu0604 opened #690 "Error when Trying to click FluentWait.until(Lcom/google/common/base/Function;)Ljava/lang/Object; Exception"
## Description

Trying to click element of Native Screen

## Environment

* java client build version or git revision if you use some snapshot: 4.1.2
* Appium server version or git revision if you use some snapshot: 1.6.5
* Desktop OS/version used to run Appium if necessary: MacOS
* Node.js version (unless using Appium.app|exe) or Appium CLI or Appium.app|exe:
* Mobile platform/version under test:

[2017-08-08 03:16] GospelHW opened #691 "org.openqa.selenium.SessionNotCreatedException: Unable to create new remote session. desired capabilities = Capabilities [{app=C:\Work\Appium\java-client-master\src\test\java\io\appium\java_client\ApiDemos-debug.apk, automationName=Appium, platformName=Android, deviceName=Android Emulator}], required capabilities = Capabilities [{}] Build info: version: '3.4.0', revision: 'unknown', time: 'unknown' System info: host: 'SIBMGUGKZT', ip: '15.145.48.70', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_112-release' Driver info: driver.version: AndroidDriver"
org.openqa.selenium.SessionNotCreatedException: Unable to create new remote session. desired capabilities = Capabilities [{app=C:\Work\Appium\java-client-master\src\test\java\io\appium\java_client\ApiDemos-debug.apk, automationName=Appium, platformName=Android, deviceName=Android Emulator}], required capabilities = Capabilities [{}]
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown

[2017-08-08 03:29] saikrishna321 commented on #691
pls provide the Appium server logs and also mention the java-client version

[2017-08-08 04:52] saikrishna321 commented on #689
@GospelHW pls raise any java-client related issue. This is more java concept.

@SrinivasanTarget pls close

[2017-08-08 07:06] GospelHW commented on #691
java-client version:
![image](https://user-images.githubusercontent.com/24928406/29060116-fdc67c50-7c4a-11e7-9034-c386130922b1.png)

Appium server logs :
{"version":"1.4.16","revision":"ae6877eff263066b26328d457bd285c0cc62430d"}},"sessionId":"53b13f2f-f943-41eb-bcf6-e4380f424ee1"}

thanks !

[2017-08-08 07:08] GospelHW commented on #689
why?
Isn't that a problem?I want to be helped because this is the problem I had when I was using the Appium java-client.thank you

[2017-08-08 07:09] #688 closed

[2017-08-08 07:31] SrinivasanTarget commented on #689
@GospelHW Whats the problem? I didn't get why do you use these scripts under resources. Are you trying to start appium server programmatically then here you go with [example](https://github.com/appium/java-client/blob/master/docs/The-starting-of-an-app-using-Appium-node-server-started-programmatically.md).

[2017-08-08 11:27] SrinivasanTarget commented on #691
@GospelHW I really don't understand what you are actually doing in Java Client code base. Are you helping us improving something in java client code base and got stuck? Please fill the issue template and give us logs inform of gist. Also share the sample code which you are trying. Clarify what are you working on.

[2017-08-14 16:42] xbald opened #692 "Hey Guys. Why did you have own WebElement interface?"
## Description

Please describe the issue. It may be a bug description. So then please briefly descride steps which you were trying to perform and what happened instead.
If there is the feature you want to see added to Appium Java client so please describe necessity of this feature and the way that it should work.

## Environment

* java client build version or git revision if you use some shapsho

[2017-08-15 05:53] Brad19 opened #693 "setValue cut off texts on text field in iOS Simulator"
Please find the issue below raised under appium repo. Apologies for creating the issue again as i'm not sure if i've raised issue under correct repository. If this is the right place, please check and kindly advise as i got stuck on this.

https://github.com/appium/appium/issues/9029

[2017-08-15 08:28] vikramvi opened #694 ".withArgument(GeneralServerFlag.LOCAL_TIMEZONE, true) throws compilation error"
## Description

wrt https://github.com/appium/appium/issues/9022#issuecomment-322275627 & https://github.com/appium/appium/issues/9022#issuecomment-322410984

`.withArgument(GeneralServerFlag.LOCAL_TIMEZONE, true)`

throws below compilation error

`The method withArgument(ServerArgument, String) in the type AppiumServiceBuilder is not applicable for the arguments (GeneralServerFlag, boolean)`

- t

[2017-08-17 13:08] bennid commented on #638
I'm in need of running tests against older apis, and have seen this while running on a stock android emulator.  Should I open a new bug for this, or can this be re-opened?

[2017-08-17 14:14] Moshik177 commented on #638
i have the same problem , i am using server 1.6.5 and device version 4.2.2 ,  i got the error .null value in entry: deviceScreenSize=null ,i using Samsung galaxy s4 ,did you have any solution?

[2017-08-17 22:34] welnanick opened #696 "Warning: Selenium 3.5.1 breaks java client 5.0.0-BETA9"
I am using gradle to handle dependencies for my project. In my `build.gradle` I have `testCompile "io.appium:java-client:5.0.0-BETA9"` to compile the appium java client. It seems Selenium 3.5.1 was just released (their website has not been updated as I am writing this), and for some reason gradle is grabbing version 3.5.1 automatically for selenium-api, selenium-remote-driver, and selenium-support

[2017-08-18 14:46] NurdinKehe commented on #592
I updated https://mvnrepository.com/artifact/com.google.guava/guava to the latest version "23.0". It fixed my problem.

[2017-08-18 17:54] jason-edstrom commented on #696
I just solved this exact issue on my setup. Same resolution approach, forcing 3.4.0.

[2017-08-18 18:01] QAutomatron commented on #696
Faced the same problem. Thank you for a solution.

I tried a different one, it also helps:
[code]

[2017-08-18 18:03] SrinivasanTarget commented on #696
@QAutomatron @welnanick @jason-edstrom Whats the actual problem faced here? What breaks with 3.5.1? Gonna hands-on anyways tomorrow.

[2017-08-18 18:20] SrinivasanTarget commented on #696
Changes are here: https://github.com/SeleniumHQ/selenium/commit/323132d747fc5a64e57efd34f392f752073da503

[2017-08-18 18:27] welnanick commented on #696
It seems annotations (or possible all FindBy operations given the changes in selenium) break. When testing android, elements populated using `@AndroidFindBy` stay null, and when testing iOS elements populated using `@iOSFindBy` cause `org.openqa.selenium.WebDriverException`

Unfortunately I am not in a position to investigate further, nor confirm whether it is just presenting itself with gradle or

[2017-08-18 18:32] SrinivasanTarget commented on #696
Cool thanks. will investigate further.

[2017-08-18 18:33] SrinivasanTarget commented on #696
@TikhomirovSergey ping

[2017-08-18 19:00] Brian-Watson commented on #696
I'm seeing this for my Android tests after the Selenium 3.5.1 upgrade...

`org.openqa.selenium.remote.RemoteWebElement cannot be cast to io.appium.java_client.MobileElement
`
Where my code is attempting this...

`MobileElement foundElement = (MobileElement) wait.until(ExpectedConditions.presenceOfElementLocated(this.getLocator()));
`

[2017-08-19 20:10] SrinivasanTarget commented on #696
https://github.com/appium/java-client/pull/698

[2017-08-21 15:53] vikramvi opened #700 "The type AppiumDriver is not generic; it cannot be parameterized with arguments <MobileElement>"
## Description

- As per https://github.com/appium/java-client/blob/master/docs/The-starting-of-an-Android-app.md, trying to create generic driver and assign particular driver instance to it ( android / ios )
- getting below weird errors
- Error 1
   import io.appium.java_client.AppiumDriver;
   The import io.appium.java_client.AppiumDriver conflicts with a type defined in the same file
- Error 2

[2017-08-23 04:08] Brad19 commented on #693
Please find the temporary solution I found to be working

What i did was the following which works for Appium 1.6.5 & 1.6.6-beta.4 version as well and pretty much works only for IOS simulator 10.2 version.

capabilities.setCapability(MobileCapabilityType.DEVICE_NAME, "iPhone 6");
capabilities.setCapability(MobileCapabilityType.PLATFORM_NAME, "iOS" );
capabilities.setCapability(MobileCapabilityType

[2017-08-23 20:03] TikhomirovSergey commented on #691
This issue is not actual.
Also I am seeing that string

If you use this old versin so please uddate your server to 1.6.x and try again. If you face up the issue please reopen this ticket and describe it with this template https://github.com/appium/java-client/blob/master/ISSUE_TEMPLATE.md

[2017-08-23 20:03] #691 closed

[2017-08-23 20:27] TikhomirovSergey commented on #690
This is not the appium issue. This is related to latest changes of Selenium
https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/ui/FluentWait.java#L204

https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/support/ui/FluentWait.java#L34

not google. Sorry.

[2017-08-23 20:27] #690 closed

[2017-08-23 20:31] TikhomirovSergey commented on #689
Can't reproduce.

[2017-08-23 20:31] #689 closed

[2017-08-24 15:25] TikhomirovSergey commented on #694
@vikramvi Please re-open this issue if not everything is ok and provide more details.

[2017-08-24 15:25] #694 closed

[2017-08-24 15:35] TikhomirovSergey commented on #696
The fix is here #699. It will be published on the nearest (26.08.2017 - 27.08.2017)  weekend.

[2017-08-24 15:35] #696 closed

[2017-08-25 01:26] avanishf opened #701 "java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebElement cannot be cast to io.appium.java_client.MobileElement"
## Description
I am not able to access Mobile elements while automating Android mobile app. I get the following ERROR :
java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebElement cannot be cast to io.appium.java_client.MobileElement

I am not able to understand why its trying to use RemoteWebElement when i am clearly using MobileElement in my code. Somewhere on other discussion, the

[2017-08-25 05:19] avanishf commented on #701
I downgraded the java client to 4.1.2 and selenium version 3.2.0 and it worked. Closing this issue.

[2017-08-25 05:19] #701 closed

[2017-08-25 08:09] vikramvi commented on #694
@TikhomirovSergey I think this is not invalid issue.

https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/server-args.md, if I want to set value as **true** how to do that ?

Can you please re-open this issue as I don't have permission to do it

[2017-08-25 08:15] TikhomirovSergey commented on #694
[code]

[2017-08-26 05:28] Logakarti opened #702 ""com.google.common.collect.Multimaps.transformValues" error shows while running the app suite in AWS"
## Description
"com.google.common.collect.Multimaps.transformValues(Lcom/google/common/collect/ListMultimap;Lcom/google/common/base/Function;)Lcom/google/common/collect/ListMultimap" error shows while automating the app suite in AWS for Android.

I have no idea to predict the exact issue and where it.
## Environment
Appium version (or git revision) that exhibits the issue: 1.6.5
Mobile platform/ve

[2017-08-26 13:50] TikhomirovSergey commented on #702
@Logakarti could you show java stacktrace?

[2017-08-28 04:55] Logakarti commented on #702
I resolved this issue after adding the below dependency in the pom.xml

<dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</artifactId>
            <version>21.0</version>
        </dependency>

Thanks for lookup...

[2017-08-28 05:17] SrinivasanTarget commented on #702
@Logakarti We have released a latest java-client so please give a try there as well.

[code]

[2017-08-28 05:25] Logakarti opened #703 ""Encountered internal error running command: Error: Process didn't end after 10000ms" error shows while running the app suite in AWS for Android tablet devices."
## Description
"Encountered internal error running command: Error: Process didn't end after 10000ms" error shows while running the app suite in AWS for Android tablet devices.

I could run successfully without any error in my Android tablet devices and emulators.

## Environment
* Appium -java-client : 4.1.2
* Appium server version or git revision if you use some shapshot: 1.6.3
* Desktop OS/versi

[2017-08-28 05:28] Logakarti commented on #702
Thanks @SrinivasanTarget

Sure, I will try it and let you know if any difficulties.

[2017-08-28 05:29] Logakarti commented on #703
@SrinivasanTarget

[2017-08-28 05:58] SrinivasanTarget commented on #702
Sure @Logakarti

[2017-08-28 06:21] Logakarti commented on #703
Anyone help me to resolve this issue.

[2017-08-28 06:24] SrinivasanTarget commented on #703
@Logakarti Update your chromeversion and give a try. Also would be good if you use latest appium version too which is in beta now. please install via `npm install -g appium@beta`.

[2017-08-28 06:27] Logakarti commented on #703
@SrinivasanTarget

I couldn't update the chromedriver and latest appium , because I'm running my cases in AWS cloud machine.  I can run my cases without issue in my local physical devices and emulators.

[2017-08-28 07:19] TikhomirovSergey commented on #703
Servere version and client versin are old. I think we could mark it invalid. I think that @Logakarti have to try it with updated Appium.

[2017-08-28 08:06] Logakarti commented on #703
I tried it appium version(1.6.5) and client version(5.0..0) also, the issue still happens.

[2017-08-28 11:54] TikhomirovSergey commented on #703
@Logakarti
It looks similar to
https://github.com/appium/appium/issues/7423

[2017-08-28 11:59] TikhomirovSergey commented on #703
Also it is possible that there is something wrong on the server side

[2017-08-28 12:03] TikhomirovSergey commented on #581
We don't support the swipe method anymore, so this issue is closed.

[2017-08-28 12:03] #581 closed

[2017-08-28 12:08] TikhomirovSergey commented on #511
@jedi-tester Is the issue actual yet? If it is true please reopen then.

[2017-08-28 12:08] #511 closed

[2017-08-28 12:20] amedvedjev opened #704 "5.0.0: Brokes iOS tests"
## Description

Move from 5.0.0-BETA9 -> 5.0.0 cause iOS tests fail to find any element

## Environment

* java client build version or git revision if you use some shapshot: 5.0.0
* Appium server version or git revision if you use some shapshot: 1.6.6-beta.4
* Desktop OS/version used to run Appium if necessary: macOS 10.12.6
* Mobile platform/version under test: iOS Simulator

## Code To Reproduc

[2017-08-28 16:27] ranjitnayak007 opened #706 "Protocol handshake issue"
## Description

org.openqa.selenium.remote.ProtocolHandshake createSession
INFO: Detected dialect: OSS
Exception in thread "main" java.lang.NoSuchMethodError: org.openqa.selenium.support.ui.WebDriverWait.until(Lcom/google/common/base/Function;)Ljava/lang/Object;

[2017-08-28 16:32] SrinivasanTarget commented on #706
@ranjitnayak007 Follow the issue description and provide as much info as possible for us to respond.

[2017-08-28 17:02] TikhomirovSergey commented on #706
#690

[2017-08-28 17:02] #706 closed

[2017-08-28 20:04] #704 closed

[2017-08-28 21:25] welnanick opened #707 "org.openqa.selenium.remote.ProtocolHandshake createSession Error"
## Description

I updated to java-client v5.0.0 today and suddenly my tests would show an org.openqa.selenium.remote.ProtocolHandshake createSession error when starting the test suite, but the tests still all passed without issue.

## Environment

* java client build version or git revision if you use some shapshot: v5.0.0
* Appium server version or git revision if you use some shapshot: 1.6.6-bet

[2017-08-28 23:11] welnanick opened #708 "v5.0.0 platform not recognized iOS causing tests to fail"
## Description

I went from v5.0.0-BETA9 to v5.0.0 today. Android tests work fine, but iOS tests don't work.

## Environment

* java client build version or git revision if you use some shapshot: v5.0.0
* Appium server version or git revision if you use some shapshot: 1.6.6-beta4
* Desktop OS/version used to run Appium if necessary: macOS Sierra 10.12.6
* Node.js version (unless using Appium.app|e